[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.x.cfg
package-name = collective.z3cform.html5widgets
extensions=mr.developer
sources=sources
auto-checkout=*

[instance]
zcml+=collective.z3cform.html5widgets.example

[sources]
plone.app.modernizr = git git@github.com:plone/plone.app.modernizr.git
collective.js.webshims = git git@github.com:toutpt/collective.js.webshims.git
collective.z3cform.datetimewidget = git git@github.com:collective/collective.z3cform.datetimewidget.git

[versions]
plone.app.jquery = 1.8.3
