; vim: set fileencoding=utf-8 :
; author: Manuel Guenther <Manuel.Guenther@idiap.ch>
; date:   Thu Dec  6 12:28:25 CET 2012

[buildout]
parts = tests sphinx python
develop = .
eggs = xbob.db.verification.utils
newest = false

; If Bob not installed on the root directory, **prefix** "external" in the
; "parts" entry of the "buildout" section above and set "egg-directories" to
; full path of the "lib" directory where Bob is.
[external]
recipe = xbob.buildout:external
bob = /idiap/group/torch5spro/nightlies/last/install/linux-x86_64-release
egg-directories = ${external:bob}/lib

[tests]
recipe = xbob.buildout:nose
eggs = ${buildout:eggs}
script = tests.py

[sphinx]
recipe = xbob.buildout:sphinx
eggs = ${buildout:eggs}
source = ${buildout:directory}/docs
build = ${buildout:directory}/sphinx

[python]
recipe = zc.recipe.egg
interpreter = python
eggs = ${buildout:eggs}
