// Fonts - http://www.google.com/webfonts
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400");
@font-face {
  font-family: 'tahomabd';
  src: url('fonts/tahomabd.eot');
  src: local('☺'), url('fonts/tahomabd.woff') format('woff'), url('fonts/tahomabd.ttf') format('truetype'), url('fonts/tahomabd.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Font definitions
@fntFAM_Default: Verdana,Arial,Helvetica,sans-serif;
@fntFAM_Heading: "Source Sans Pro", Verdana,Arial,Helvetica,sans-serif;
@fntFAM_Menu: @fntFAM_Default;
