#body DIV.topic DIV.gallery {
	padding: 10px 0px;
}

#body DIV.topic DIV.gallery DIV.image_wrapper {
	float: left;
	margin: 8px 6px;
	width: 152px;
}

#body DIV.topic DIV.gallery DIV.image {
	position: relative;
	padding: 10px;
	width: 130px;
	height: 130px;
	background-color: white;
	border: 1px solid silver;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	box-shadow: 4px 4px 4px silver;
	-moz-box-shadow: 4px 4px 4px silver;
	-webkit-box-shadow: 4px 4px 4px silver;
}

#body DIV.topic DIV.gallery IMG.thumbnail {
	border: 1px inset silver;
}

#body DIV.topic DIV.gallery IMG.caddie-sm {
	position: absolute;
	cursor: pointer;
	bottom: 5px;
	right: 5px;
}

#body DIV.topic DIV.gallery DIV.toolbox {
	margin-top: 5px;
	text-align: center;
}

#body DIV.topic DIV.gallery DIV.actions {
	text-align: right;
}

#body DIV.topic DIV.gallery DIV.actions IMG {
	width: 16px;
	height: 16px;
}

/*
 * Fancybox
 */
#fancybox-title-over {
	min-height: 32px;
}

DIV.fancybox-title-over H3 {
	margin: 0px;
	padding-bottom: 5px;
	border-bottom: 2px solid white;
	background: transparent url(/--static--/ztfy.gallery.defaultskin/img/paypal.png) scroll no-repeat right top;
}

DIV.fancybox-title-over DIV.caddie {
	float: right;
}

DIV.fancybox-title-over DIV.caddie IMG {
	padding: 5px 10px;
	width: 44px;
	height: 32px;
}

DIV.fancybox-title-over DIV.opaque {
	background-image: url(/--static--/ztfy.jqueryui/img/fancy_title_over.png);
}
