[test]
# The API username/password/entry point. The entry point can be left
# empty and the default entry point will be used.
username = <username>
password = <password>
#service_url = 

# To allow tests that require network blocking (e.g. the API client
# reconnect tests), set network_blocking to 'yes'. This also requires
# sudo to be available (either via password-less sudo or via the
# sudo_password setting below).
#network_blocking = yes

# The sudo password. Required for the network blocking tests if password
# less sudo is not available.
#sudo_password = 
