/*@mainColor          : #567490; // 476076 384B5D
@buttonColor        : @mainColor;
@selectedColor      : @buttonColor;

@linkColorNormal    : lighten(saturate(@mainColor, 20%), 12%); // 4F6A83
@linkColorActive    : darken(@linkColorNormal, 20%); // 3C5063

@lightColor         : #FFFFFF;
@darkColor          : #000000;
@lightGreyColor     : darken(@lightColor, 4%);  // f5f5f5
@mediumGreyColor    : darken(@lightColor, 27%); // bababa
@darkGreyColor      : darken(@lightColor, 60%); // 666666

@category1Color     : #56626B;
@category2Color     : lighten(saturate(spin(@category1Color,  -50), 10%), 10%); // 61937f
@category3Color     : lighten(saturate(spin(@category1Color, -140), 40%), 20%); // c0ca5d
@category4Color     : lighten(saturate(spin(@category1Color, -180), 45%), 20%); // d08b57
@category5Color     : lighten(saturate(spin(@category1Color,  135), 25%), 15%); // b25c77

@informationColor   : @category2Color; // 61937f
@warningColor       : #BD4932;
@warningButtonColor : @warningColor;
@importantColor     : #6C101E;

// Units
@headerBgPosX       : -300px;
@headerBgPosY       : -70px;

// Connexion
@connexionTitleSize : 12em;
@connexionTitleTop  : -3em;

// Images
@theme              : "++resource++jalon.theme.images";
@backgroundImage    : "portal-header.png";*/
/**************************************************/
/**************************************************/
/**************************************************/
/**************************************************/
/**************************************************/
/*** LAYOUT **************************************************************************************/
div.arrondi a:link {
  color: #666666 ! important;
}
div.width-full {
  width: 100%;
}
div.width-1\3a 3 {
  width: 33.33%;
}
div.position-1\3a 3 {
  margin-left: -66.66%;
}
div.position-2\3a 3 {
  margin-left: -33.33%;
}
div.position-1\3a 3 > .arrondi,
div.position-2\3a 3 > .arrondi {
  margin-left: 0.25em;
}
div.width-3\3a 4 {
  width: 69%;
}
div.position-1\3a 4 {
  margin-left: -69%;
}
div.width-1\3a 4 {
  width: 30%;
}
div.position-3\3a 4 {
  margin-left: -30%;
}
div.position-0 {
  margin-left: -100%;
}
#visual-portal-wrapper {
  min-width: 53em;
}
.documentContent {
  background-color: transparent;
  padding-top: 2em !important;
}
.documentActions {
  border: 0;
}
#portal-colophon {
  display: none;
}
#portal-personaltools {
  padding: 0;
  line-height: 2em;
}
#portal-column-content,
#region-content {
  border: 0 !important;
  padding: 0 !important;
}
#portal-footer,
#portal-siteactions {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  text-shadow: 0 0 0 #000000;
  clear: both;
}
#portal-footer p {
  color: #ffffff;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 0 ;
  -moz-border-radius: 0 ;
  border-radius: 0 ;
  padding: 0.5em 0;
  margin: 0;
  -webkit-box-shadow: 0 3px 3px #333333  ;
  -moz-box-shadow: 0 3px 3px #333333  ;
  box-shadow: 0 3px 3px #333333  ;
  background-image: url('++resource++uvsq.theme.images/uvsq-logo.png');
  background-repeat: no-repeat;
  background-position: right center;
  height: 30px;
}
#portal-footer span.cache {
  display: none;
}
#portal-footer a {
  color: #ffffff !important;
  text-decoration: none !important;
}
#portal-footer a:hover {
  text-decoration: underline !important;
}
div#content,
#portal-column-one {
  background-image: none;
  background-repeat: repeat-x;
  background-position: left bottom;
  background-color: #f5f5f5;
  -webkit-box-shadow: 0 0 0 #333333  ;
  -moz-box-shadow: 0 0 0 #333333  ;
  box-shadow: 0 0 0 #333333  ;
}
div#content {
  margin: 0;
  padding: 10px 20px 4em 20px;
}
#portal-column-one {
  color: #333333;
}
/*** TROMBINOSCOPE *****************************************************************/
#listingTrombi ul {
  text-align: center;
}
#listingTrombi ul li {
  background-color: #ffffff;
  color: #333333;
  display: inline-block;
  width: 21.5%;
  padding: 1%;
  margin: 0.5%;
  margin-bottom: 5px;
  font-family: "Comic Sans MS";
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5)  ;
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5)  ;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5)  ;
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  transform: rotate(1deg);
  zoom: 1;
}
#listingTrombi ul li:nth-child(3n) {
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg);
  zoom: 1;
}
#listingTrombi ul li img {
  width: 100%;
  margin-bottom: 5px;
}
#listingTrombi ul li span {
  text-align: center;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}
#listingTrombi ul li br {
  display: none;
}
/*** CONNEXION *******************************************************/
body.template-firstpage_view.role-anonymous,
body.template-login_form.role-anonymous {
  background-image: none;
}
body.template-firstpage_view.role-anonymous div#portal-top,
body.template-login_form.role-anonymous div#portal-top {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)) !important;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)) !important;
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)) !important;
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)) !important;
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)) !important;
}
body.template-firstpage_view.role-anonymous a#portal-logo,
body.template-login_form.role-anonymous a#portal-logo,
body.template-firstpage_view.role-anonymous ul#portal-globalnav,
body.template-login_form.role-anonymous ul#portal-globalnav {
  display: none;
}
body.template-firstpage_view.role-anonymous ul#portal-languageselector,
body.template-login_form.role-anonymous ul#portal-languageselector {
  padding: 1em 0;
}
body.template-firstpage_view.role-anonymous .titreImage,
body.template-login_form.role-anonymous .titreImage {
  display: none;
}
body.template-firstpage_view.role-anonymous div#portal-columns,
body.template-login_form.role-anonymous div#portal-columns {
  background-color: #f5f5f5;
}
body.template-firstpage_view.role-anonymous div#content,
body.template-login_form.role-anonymous div#content {
  background-color: #f5f5f5 !important;
  border: 0;
  -webkit-box-shadow: none ;
  -moz-box-shadow: none ;
  box-shadow: none ;
  padding: 0;
  padding-top: 2em;
  margin: 0;
  text-align: center;
  background-image: url('++resource++uvsq.theme.images/portal-header.png');
  background-position: center 2em;
  background-repeat: no-repeat;
  background-size: 40em auto;
  min-height: 455px;
}
body.template-firstpage_view.role-anonymous div#content h1,
body.template-login_form.role-anonymous div#content h1 {
  content: url("++resource++uvsq.theme.images/logo_ecampus2.png");
}
body.template-firstpage_view.role-anonymous div#content div.bloc_connexion,
body.template-login_form.role-anonymous div#content div.bloc_connexion {
  background-color: #ffffff !important;
  width: 40em !important;
  border: 1px solid #bababa !important;
  margin: 1em auto;
  margin-top: -1em;
  padding-bottom: 2em;
  padding-top: 3em;
  -webkit-box-shadow: none ;
  -moz-box-shadow: none ;
  box-shadow: none ;
}
body.template-firstpage_view.role-anonymous div#content div.bloc_connexion a.bouton.connexion,
body.template-login_form.role-anonymous div#content div.bloc_connexion a.bouton.connexion {
  font-size: 133%;
  background-color: #ff9933 !important;
}
body.template-firstpage_view.role-anonymous div#content div.bloc_connexion a.bouton.blanc,
body.template-login_form.role-anonymous div#content div.bloc_connexion a.bouton.blanc {
  margin-top: 1.5em;
}
body.template-firstpage_view.role-anonymous div#content span.bookmark,
body.template-login_form.role-anonymous div#content span.bookmark {
  display: none;
}
body.template-firstpage_view.role-anonymous #portal-footer p,
body.template-login_form.role-anonymous #portal-footer p {
  color: #ffffff;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 0 ;
  -moz-border-radius: 0 ;
  border-radius: 0 ;
  padding: 0.5em 0;
  margin: 0;
  -webkit-box-shadow: 0 3px 3px #333333  ;
  -moz-box-shadow: 0 3px 3px #333333  ;
  box-shadow: 0 3px 3px #333333  ;
  background-image: url('++resource++uvsq.theme.images/uvsq-logo.png');
  background-repeat: no-repeat;
  background-position: right center;
  height: 30px;
}
/*** DIVERS *****************************************************************/
#edit-bar * {
  text-shadow: 0 0 0 #000000;
}
#edit-bar {
  display: none !important;
}
.centrer {
  text-align: center;
}
.position_gauche {
  float: left;
  margin-right: 0.5em;
  clear: none;
}
.position_droite {
  float: right;
  margin-left: 0.5em;
  clear: none;
}
.visualClear {
  display: block;
}
.discreet,
#content .discreet,
.element_vide {
  color: #666666;
  font-size: 85%;
  font-weight: normal;
}
.element_vide {
  font-size: 100%;
  margin-left: 2em;
}
.lecteur_exportable iframe {
  width: 100%;
}
iframe.insert_wims {
  width: 100%;
  height: 100%;
  min-height: 600px;
  border: none;
}
div.pb-ajax ul.formTabs {
  display: none;
}
.vignette_primo img {
  width: 60px;
}
/*** MARGES SUR TITRES TAGS ****/
#content h2.texte_icone.icone_tags {
  margin-top: 2em;
}
body.template-jalonfolder_view.section-cours #content h2.texte_icone.icone_cours {
  float: left;
  margin-right: 0.5em;
}
body.template-jalonfolder_view.section-cours #content div.tags {
  margin-top: 2.25em !important;
}
