/*@mainColor          : #567490; // 476076 384B5D
@buttonColor        : @mainColor;
@selectedColor      : @buttonColor;

@linkColorNormal    : lighten(saturate(@mainColor, 20%), 12%); // 4F6A83
@linkColorActive    : darken(@linkColorNormal, 20%); // 3C5063

@lightColor         : #FFFFFF;
@darkColor          : #000000;
@lightGreyColor     : darken(@lightColor, 4%);  // f5f5f5
@mediumGreyColor    : darken(@lightColor, 27%); // bababa
@darkGreyColor      : darken(@lightColor, 60%); // 666666

@category1Color     : #56626B;
@category2Color     : lighten(saturate(spin(@category1Color,  -50), 10%), 10%); // 61937f
@category3Color     : lighten(saturate(spin(@category1Color, -140), 40%), 20%); // c0ca5d
@category4Color     : lighten(saturate(spin(@category1Color, -180), 45%), 20%); // d08b57
@category5Color     : lighten(saturate(spin(@category1Color,  135), 25%), 15%); // b25c77

@informationColor   : @category2Color; // 61937f
@warningColor       : #BD4932;
@warningButtonColor : @warningColor;
@importantColor     : #6C101E;

// Units
@headerBgPosX       : -300px;
@headerBgPosY       : -70px;

// Connexion
@connexionTitleSize : 12em;
@connexionTitleTop  : -3em;

// Images
@theme              : "++resource++jalon.theme.images";
@backgroundImage    : "portal-header.png";*/
/**************************************************/
/**************************************************/
/**************************************************/
/**************************************************/
/**************************************************/
/*** FORUMS *************************************************************************/
.comment {
  font-size: 100%;
  margin-top: 0;
  margin-bottom: 1em;
  position: relative;
}
img.commentImage {
  background-color: #ffffff;
  color: #333333;
  float: right;
  width: 100px;
  height: auto;
  padding: 0.5em;
  margin-top: -4em;
  margin-left: 2em;
  margin-bottom: 1em;
  text-align: center;
  cursor: pointer;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
  zoom: 1;
  -webkit-transition: 0.25s ease-in-out ease-out;
  -moz-transition: 0.25s ease-in-out ease-out;
  -ms-transition: 0.25s ease-in-out ease-out;
  -o-transition: 0.25s ease-in-out ease-out;
  transition: 0.25s ease-in-out ease-out;
  -webkit-box-shadow: 0 2 4 rgba(0, 0, 0, 0.5)  ;
  -moz-box-shadow: 0 2 4 rgba(0, 0, 0, 0.5)  ;
  box-shadow: 0 2 4 rgba(0, 0, 0, 0.5)  ;
}
img.commentImage:hover {
  margin-right: 1em;
  margin-top: 1em;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25);
  zoom: 1;
}
.commentBody {
  clear: none;
  margin-bottom: 0.5em;
}
.commentBody p {
  background-color: #ffffff;
  color: #333333;
  float: none;
}
.commentBody button {
  clear: both;
}
.comment h1,
.comment h2,
.comment h3,
.comment h4,
.comment h5,
.comment h6 {
  font-weight: inherit;
  display: inline;
}
.commentActions {
  clear: both;
  float: none;
  text-align: left;
}
.row #commenting,
.row #commenting legend,
.row .discussion legend {
  font-size: 100%;
}
.row #commenting fieldset,
.row .discussion fieldset {
  border: 0 !important;
}
