/*@mainColor          : #567490; // 476076 384B5D
@buttonColor        : @mainColor;
@selectedColor      : @buttonColor;

@linkColorNormal    : lighten(saturate(@mainColor, 20%), 12%); // 4F6A83
@linkColorActive    : darken(@linkColorNormal, 20%); // 3C5063

@lightColor         : #FFFFFF;
@darkColor          : #000000;
@lightGreyColor     : darken(@lightColor, 4%);  // f5f5f5
@mediumGreyColor    : darken(@lightColor, 27%); // bababa
@darkGreyColor      : darken(@lightColor, 60%); // 666666

@category1Color     : #56626B;
@category2Color     : lighten(saturate(spin(@category1Color,  -50), 10%), 10%); // 61937f
@category3Color     : lighten(saturate(spin(@category1Color, -140), 40%), 20%); // c0ca5d
@category4Color     : lighten(saturate(spin(@category1Color, -180), 45%), 20%); // d08b57
@category5Color     : lighten(saturate(spin(@category1Color,  135), 25%), 15%); // b25c77

@informationColor   : @category2Color; // 61937f
@warningColor       : #BD4932;
@warningButtonColor : @warningColor;
@importantColor     : #6C101E;

// Units
@headerBgPosX       : -300px;
@headerBgPosY       : -70px;

// Connexion
@connexionTitleSize : 12em;
@connexionTitleTop  : -3em;

// Images
@theme              : "++resource++jalon.theme.images";
@backgroundImage    : "portal-header.png";*/
/**************************************************/
/**************************************************/
/**************************************************/
/**************************************************/
/**************************************************/
/*** TABLEAUX *****************************************************************/
div#tableau td.fullwidth a {
  color: #666666 ! important;
}
div#tableau td.fullwidth a:hover {
  color: #669933 ! important;
}
table.listing {
  width: 100%;
  clear: both;
  border: 0;
  padding: 0;
  padding-left: 20px;
  border-collapse: separate !important;
}
table.listing td,
table.listing th {
  padding: 0.5em 1em;
  white-space: nowrap;
  vertical-align: middle;
}
table.listing td .indicateur,
table.listing th .indicateur,
table.listing td .bouton.fullwidth,
table.listing th .bouton.fullwidth {
  display: block !important;
  text-align: center;
  white-space: nowrap;
  -webkit-border-radius: 1.25em ;
  -moz-border-radius: 1.25em ;
  border-radius: 1.25em ;
}
table.listing thead th {
  width: 1px;
  white-space: nowrap;
}
table.listing thead tr th {
  text-align: left;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-right-width: 0;
  background-color: #ffffff;
}
table.listing thead tr th.icone {
  text-align: center;
}
table.listing thead tr th:first-child {
  -webkit-border-top-left-radius: 5px ;
  -moz-border-radius-topleft: 5px ;
  border-top-left-radius: 5px ;
}
table.listing thead tr th:last-child {
  -webkit-border-top-right-radius: 5px ;
  -moz-border-radius-topright: 5px ;
  border-top-right-radius: 5px ;
  border-right-width: 1px;
}
table.listing tbody tr,
table.listing tbody tr.odd,
table.listing tbody tr.even {
  background-color: transparent;
}
table.listing tbody tr td,
table.listing tbody tr.odd td,
table.listing tbody tr.even td {
  background-color: #ffffff;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
table.listing tbody tr:last-child td:first-child {
  -webkit-border-bottom-left-radius: 5px ;
  -moz-border-radius-bottomleft: 5px ;
  border-bottom-left-radius: 5px ;
}
table.listing tbody tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 5px ;
  -moz-border-radius-bottomright: 5px ;
  border-bottom-right-radius: 5px ;
}
table.listing tbody tr td:first-child {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
table.listing tbody tr td:last-child {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
table.listing tfoot tr td {
  border-right-width: 0;
}
table.listing tfoot tr td.icone {
  font-weight: normal;
  font-size: 133%;
}
table.listing thead th,
table.listing tfoot td {
  text-align: center;
  font-size: 100%;
  font-weight: bold;
  color: #666666;
}
table.listing .fullwidth {
  width: auto;
  white-space: normal;
}
table.listing .tdcenter {
  text-align: center;
}
table.listing caption {
  display: none;
}
table.listing caption.texte_icone {
  display: table-caption;
  text-align: left;
}
/*** LISTING VIDE *********************************/
div.listing_vide {
  clear: both;
  margin: 0 !important;
  padding: 1em;
}
div.listing_vide,
div.listing_vide p {
  color: #666666;
  text-align: center;
  font-size: 100% !important;
  font-weight: bold;
}
/*** CHECK ALL *********************************/
th.checkall {
  text-align: center !important;
}
th.checkall label,
th.checkall .sortdirection {
  display: none;
}
/*** DIVERS *********************************/
.sortdirection {
  margin-left: 0.5em;
}
