/*@mainColor          : #567490; // 476076 384B5D
@buttonColor        : @mainColor;
@selectedColor      : @buttonColor;

@linkColorNormal    : lighten(saturate(@mainColor, 20%), 12%); // 4F6A83
@linkColorActive    : darken(@linkColorNormal, 20%); // 3C5063

@lightColor         : #FFFFFF;
@darkColor          : #000000;
@lightGreyColor     : darken(@lightColor, 4%);  // f5f5f5
@mediumGreyColor    : darken(@lightColor, 27%); // bababa
@darkGreyColor      : darken(@lightColor, 60%); // 666666

@category1Color     : #56626B;
@category2Color     : lighten(saturate(spin(@category1Color,  -50), 10%), 10%); // 61937f
@category3Color     : lighten(saturate(spin(@category1Color, -140), 40%), 20%); // c0ca5d
@category4Color     : lighten(saturate(spin(@category1Color, -180), 45%), 20%); // d08b57
@category5Color     : lighten(saturate(spin(@category1Color,  135), 25%), 15%); // b25c77

@informationColor   : @category2Color; // 61937f
@warningColor       : #BD4932;
@warningButtonColor : @warningColor;
@importantColor     : #6C101E;

// Units
@headerBgPosX       : -300px;
@headerBgPosY       : -70px;

// Connexion
@connexionTitleSize : 12em;
@connexionTitleTop  : -3em;

// Images
@theme              : "++resource++jalon.theme.images";
@backgroundImage    : "portal-header.png";*/
/**************************************************/
/**************************************************/
/**************************************************/
/**************************************************/
/**************************************************/
/*** CATEGORIES *************************************************************************/
ul.categories {
  text-align: center;
}
.categorie {
  display: inline-block !important;
  font-weight: bold;
  margin-bottom: 5px !important;
  padding: 0;
  text-align: center;
  min-width: 10em;
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(49.9%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 49.9%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 49.9%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 49.9%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 49.9%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 49.9%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
}
.categorie a,
.categorie a:active,
.categorie a:focus {
  color: #666666 !important;
  text-shadow: none;
  text-decoration: none;
  background-position: center -5px;
  background-repeat: no-repeat;
  padding: 0.5em;
  border: 0 !important;
  width: 12.5em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}
.categorie.categorie_plan a {
  width: 17em;
}
#content .categorie {
  background-color: #ffffff !important;
}
#content .categorie a,
#content .categorie a:active,
#content .categorie a:focus {
  color: #666666 !important;
  border: 0 !important;
}
/*** COULEURS *************************************************************************/
#content .categorie_plan_texte {
  border: 1px solid #660066;
}
#content .categorie_plan_monespace {
  border: 1px solid #669933;
}
#content .categorie_plan_activite {
  border: 1px solid #cccc00;
}
#content .categorie_plan_gestion {
  border: 1px solid #bababa;
}
/*** ONGLETS *************************************************************************/
.onglets {
  text-align: left !important;
}
.onglets .categorie {
  float: left;
  margin-bottom: 0 !important;
  margin-right: 0.25em !important;
  padding: 0.25em !important;
  min-width: 0;
  -webkit-border-bottom-left-radius: 0 ;
  -moz-border-radius-bottomleft: 0 ;
  border-bottom-left-radius: 0 ;
  -webkit-border-bottom-right-radius: 0 ;
  -moz-border-radius-bottomright: 0 ;
  border-bottom-right-radius: 0 ;
  border-bottom: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)) ;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)) ;
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)) ;
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)) ;
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)) ;
}
.onglets .categorie.selected {
  background-color: #f5f5f5 !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)) ;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)) ;
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)) ;
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)) ;
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)) ;
}
.onglets .categorie a {
  width: auto;
  background-position: left center;
  line-height: 40px;
}
.onglets_contenu {
  clear: both;
  position: relative;
  padding: 1em;
  border: 1px dashed #bababa;
  background-color: #ffffff;
  -webkit-border-radius: 3px ;
  -moz-border-radius: 3px ;
  border-radius: 3px ;
  -webkit-border-top-left-radius: 0 ;
  -moz-border-radius-topleft: 0 ;
  border-top-left-radius: 0 ;
}
