/*@mainColor          : #567490; // 476076 384B5D
@buttonColor        : @mainColor;
@selectedColor      : @buttonColor;

@linkColorNormal    : lighten(saturate(@mainColor, 20%), 12%); // 4F6A83
@linkColorActive    : darken(@linkColorNormal, 20%); // 3C5063

@lightColor         : #FFFFFF;
@darkColor          : #000000;
@lightGreyColor     : darken(@lightColor, 4%);  // f5f5f5
@mediumGreyColor    : darken(@lightColor, 27%); // bababa
@darkGreyColor      : darken(@lightColor, 60%); // 666666

@category1Color     : #56626B;
@category2Color     : lighten(saturate(spin(@category1Color,  -50), 10%), 10%); // 61937f
@category3Color     : lighten(saturate(spin(@category1Color, -140), 40%), 20%); // c0ca5d
@category4Color     : lighten(saturate(spin(@category1Color, -180), 45%), 20%); // d08b57
@category5Color     : lighten(saturate(spin(@category1Color,  135), 25%), 15%); // b25c77

@informationColor   : @category2Color; // 61937f
@warningColor       : #BD4932;
@warningButtonColor : @warningColor;
@importantColor     : #6C101E;

// Units
@headerBgPosX       : -300px;
@headerBgPosY       : -70px;

// Connexion
@connexionTitleSize : 12em;
@connexionTitleTop  : -3em;

// Images
@theme              : "++resource++jalon.theme.images";
@backgroundImage    : "portal-header.png";*/
/**************************************************/
/**************************************************/
/**************************************************/
/**************************************************/
/**************************************************/
/*** FORMS ******************************************************************/
input,
textarea,
select,
ul.token-input-list {
  border-color: #bababa;
  padding: 3px;
  border-width: 1px;
  border-style: solid;
  outline: 0;
  font-size: 100%;
  -webkit-border-radius: 3px ;
  -moz-border-radius: 3px ;
  border-radius: 3px ;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1)  ;
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1)  ;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1)  ;
}
input[type="text"],
input[type="password"],
textarea,
select,
input[type="text"]:hover,
input[type="password"]:hover,
textarea:hover,
select:hover,
textarea:focus,
select:focus,
input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ffffff;
  color: #333333;
}
#portal-column-content input,
#portal-column-content textarea {
  padding: 6px;
}
#portal-column-content input[type="submit"] {
  margin-left: 2px;
  padding: 5px;
}
textarea,
div.overlay textarea,
input.fullwidth,
.field input[type="text"][name$=".title"],
input#title {
  width: 98% !important;
}
.field textarea {
  font-family: Arial, FreeSans, sans-serif;
  font-size: 1.1em !important;
  font-weight: bold;
  height: 10em;
}
.field textarea.big {
  height: 20em;
}
input:hover,
textarea:hover,
input:focus,
textarea:focus,
ul.token-input-list:hover {
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25)  ;
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25)  ;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25)  ;
}
option {
  padding: 3px;
  margin: 3px;
  -webkit-border-radius: 3px ;
  -moz-border-radius: 3px ;
  border-radius: 3px ;
}
.pb-ajax fieldset {
  border: 0;
}
#content .field input[type="text"][name$=".title"],
#archetypes-fieldname-title input {
  font-size: 1.5em;
}
#content fieldset {
  border: 1px solid #bababa;
  -webkit-border-radius: 3px ;
  -moz-border-radius: 3px ;
  border-radius: 3px ;
}
#content legend {
  font-size: 100%;
  font-weight: bold;
}
input.mini,
select.mini {
  padding: 0 !important;
  font-size: 90%;
}
input.mini option,
select.mini option {
  padding: 1px !important;
}
.formHelp {
  font-size: 85%;
  font-weight: normal;
  line-height: 1.2em;
}
.fieldErrorBox {
  color: #e26856;
}
.fieldErrorBox ul {
  padding: 0;
}
.fieldErrorBox li {
  list-style: none;
  display: inline;
}
div.field.error {
  color: #333333;
  -webkit-border-radius: 5px ;
  -moz-border-radius: 5px ;
  border-radius: 5px ;
}
.formControls {
  clear: both;
  margin: 0.5em 0 !important;
  text-align: center;
}
/*** TOKEN INPUT *****************************************************************/
ul.token-input-list {
  padding: 0;
  border-color: #bababa;
}
ul.token-input-list li {
  margin: 0 !important;
}
ul.token-input-list li input,
ul.token-input-list li input:focus {
  background-color: #ffffff;
  background-image: none;
  -webkit-box-shadow: none ;
  -moz-box-shadow: none ;
  box-shadow: none ;
}
div.token-input-dropdown ul li.token-input-dropdown-item,
div.token-input-dropdown ul li.token-input-dropdown-item2 {
  display: block;
}
li.token-input-token {
  background-color: #f5f5f5;
  color: #000000;
  -webkit-border-radius: 2px ;
  -moz-border-radius: 2px ;
  border-radius: 2px ;
}
li.token-input-token p {
  margin: 0 !important;
  padding: 1px !important;
  text-shadow: 0 1px 1px #ffffff;
}
li.token-input-selected-token,
li.token-input-selected-dropdown-item {
  background-color: #666666 !important;
  color: #ffffff !important;
}
li.token-input-selected-token p {
  text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 1px;
}
li.token-input-selected-token span {
  color: #ffffff !important;
}
.jalonnews div[class*=rbtoc] {
  display: none;
}
