/*@mainColor          : #567490; // 476076 384B5D
@buttonColor        : @mainColor;
@selectedColor      : @buttonColor;

@linkColorNormal    : lighten(saturate(@mainColor, 20%), 12%); // 4F6A83
@linkColorActive    : darken(@linkColorNormal, 20%); // 3C5063

@lightColor         : #FFFFFF;
@darkColor          : #000000;
@lightGreyColor     : darken(@lightColor, 4%);  // f5f5f5
@mediumGreyColor    : darken(@lightColor, 27%); // bababa
@darkGreyColor      : darken(@lightColor, 60%); // 666666

@category1Color     : #56626B;
@category2Color     : lighten(saturate(spin(@category1Color,  -50), 10%), 10%); // 61937f
@category3Color     : lighten(saturate(spin(@category1Color, -140), 40%), 20%); // c0ca5d
@category4Color     : lighten(saturate(spin(@category1Color, -180), 45%), 20%); // d08b57
@category5Color     : lighten(saturate(spin(@category1Color,  135), 25%), 15%); // b25c77

@informationColor   : @category2Color; // 61937f
@warningColor       : #BD4932;
@warningButtonColor : @warningColor;
@importantColor     : #6C101E;

// Units
@headerBgPosX       : -300px;
@headerBgPosY       : -70px;

// Connexion
@connexionTitleSize : 12em;
@connexionTitleTop  : -3em;

// Images
@theme              : "++resource++jalon.theme.images";
@backgroundImage    : "portal-header.png";*/
/**************************************************/
/**************************************************/
/**************************************************/
/**************************************************/
/**************************************************/
/*** POPOVER *************************************************************************/
body .popover {
  border: 1px solid #333333;
  padding: 5px;
  background-color: #666666;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) , 0 1px 0 rgba(255, 255, 255, 0.25) inset ;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) , 0 1px 0 rgba(255, 255, 255, 0.25) inset ;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) , 0 1px 0 rgba(255, 255, 255, 0.25) inset ;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-border-radius: 4px ;
  -moz-border-radius: 4px ;
  border-radius: 4px ;
}
body .popover .triangle {
  border-width: 10px !important;
}
body .popover .triangle.top {
  bottom: -20px;
  border-top-color: #666666;
}
body .popover .triangle.bottom {
  top: -20px;
  border-bottom-color: #666666;
}
body .popover .triangle.left {
  right: -20px;
  border-left-color: #666666;
}
body .popover .triangle.right {
  left: -20px;
  border-right-color: #666666;
}
body .popover .header {
  background-color: transparent;
  background-image: none;
  padding: 0;
  height: auto;
}
body .popover .content {
  min-width: 5em;
  padding: 8px;
  color: #666666;
  background-color: #ffffff;
  border: 1px solid #333333;
  -webkit-border-radius: 2px ;
  -moz-border-radius: 2px ;
  border-radius: 2px ;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25)  ;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25)  ;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25)  ;
  /*-moz-transition-property: width, height;
        -webkit-transition-property: width, height;
        -o-transition-property: width, height;
        transition-property: width, height;*/

}
body .popover .content * {
  text-shadow: 0 0 transparent;
}
body .popover .content p {
  margin: 0 !important;
  padding: 0 !important;
}
body .popover .content ul {
  margin-left: 1em !important;
}
body .popover .content ul li {
  margin: 0 !important;
}
body .popover .content ul li ul {
  list-style-type: circle !important;
}
body .popover .content ul li ul ul {
  list-style-type: square !important;
}
body .popover .content .indicateur {
  font-size: 90%;
  font-weight: normal;
}
body .popover .content .formControls {
  margin: 0 !important;
  margin-top: 0.5em !important;
}
body .popover .content hr {
  margin: 0.5em 0;
  border: 0;
  border-top: 1px solid #000000;
  border-top-color: rgba(0, 0, 0, 0.25);
}
body .popover .content label {
  font-weight: normal;
}
body .popover .content textarea {
  width: auto !important;
}
body .popover .content fieldset {
  margin: 0;
  margin-bottom: 0.5em;
  border-color: #000000 !important;
  border-color: rgba(0, 0, 0, 0.1) !important;
}
body .popover .content legend {
  padding-top: 0 !important;
}
body .popover .content .formHelp {
  color: #bababa;
}
body .popover div.loading {
  background-image: url('++resource++uvsq.theme.images/ajax-loader2.gif');
}
.savoirplus_contenu {
  display: none;
}
#content a.bouton.savoirplus_lien {
  background-color: #666666 !important;
  color: #ffffff !important;
  text-shadow: 0 -1px 1px #000000, 0 -1px 1px #000000;
}
#content a.bouton.savoirplus_lien.popover-on {
  background-color: #333333 !important;
}
