/*@mainColor          : #567490; // 476076 384B5D
@buttonColor        : @mainColor;
@selectedColor      : @buttonColor;

@linkColorNormal    : lighten(saturate(@mainColor, 20%), 12%); // 4F6A83
@linkColorActive    : darken(@linkColorNormal, 20%); // 3C5063

@lightColor         : #FFFFFF;
@darkColor          : #000000;
@lightGreyColor     : darken(@lightColor, 4%);  // f5f5f5
@mediumGreyColor    : darken(@lightColor, 27%); // bababa
@darkGreyColor      : darken(@lightColor, 60%); // 666666

@category1Color     : #56626B;
@category2Color     : lighten(saturate(spin(@category1Color,  -50), 10%), 10%); // 61937f
@category3Color     : lighten(saturate(spin(@category1Color, -140), 40%), 20%); // c0ca5d
@category4Color     : lighten(saturate(spin(@category1Color, -180), 45%), 20%); // d08b57
@category5Color     : lighten(saturate(spin(@category1Color,  135), 25%), 15%); // b25c77

@informationColor   : @category2Color; // 61937f
@warningColor       : #BD4932;
@warningButtonColor : @warningColor;
@importantColor     : #6C101E;

// Units
@headerBgPosX       : -300px;
@headerBgPosY       : -70px;

// Connexion
@connexionTitleSize : 12em;
@connexionTitleTop  : -3em;

// Images
@theme              : "++resource++jalon.theme.images";
@backgroundImage    : "portal-header.png";*/
/**************************************************/
/**************************************************/
/**************************************************/
/**************************************************/
/**************************************************/
/*** GLOBALNAV **************************************************************************************/
a#portal-logo {
  margin: 10px;
  padding: 0;
  float: left;
}
#portal-header .hiddenStructure {
  clear: none;
  display: none;
}
ul#portal-globalnav {
  background: none;
  clear: none;
  font-size: 80%;
  text-align: center;
  line-height: 32px;
  padding: 20px 0;
  /* (52 (height logo) + 2x10 (margin) - 32) / 2 */
  margin-right: 120px;
  /* width logo */

}
ul#portal-globalnav .anonymous {
  float: right;
  margin-right: 20px;
}
ul#portal-globalnav li a,
ul#portal-globalnav li a:hover,
ul#portal-globalnav li a:active,
ul#portal-globalnav li.selected a,
ul#portal-globalnav li.selected a:hover,
ul#portal-globalnav li.selected a:active {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  margin: 0px;
  padding: 0 10px;
  min-width: 0;
  color: #333333 !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#bababa));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #bababa) ;
  background-image: -moz-linear-gradient(top, #f5f5f5, #bababa) ;
  background-image: -ms-linear-gradient(top, #f5f5f5, #bababa) ;
  background-image: -o-linear-gradient(top, #f5f5f5, #bababa) ;
  background-image: linear-gradient(top, #f5f5f5, #bababa) ;
  border-color: #f5f5f5;
  border-style: solid;
  border-width: 0 1px 0 0;
  text-shadow: none;
  -webkit-opacity: 0.66;
  -khtml-opacity: 0.66;
  -moz-opacity: 0.66;
  opacity: 0.66;
  filter: alpha(opacity=66);
}
ul#portal-globalnav li:first-child a,
ul#portal-globalnav li:first-child a:hover {
  padding-left: 14px;
  /* 10 + 4 */

  -webkit-border-top-left-radius: 21px ;
  -moz-border-radius-topleft: 21px ;
  border-top-left-radius: 21px ;
  -webkit-border-bottom-left-radius: 21px ;
  -moz-border-radius-bottomleft: 21px ;
  border-bottom-left-radius: 21px ;
  /* line-height / 2 */

}
ul#portal-globalnav li:last-child a,
ul#portal-globalnav li:last-child a:hover {
  padding-right: 14px;
  /* 10 + 4 */

  -webkit-border-top-right-radius: 21px ;
  -moz-border-radius-topright: 21px ;
  border-top-right-radius: 21px ;
  -webkit-border-bottom-right-radius: 21px ;
  -moz-border-radius-bottomright: 21px ;
  border-bottom-right-radius: 21px ;
  /* line-height / 2 */

}
ul#portal-globalnav li a:hover,
#portal-languageselector li a:hover,
ul#portal-globalnav li.selected a,
#portal-languageselector li.selected a,
ul#portal-globalnav li.selected a:hover,
#portal-languageselector li.selected a:hover,
ul#portal-globalnav li.currentLanguage a,
#portal-languageselector li.currentLanguage a {
  /* background-color:@selectedColor;
        border-color: @white33;
        .gradient(@black50, @black25);*/

  -webkit-opacity: 1;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=66);
}
/*** LANGUAGE SELECTOR *******************************************************************/
#portal-languageselector {
  top: 0;
  right: 5px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  padding: 25px 0;
}
#portal-languageselector li {
  float: left;
  display: block;
}
#portal-languageselector li a {
  padding: 0.25em;
  margin-right: 1px;
  display: block;
  border: 1px solid transparent;
  -webkit-border-radius: 3px ;
  -moz-border-radius: 3px ;
  border-radius: 3px ;
}
#portal-languageselector li a img {
  width: auto;
  height: auto;
  border: 0 !important;
}
#portal-languageselector li.currentLanguage a,
#portal-languageselector li a:hover {
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.75)  ;
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.75)  ;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.75)  ;
}
/*** BREADCRUMB **************************************************************************/
#portal-breadcrumbs {
  background-color: #ffffff;
  color: #333333 ! important;
  height: 3em;
  overflow: hidden;
  font-size: 110%;
  font-weight: bold;
  margin: -10px -20px 1em -20px;
  text-shadow: 0 1px 1px #ffffff, 0 1px 1px #ffffff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25)  ;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25)  ;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25)  ;
}
#portal-breadcrumbs span {
  float: left;
  line-height: 3em;
  padding-left: .75em;
}
#portal-breadcrumbs span span {
  padding-left: 0;
}
#portal-breadcrumbs span a {
  background: url("++resource++uvsq.theme.images/crumbs.png") no-repeat right center;
  display: block;
  padding: 0 15px 0 0;
}
#portal-breadcrumbs span a:link,
#portal-breadcrumbs span a:visited {
  text-decoration: none;
  color: #669933 ! important;
}
body.section-front-page #portal-breadcrumbs,
.breadcrumbSeparator {
  display: none;
}
/*** BOOKMARK *************************************************************************/
span.bookmark {
  background-color: #666666;
  position: absolute;
  top: -2px;
  right: 10px;
  z-index: 50;
  border-top: 1px rgba(255, 255, 255, 0.33);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0)) ;
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0)) ;
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0)) ;
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0)) ;
  background-image: linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0)) ;
}
span.bookmark.small {
  top: -7px;
  right: 5px;
  border: 0;
  background-image: none;
}
span.bookmark,
span.bookmark_icon {
  display: block;
  width: 32px;
  height: 3em;
  min-height: 32px;
}
span.bookmark.small,
span.bookmark_icon.small {
  width: 15px;
  height: 8px;
  min-height: 0;
}
span.bookmark_icon {
  position: relative;
  background-position: center 0.66em;
  background-repeat: no-repeat;
  border-top: 1px dotted rgba(255, 255, 255, 0.25);
  margin-top: 1px;
}
span.bookmark_icon.small {
  background-image: none !important;
  border: 0;
  margin: 0;
}
span.bookmark_mask {
  border-color: #666666;
  margin-bottom: -30px;
  border-width: 16px;
  border-style: solid;
  border-bottom-color: transparent !important;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 0;
}
span.bookmark_mask.small {
  margin-bottom: -16px;
  border-width: 8px;
  border-right-width: 7px;
}
#content.connexion span.bookmark {
  display: none;
}
/*** DIVERS **************************************************************************************/
dl.portalMessage {
  display: none !important;
}
