/*@mainColor          : #567490; // 476076 384B5D
@buttonColor        : @mainColor;
@selectedColor      : @buttonColor;

@linkColorNormal    : lighten(saturate(@mainColor, 20%), 12%); // 4F6A83
@linkColorActive    : darken(@linkColorNormal, 20%); // 3C5063

@lightColor         : #FFFFFF;
@darkColor          : #000000;
@lightGreyColor     : darken(@lightColor, 4%);  // f5f5f5
@mediumGreyColor    : darken(@lightColor, 27%); // bababa
@darkGreyColor      : darken(@lightColor, 60%); // 666666

@category1Color     : #56626B;
@category2Color     : lighten(saturate(spin(@category1Color,  -50), 10%), 10%); // 61937f
@category3Color     : lighten(saturate(spin(@category1Color, -140), 40%), 20%); // c0ca5d
@category4Color     : lighten(saturate(spin(@category1Color, -180), 45%), 20%); // d08b57
@category5Color     : lighten(saturate(spin(@category1Color,  135), 25%), 15%); // b25c77

@informationColor   : @category2Color; // 61937f
@warningColor       : #BD4932;
@warningButtonColor : @warningColor;
@importantColor     : #6C101E;

// Units
@headerBgPosX       : -300px;
@headerBgPosY       : -70px;

// Connexion
@connexionTitleSize : 12em;
@connexionTitleTop  : -3em;

// Images
@theme              : "++resource++jalon.theme.images";
@backgroundImage    : "portal-header.png";*/
/**************************************************/
/**************************************************/
/**************************************************/
/**************************************************/
/**************************************************/
/*** BLEU ************************************/
a,
a:active,
a:focus,
:-moz-any-link:focus,
#content a {
  color: #666666 !important;
}
a:hover,
#content a:hover {
  color: #669933 !important;
}
body,
ul#portal-globalnav li a:hover,
ul#portal-globalnav li.selected a,
ul#portal-globalnav li.selected a:hover,
div#connexion_logo_jalon,
span.bookmark,
#support_ajout ul#rubrique_espace {
  background-color: #666666;
}
#content .onglets .categorie.selected {
  background-color: #666666 !important;
}
a.bouton,
#content a.bouton,
a.bouton:focus,
#content a.bouton:focus,
input.bouton,
input.searchButton,
input.destructive,
.standalone,
.context,
input.context,
input[type="submit"].context,
.formControls .actionButtons .button,
.documentEditable * .context,
.qq-upload-button,
.uploadifybutton,
#content a.creer_tag,
#content #tag li a,
#tag li a,
button.ui-button,
.couleur1,
.arrondi.selected,
div.date-picker .date-picker-hover,
div.date-picker .month-out.date-picker-hover,
div.date-picker .date-picker-selected-date,
.ui-timepicker .ui-timepicker-table .ui-state-hover {
  background-color: #ff9933 !important;
  color: #ffffff !important;
}
ul#portal-globalnav li a:hover,
ul#portal-globalnav li.selected a,
ul#portal-globalnav li.selected a:hover,
#portal-languageselector li.currentLanguage a,
#portal-languageselector li a:hover {
  background-color: #99cc33 !important;
  color: #ffffff !important;
}
#support_ajout ul#rubrique_espace li.selected a,
#support_ajout ul#rubrique_espace li.unselected a:hover {
  color: #666666 !important;
  background-color: #ffffff !important;
}
span.bookmark_mask {
  border-color: #666666;
}
#content li.categorie_fichiers {
  background-color: #56626b !important;
}
/*** BLANC ************************************/
.couleur4,
table.listing tbody tr.even,
div#content.connexion #aideContextuelle ul,
#portal-column-one,
div#content,
input,
textarea,
select,
input:hover,
textarea:hover,
select:hover,
input:focus,
textarea:focus,
select:focus,
input[type="text"]:focus,
input[type="password"]:focus,
a.bouton.blanc,
#content a.bouton.blanc,
.context.blanc,
input[name="form.button.cancel"],
#uploadify-clear-queue,
#portal-breadcrumbs,
.pb-ajax,
.pb-image,
.ui-dialog,
div.overlay-inline,
img.commentImage,
.commentBody p,
table.listing tbody tr.odd td,
#tableauAjout,
#listingTrombi ul li {
  background-color: #ffffff !important;
  color: #333333 !important;
}
#portal-footer p,
#portal-footer a,
#content .categorie a,
ul#portal-globalnav li a,
ul#portal-globalnav li a:hover,
ul#portal-globalnav li a:active,
ul#portal-globalnav li.selected a,
ul#portal-globalnav li.selected a:hover,
ul#portal-globalnav li.selected a:active,
div.qq-upload-drop-area-active,
#support_ajout ul#rubrique_espace li a,
.couleur6 .formHelp,
.couleur7 .formHelp,
div.date-picker .today-but:hover {
  color: #ffffff !important;
}
#support_ajout ul#rubrique_espace li a {
  border: 1px solid rgba(255, 255, 255, 0.33) !important;
}
div.date-picker td,
.ui-timepicker .ui-timepicker-table table td a {
  background-color: rgba(255, 255, 255, 0.25) !important;
  color: #ffffff;
}
/*** GRIS ************************************/
.arrondi,
.qq-upload-drop-area,
ul.qq-upload-list li,
.tags,
table.listing,
div.listing_vide,
div.boardComment,
.indicateur,
#message .success,
#message .failure,
#message .warning,
#message.success,
#message.failure,
#message.warning,
.arrondi.off,
.arrondi.invisible,
.arrondi.invisible_date,
#aideContextuelle ul,
table.listing tbody tr.even td {
  background-color: #f5f5f5;
}
div#content.connexion,
div.qq-upload-drop-area {
  background-color: #f5f5f5 !important;
}
#content .categorie,
#content #tag li a,
#tag li a {
  background-color: #bababa !important;
}
input,
textarea,
select,
ul.token-input-list {
  border-color: #bababa;
}
div.date-picker .out-of-range,
div.date-picker .not-selectable,
div.date-picker .month-out.date-picker-highlight {
  color: #bababa;
}
.discreet,
#content .discreet,
.element_vide,
div.qq-upload-drop-area,
table.listing thead th,
table.listing tfoot td,
div.listing_vide,
div.listing_vide p {
  color: #666666 !important;
}
/*** NOIR ************************************/
#exposeMask,
.ui-widget-overlay,
div.date-picker table,
.ui-timepicker .ui-timepicker-table {
  background-color: #333333 !important;
  background-image: none;
}
div.field.error {
  color: #333333;
}
div.date-picker .out-of-range,
div.date-picker .not-selectable {
  background-color: #333333 !important;
  border-color: #333333;
}
/*** ORANGE ************************************/
.couleur5,
#message .warning,
#message.warning {
  background-color: #e26856 !important;
  color: #ffffff !important;
}
a.bouton.warning,
#content a.bouton.warning,
input.context.warning {
  background-color: #cbb072 !important;
  color: #ffffff !important;
}
#aideContextuelle ul {
  border-top-color: #e26856;
}
#content .categorie_ressourcesexternes,
#content .categorie_plan_annonce {
  background-color: #d08b57 !important;
}
/*** VERT ************************************/
.couleur6,
.qq-upload-drop-area,
#message .success,
#message.success {
  background-color: #669933 !important;
  color: #ffffff !important;
}
#content .categorie_sonorisation,
#content .categorie_webconference,
#content .categorie_plan_texte,
#tag li.selected a,
#content #tag li.selected a,
#content #tag li.selected a:hover,
#tag li.selected a:hover {
  background-color: #669933 !important;
}
.typeElement.type_Classement {
  border-right-color: #669933;
}
.typeElement.type_Mon_Espace {
  border-right-color: #669933;
}
.typeElement.type_Activite {
  border-right-color: #cccc00;
}
div.date-picker .date-picker-today {
  background-color: #669933 !important;
  color: #ffffff !important;
  border-color: #669933;
}
/*** JAUNE ************************************/
#content .categorie.categorie_wims,
#content .categorie_plan_monespace,
div.qq-upload-drop-area-active {
  background-color: #669933 !important;
}
/*** ROUGE ************************************/
.couleur7,
#message .failure,
#message.failure,
a.bouton.important,
#content a.bouton.important,
.context.important,
input.bouton.important,
input.searchButton.important,
input.destructive.important,
.context.important {
  background-color: #e26856 !important;
  color: #ffffff !important;
}
.fieldErrorBox {
  color: #e26856;
}
#content .categorie_glossaire,
#content .categorie_plan_activite {
  background-color: #cccc00 !important;
}
