/*@mainColor          : #567490; // 476076 384B5D
@buttonColor        : @mainColor;
@selectedColor      : @buttonColor;

@linkColorNormal    : lighten(saturate(@mainColor, 20%), 12%); // 4F6A83
@linkColorActive    : darken(@linkColorNormal, 20%); // 3C5063

@lightColor         : #FFFFFF;
@darkColor          : #000000;
@lightGreyColor     : darken(@lightColor, 4%);  // f5f5f5
@mediumGreyColor    : darken(@lightColor, 27%); // bababa
@darkGreyColor      : darken(@lightColor, 60%); // 666666

@category1Color     : #56626B;
@category2Color     : lighten(saturate(spin(@category1Color,  -50), 10%), 10%); // 61937f
@category3Color     : lighten(saturate(spin(@category1Color, -140), 40%), 20%); // c0ca5d
@category4Color     : lighten(saturate(spin(@category1Color, -180), 45%), 20%); // d08b57
@category5Color     : lighten(saturate(spin(@category1Color,  135), 25%), 15%); // b25c77

@informationColor   : @category2Color; // 61937f
@warningColor       : #BD4932;
@warningButtonColor : @warningColor;
@importantColor     : #6C101E;

// Units
@headerBgPosX       : -300px;
@headerBgPosY       : -70px;

// Connexion
@connexionTitleSize : 12em;
@connexionTitleTop  : -3em;

// Images
@theme              : "++resource++jalon.theme.images";
@backgroundImage    : "portal-header.png";*/
/**************************************************/
/**************************************************/
/**************************************************/
/**************************************************/
/**************************************************/
/*** GLOBALNAV **************************************************************************************/
a#portal-logo {
  margin: 10px;
  padding: 0;
  float: left;
}
#portal-header .hiddenStructure {
  clear: none;
  display: none;
}
ul#portal-globalnav {
  background: none;
  clear: none;
  font-size: 80%;
  text-align: center;
  line-height: 32px;
  padding: 20px 0;
  /* (52 (height logo) + 2x10 (margin) - 32) / 2 */
  margin-right: 120px;
  /* width logo */

}
ul#portal-globalnav .anonymous {
  float: right;
  margin-right: 20px;
}
ul#portal-globalnav li a,
ul#portal-globalnav li a:hover,
ul#portal-globalnav li a:active,
ul#portal-globalnav li.selected a,
ul#portal-globalnav li.selected a:hover,
ul#portal-globalnav li.selected a:active {
  /*** Voir couleurs dans le nuancier ***/

  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  margin: 0px;
  padding: 0 10px;
  min-width: 0;
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.25);
  border-style: solid;
  border-width: 1px 1px 1px 0;
  text-shadow: 0 1px 1px #000;
  -webkit-opacity: 0.66;
  -khtml-opacity: 0.66;
  -moz-opacity: 0.66;
  opacity: 0.66;
  filter: alpha(opacity=66);
}
ul#portal-globalnav li:first-child a,
ul#portal-globalnav li:first-child a:hover {
  padding-left: 14px;
  /* 10 + 4 */

  border-left-width: 1px;
  -webkit-border-top-left-radius: 21px ;
  -moz-border-radius-topleft: 21px ;
  border-top-left-radius: 21px ;
  -webkit-border-bottom-left-radius: 21px ;
  -moz-border-radius-bottomleft: 21px ;
  border-bottom-left-radius: 21px ;
  /* line-height / 2 */

}
ul#portal-globalnav li:last-child a,
ul#portal-globalnav li:last-child a:hover {
  padding-right: 14px;
  /* 10 + 4 */

  border-right-width: 1px;
  -webkit-border-top-right-radius: 21px ;
  -moz-border-radius-topright: 21px ;
  border-top-right-radius: 21px ;
  -webkit-border-bottom-right-radius: 21px ;
  -moz-border-radius-bottomright: 21px ;
  border-bottom-right-radius: 21px ;
  /* line-height / 2 */

}
ul#portal-globalnav li a:hover,
#portal-languageselector li a:hover,
ul#portal-globalnav li.selected a,
#portal-languageselector li.selected a,
ul#portal-globalnav li.selected a:hover,
#portal-languageselector li.selected a:hover,
ul#portal-globalnav li.currentLanguage a,
#portal-languageselector li.currentLanguage a {
  /*** Voir couleurs dans le nuancier ***/

  border-color: rgba(255, 255, 255, 0.33);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.25)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25)) ;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25)) ;
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25)) ;
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25)) ;
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25)) ;
  -webkit-opacity: 1;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=66);
}
/*** ICONES ************************************************************************************************/
ul#portal-globalnav li a span,
ul#portal-globalnav li.selected a span,
ul#portal-globalnav li a:hover span {
  display: inline-block;
  background-position: left center !important;
  background-repeat: no-repeat !important;
  padding-left: 34px;
  /* 30 + 4 */

}
ul#portal-globalnav li#portaltab-index_html a span,
body.template-firstpage_view span.bookmark_icon,
body.section-Members span.bookmark_icon {
  background-image: url("++resource++uvsq.theme.images/globalnav/globalnav_monespace.png");
}
ul#portal-globalnav li#portaltab-cours a span,
body.section-cours span.bookmark_icon {
  background-image: url("++resource++uvsq.theme.images/globalnav/globalnav_cours.png");
}
ul#portal-globalnav li#portaltab-etudiants a span,
body.section-etudiants span.bookmark_icon {
  background-image: url("++resource++uvsq.theme.images/globalnav/globalnav_etudiants.png");
}
ul#portal-globalnav li#portaltab-didacticiels a span {
  background-image: url("++resource++uvsq.theme.images/globalnav/globalnav_aide.png");
}
ul#portal-globalnav li#portaltab-logout a span {
  background-image: url("++resource++uvsq.theme.images/globalnav/globalnav_logout.png");
  text-indent: -10000px;
}
/*** LANGUAGE SELECTOR *******************************************************************/
#portal-languageselector {
  top: 0;
  right: 5px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  padding: 25px 0;
}
#portal-languageselector li {
  float: left;
  display: block;
}
#portal-languageselector li a {
  padding: 0.25em;
  margin-right: 1px;
  display: block;
  border: 1px solid transparent;
  -webkit-border-radius: 3px ;
  -moz-border-radius: 3px ;
  border-radius: 3px ;
}
#portal-languageselector li a img {
  width: auto;
  height: auto;
  border: 0 !important;
}
#portal-languageselector li.currentLanguage a,
#portal-languageselector li a:hover {
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.75)  ;
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.75)  ;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.75)  ;
}
