/*@mainColor          : #567490; // 476076 384B5D
@buttonColor        : @mainColor;
@selectedColor      : @buttonColor;

@linkColorNormal    : lighten(saturate(@mainColor, 20%), 12%); // 4F6A83
@linkColorActive    : darken(@linkColorNormal, 20%); // 3C5063

@lightColor         : #FFFFFF;
@darkColor          : #000000;
@lightGreyColor     : darken(@lightColor, 4%);  // f5f5f5
@mediumGreyColor    : darken(@lightColor, 27%); // bababa
@darkGreyColor      : darken(@lightColor, 60%); // 666666

@category1Color     : #56626B;
@category2Color     : lighten(saturate(spin(@category1Color,  -50), 10%), 10%); // 61937f
@category3Color     : lighten(saturate(spin(@category1Color, -140), 40%), 20%); // c0ca5d
@category4Color     : lighten(saturate(spin(@category1Color, -180), 45%), 20%); // d08b57
@category5Color     : lighten(saturate(spin(@category1Color,  135), 25%), 15%); // b25c77

@informationColor   : @category2Color; // 61937f
@warningColor       : #BD4932;
@warningButtonColor : @warningColor;
@importantColor     : #6C101E;

// Units
@headerBgPosX       : -300px;
@headerBgPosY       : -70px;

// Connexion
@connexionTitleSize : 12em;
@connexionTitleTop  : -3em;

// Images
@theme              : "++resource++jalon.theme.images";
@backgroundImage    : "portal-header.png";*/
/**************************************************/
/**************************************************/
/**************************************************/
/**************************************************/
/**************************************************/
/*div#login-forgotten-password {
   display: none;
}*/
/*.tab_bottom {
    clear: both;
    float: right;
    z-index: 0;
    font-size: 75%;
    margin-right: 15px;
    margin-top: -5px;
    padding-top: 0.5em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    .radius-top-left(0);
    .radius-top-right(0);
}
.tab_bottom .discreet {
    display: none;
}
.tab_bottom:hover .discreet {
    display: inline;
}*/
/*.image_trombinoscope {
    max-width: 200px;
    //max-height: 200px
}

/*@media print{
    .image_trombinoscope {
        max-width: 200px;
        max-height: 200px;
    }

    #listingTrombi li{
        display: block;
        //list-style-type:none;
        float: left;
        margin: 1em;
        font-size: 9pt
    }   

}*/