/*@mainColor          : #567490; // 476076 384B5D
@buttonColor        : @mainColor;
@selectedColor      : @buttonColor;

@linkColorNormal    : lighten(saturate(@mainColor, 20%), 12%); // 4F6A83
@linkColorActive    : darken(@linkColorNormal, 20%); // 3C5063

@lightColor         : #FFFFFF;
@darkColor          : #000000;
@lightGreyColor     : darken(@lightColor, 4%);  // f5f5f5
@mediumGreyColor    : darken(@lightColor, 27%); // bababa
@darkGreyColor      : darken(@lightColor, 60%); // 666666

@category1Color     : #56626B;
@category2Color     : lighten(saturate(spin(@category1Color,  -50), 10%), 10%); // 61937f
@category3Color     : lighten(saturate(spin(@category1Color, -140), 40%), 20%); // c0ca5d
@category4Color     : lighten(saturate(spin(@category1Color, -180), 45%), 20%); // d08b57
@category5Color     : lighten(saturate(spin(@category1Color,  135), 25%), 15%); // b25c77

@informationColor   : @category2Color; // 61937f
@warningColor       : #BD4932;
@warningButtonColor : @warningColor;
@importantColor     : #6C101E;

// Units
@headerBgPosX       : -300px;
@headerBgPosY       : -70px;

// Connexion
@connexionTitleSize : 12em;
@connexionTitleTop  : -3em;

// Images
@theme              : "++resource++jalon.theme.images";
@backgroundImage    : "portal-header.png";*/
/**************************************************/
/**************************************************/
/**************************************************/
/**************************************************/
/**************************************************/
/*** PLAN INTERACTIF ****************************************************************/
/*#content .plan ol {
    background-image: url("@{theme}/parcours/parcours_fond1.png");
    background-position: right top;
    background-repeat: repeat-y;
    
    span.parcours {
        display: block;
        position: relative;
        padding-right: 43px; // 38+5
        
        a.position {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 38px;
            border: 0;
            text-indent: -10000px;
            background-image: url("@{theme}/parcours/parcours_fond2.png");
            background-position: right center;
            background-repeat: no-repeat;
        }
        &.enseignant a.position {
            background-image: url("@{theme}/parcours/parcours_enseignant.png");
        }
        &.etudiant a.position {
            background-image: url("@{theme}/parcours/parcours_etudiant.png");
        }
        a.position:hover {
            background-image: url("@{theme}/parcours/parcours_etudiant_selected.png");
        }
        .sortableElement+a.position:hover {
            background-image: url("@{theme}/parcours/parcours_enseignant_selected.png");
        }
    }
    
}*/
ol#plan,
ul#annonces,
ul#actualites {
  clear: both;
}
ol#plan li span.arrondi,
ul#annonces li span.arrondi,
ul#actualites li span.arrondi {
  display: block;
  margin-top: 0.25em;
  overflow-x: hidden;
}
.sortableElement:hover {
  cursor: move;
}
.typeElement {
  border-right-width: 4px;
  -webkit-border-top-right-radius: 0 ;
  -moz-border-radius-topright: 0 ;
  border-top-right-radius: 0 ;
  -webkit-border-bottom-right-radius: 0 ;
  -moz-border-radius-bottomright: 0 ;
  border-bottom-right-radius: 0 ;
}
.typeElement.type_Classement {
  border-left-color: #669933;
  border-width: 0 0 0 3px;
}
.typeElement.type_Mon_Espace {
  border-left-color: #669933;
  border-width: 0 0 0 3px;
}
.typeElement.type_Activite {
  border-left-color: #cccc00;
  border-width: 0 0 0 3px;
}
.typeElement.type_Titre,
.typeElement.type_TexteLibre {
  border-color: #660066;
  border-width: 0 0 0 5px;
}
.typeElement.type_Titre .typeElementTitre {
  font-size: 105%;
  font-weight: 700;
}
.typeElement.type_TexteLibre .typeElementTitre {
  font-size: 90%;
}
ul#annonces .typeElement,
ul#actualites .typeElement {
  border: none;
}
ul#annonces .typeElement .typeElementTitre,
ul#actualites .typeElement .typeElementTitre {
  float: none;
}
ul#annonces .discreet {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}
ul#annonces .discreet:hover {
  white-space: normal;
}
ul#annonces .discreet br {
  display: none;
}
#glossaire.listing_vide,
#bibliographie.listing_vide {
  margin-top: 0.25em !important;
  padding: 0.5em;
}
#glossaire .typeElement,
#bibliographie .typeElement {
  border: 0;
}
#glossaire .typeElement a,
#bibliographie .typeElement a {
  border-bottom: 0;
  color: #666666;
}
.placeholder {
  background-color: #669933;
  color: #f5f5f5;
  font-size: 150%;
  height: 2em !important;
  -webkit-border-radius: 5px ;
  -moz-border-radius: 5px ;
  border-radius: 5px ;
}
.placeholder:before {
  line-height: 2em;
}
.plan > ol > .chapitre {
  margin-bottom: 1em !important;
}
.plan > ol > .chapitre a {
  color: #666666 !important;
}
#content .plan a.link-overlay {
  border-bottom: 0 !important;
  color: #666666 !important;
}
#content .plan .savoirplus_contenu a.link-overlay {
  border-bottom: 0 !important;
  color: white  !important;
}
