@import url('http://fonts.googleapis.com/css?family=Ubuntu:700');
/*@mainColor          : #567490; // 476076 384B5D
@buttonColor        : @mainColor;
@selectedColor      : @buttonColor;

@linkColorNormal    : lighten(saturate(@mainColor, 20%), 12%); // 4F6A83
@linkColorActive    : darken(@linkColorNormal, 20%); // 3C5063

@lightColor         : #FFFFFF;
@darkColor          : #000000;
@lightGreyColor     : darken(@lightColor, 4%);  // f5f5f5
@mediumGreyColor    : darken(@lightColor, 27%); // bababa
@darkGreyColor      : darken(@lightColor, 60%); // 666666

@category1Color     : #56626B;
@category2Color     : lighten(saturate(spin(@category1Color,  -50), 10%), 10%); // 61937f
@category3Color     : lighten(saturate(spin(@category1Color, -140), 40%), 20%); // c0ca5d
@category4Color     : lighten(saturate(spin(@category1Color, -180), 45%), 20%); // d08b57
@category5Color     : lighten(saturate(spin(@category1Color,  135), 25%), 15%); // b25c77

@informationColor   : @category2Color; // 61937f
@warningColor       : #BD4932;
@warningButtonColor : @warningColor;
@importantColor     : #6C101E;

// Units
@headerBgPosX       : -300px;
@headerBgPosY       : -70px;

// Connexion
@connexionTitleSize : 12em;
@connexionTitleTop  : -3em;

// Images
@theme              : "++resource++jalon.theme.images";
@backgroundImage    : "portal-header.png";*/
/**************************************************/
/**************************************************/
/**************************************************/
/**************************************************/
/**************************************************/
/*** CSS RESET **********************/
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div#visual-portal-wrapper,
div#visual-padded-portal-wrapper,
div#portal-header,
ul#portal-globalnav,
.pullquote {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  background-image: none;
  background-position: left top;
  background-repeat: repeat;
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
  width: auto;
  height: auto;
}
img {
  border: none;
  vertical-align: middle;
}
a,
a:active,
a:focus,
:-moz-any-link:focus,
#content a,
.qq-upload-button {
  outline-style: none;
  outline: none;
  cursor: pointer;
  color: #666666;
}
p {
  text-align: justify;
}
strong {
  font-weight: 700;
}
/*** GENERAL ***********************/
body,
h1,
h2,
h3,
h4,
h5,
h6,
div.date-picker,
div.date-picker .month-display,
div.date-picker .year-display,
div.date-picker .today-but,
.ui-timepicker .ui-timepicker-table {
  font: 1em Arial, Helvetica, sans-serif;
  font-weight: 300;
}
body {
  background-color: #666666;
  background-image: url("++resource++uvsq.theme.images/portal-header_uvsq.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}
h1,
h2,
h3,
h4,
h5,
h6,
#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
  clear: both;
  margin: 0;
  margin-bottom: 0.5em;
  padding: 0;
  font-weight: 300;
  background-color: transparent !important;
  border: 0 none;
  letter-spacing: 0;
}
h1 {
  font-size: 190%;
  font-weight: bold;
  margin-bottom: 0.5em;
  color: #333333;
}
h2 {
  font-size: 125%;
  margin-bottom: 0.5em;
}
h3 {
  font-size: 120%;
}
h4 {
  font-size: 110%;
}
h5 {
  font-size: 105%;
}
h6 {
  font-size: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-shadow: #ffffff 0px 1px 1px, #ffffff 0px 1px 1px;
}
a,
a:link,
a:active,
a:focus,
:-moz-any-link:focus,
#content a,
#content a:link,
#content a:active,
#content a:focus,
#content :-moz-any-link:focus {
  color: #666666 !important;
}
a:hover,
#content a:hover {
  color: #669933 !important;
}
/*** ARRONDIS **********************************************************/
ul.arrondis,
#content ul.arrondis,
ul.arrondis li,
#content ul.arrondis li,
ol.arrondis,
#content ol.arrondis,
ol.arrondis li,
#content ol.arrondis li {
  margin: 0;
  margin-bottom: 0.25em;
  padding: 0;
  list-style-image: none;
  list-style: none;
}
.arrondi,
.qq-upload-drop-area,
ul.qq-upload-list li,
div.listing_vide,
div.boardComment,
.indicateur,
#message .success,
#message .failure,
#message .warning,
#message.success,
#message.failure,
#message.warning {
  z-index: 1;
  padding: 0.25em;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px ;
  -moz-border-radius: 5px ;
  border-radius: 5px ;
}
.arrondi.selected {
  background-color: #ff9933;
  color: #ffffff;
}
.arrondi.off,
.arrondi.invisible,
.arrondi.invisible_date {
  background-image: url("++resource++uvsq.theme.images/fond_off.png") !important;
  background-repeat: repeat !important;
  /*&.selected {
        background-image: url("@{theme}/fond_off_selected.png") !important;
    }*/

}
.arrondi.field {
  margin-bottom: 1em;
}
.indicateur {
  font-size: 80%;
  font-weight: bold;
  padding: 0.15em 0.75em;
  text-decoration: none;
  -webkit-border-radius: 1em ;
  -moz-border-radius: 1em ;
  border-radius: 1em ;
}
.indicateur.iconeseule {
  padding: 0.15em 0.5em;
}
.indicateur.iconeseule:before {
  margin: 0;
  text-align: center;
}
.indicateur.iconeseule span {
  display: none;
}
h1 .indicateur,
h2 .indicateur,
h3 .indicateur {
  font-size: 70%;
}
/*** COULEURS **********************************************************/
.couleur1 {
  background-color: #ff9933;
  color: #ffffff;
}
.couleur2 {
  background-color: #666666;
  color: #ffffff;
}
.couleur4 {
  background-color: #ffffff;
  color: #333333;
}
.couleur5 {
  background-color: #e26856;
  color: #ffffff;
}
.couleur6 {
  background-color: #669933;
  color: #ffffff;
}
.couleur7 {
  background-color: #e26856;
  color: #ffffff;
}
.couleur1 .formHelp,
.couleur6 .formHelp,
.couleur7 .formHelp {
  color: #ffffff;
}
div.loading {
  background-image: url("++resource++uvsq.theme.images/ajax-loader.gif");
  background-position: center 10px;
  background-repeat: no-repeat;
  padding: 10px !important;
  padding-top: 42px !important;
}
.cours_auteurs h2,
.cours_legende h2,
.cours_auteurs a,
.cours_legende a,
.cours_auteurs span,
.cours_legende span {
  clear: none;
  float: none !important;
  display: inline;
  font-size: 100%;
  line-height: 1.5em;
  margin: 0;
  margin-right: 0.25em;
  padding: 0 !important;
  border-width: 0 !important;
}
.cours_auteurs h2,
.cours_legende h2 {
  font-weight: bold;
}
.cours_auteurs {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.cours_legende {
  margin-top: 1em;
  text-align: center;
  -webkit-opacity: 0.5;
  -khtml-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.cours_legende:hover {
  -webkit-opacity: 1;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=50);
}
.cours_legende span {
  font-size: 100% !important;
  margin: 0;
}
.cours_legende .typeElement {
  padding-right: 0;
  margin-right: 0.5em;
}
.cours_legende .typeElement.disabled {
  display: none;
}
.cours_legende .typeElement.type_Classement,
.cours_legende .typeElement.type_Mon_Espace,
.cours_legende .typeElement.type_Activite {
  padding-right: 3px !important;
  margin-right: 1em;
}
.cours_legende .typeElement.type_Classement .typeElementTitre,
.cours_legende .typeElement.type_Mon_Espace .typeElementTitre,
.cours_legende .typeElement.type_Activite .typeElementTitre {
  padding-left: 0 !important;
}
.cours_legende .typeElementTitre {
  background-size: 20px 20px;
  padding-left: 22px !important;
  cursor: pointer;
}
#plan .typeElement {
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -ms-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}
#plan .typeElement.disabled {
  -webkit-opacity: 0.33;
  -khtml-opacity: 0.33;
  -moz-opacity: 0.33;
  opacity: 0.33;
  filter: alpha(opacity=50);
}
a.bouton.important,
#content a.bouton.important,
.context.important,
input.bouton.important,
input.searchButton.important,
input.destructive.important,
.standalone.important,
.context.important,
input.context.important,
#content .qq-upload-list .qq-upload-cancel {
  background-color: #e26856;
  color: #ffffff;
}
/*** MESSAGES **************************************************************************************/
#message div {
  margin-top: 0.5em;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset ;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset ;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset ;
}
#message.success,
#message .success {
  background-color: #669933;
  color: #ffffff;
}
#message.warning,
#message .warning {
  background-color: #e26856;
  color: #ffffff;
}
#message.failure,
#message .failure {
  background-color: #e26856;
  color: #ffffff;
}
#message.success::before,
#message.failure::before,
#message.warning::before,
#message .success::before,
#message .failure::before,
#message .warning::before {
  font-weight: normal !important;
  display: inline;
  margin: 0 0.5em;
  content: "\2714";
}
#message.failure::before,
#message .failure::before,
#message.warning::before,
#message .warning::before {
  content: "\2716";
}
/*** PORTAL TOP *************************************************************************************/
#portal-top {
  voice-family: inherit;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)) !important;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)) !important;
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)) !important;
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)) !important;
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)) !important;
}
