/*@mainColor          : #567490; // 476076 384B5D
@buttonColor        : @mainColor;
@selectedColor      : @buttonColor;

@linkColorNormal    : lighten(saturate(@mainColor, 20%), 12%); // 4F6A83
@linkColorActive    : darken(@linkColorNormal, 20%); // 3C5063

@lightColor         : #FFFFFF;
@darkColor          : #000000;
@lightGreyColor     : darken(@lightColor, 4%);  // f5f5f5
@mediumGreyColor    : darken(@lightColor, 27%); // bababa
@darkGreyColor      : darken(@lightColor, 60%); // 666666

@category1Color     : #56626B;
@category2Color     : lighten(saturate(spin(@category1Color,  -50), 10%), 10%); // 61937f
@category3Color     : lighten(saturate(spin(@category1Color, -140), 40%), 20%); // c0ca5d
@category4Color     : lighten(saturate(spin(@category1Color, -180), 45%), 20%); // d08b57
@category5Color     : lighten(saturate(spin(@category1Color,  135), 25%), 15%); // b25c77

@informationColor   : @category2Color; // 61937f
@warningColor       : #BD4932;
@warningButtonColor : @warningColor;
@importantColor     : #6C101E;

// Units
@headerBgPosX       : -300px;
@headerBgPosY       : -70px;

// Connexion
@connexionTitleSize : 12em;
@connexionTitleTop  : -3em;

// Images
@theme              : "++resource++jalon.theme.images";
@backgroundImage    : "portal-header.png";*/
/**************************************************/
/**************************************************/
/**************************************************/
/**************************************************/
/**************************************************/
/*** HIGH CONTRAST **************************************************************************************/
body .desactive_high_contrast,
body.high_contrast .active_high_contrast {
  display: none;
}
body.high_contrast .desactive_high_contrast,
body .active_high_contrast {
  display: inline;
}
body.high_contrast {
  font-size: 125% !important;
  background-color: #333333 !important;
}
body.high_contrast #visual-portal-wrapper {
  min-width: 43em !important;
}
body.high_contrast ul#portal-globalnav li a,
body.high_contrast ul#portal-globalnav li.selected a,
body.high_contrast ul#portal-globalnav li a:hover,
body.high_contrast ul#portal-globalnav li.selected a:hover,
body.high_contrast ul#portal-globalnav li a:active,
body.high_contrast ul#portal-globalnav li.selected a:active {
  border-width: 0 !important;
  border-top-width: 2px !important;
  border-color: transparent !important;
  background-color: transparent !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  -webkit-opacity: 1;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
}
body.high_contrast ul#portal-globalnav li a:hover,
body.high_contrast ul#portal-globalnav li.selected a,
body.high_contrast ul#portal-globalnav li.selected a:hover {
  border-top-color: #ffffff !important;
  background-color: #333333 !important;
}
body.high_contrast #portal-languageselector li.currentLanguage a,
body.high_contrast #portal-languageselector li a:hover {
  border-color: #ffffff !important;
}
body.high_contrast div#portal-breadcrumbs {
  background-image: none !important;
  border-bottom: 1px solid #333333 !important;
  -webkit-box-shadow: none ;
  -moz-box-shadow: none ;
  box-shadow: none ;
}
body.high_contrast a.bouton,
body.high_contrast #content a.bouton,
body.high_contrast a.bouton:focus,
body.high_contrast #content a.bouton:focus,
body.high_contrast input.bouton,
body.high_contrast input.searchButton,
body.high_contrast input.destructive,
body.high_contrast .standalone,
body.high_contrast .context,
body.high_contrast input.context,
body.high_contrast input[type="submit"].context,
body.high_contrast .formControls .actionButtons .button,
body.high_contrast .documentEditable * .context,
body.high_contrast .qq-upload-button,
body.high_contrast .uploadifybutton,
body.high_contrast #content a.creer_tag,
body.high_contrast #content #tag li a,
body.high_contrast #tag li a,
body.high_contrast button.ui-button,
body.high_contrast .couleur1,
body.high_contrast .arrondi.selected,
body.high_contrast ul#portal-globalnav li a:hover,
body.high_contrast ul#portal-globalnav li.selected a,
body.high_contrast ul#portal-globalnav li.selected a:hover,
body.high_contrast #portal-languageselector li.currentLanguage a,
body.high_contrast #portal-languageselector li a:hover {
  background-color: #ff8000 !important;
}
body.high_contrast #content .categorie,
body.high_contrast #content #tag li a,
body.high_contrast #tag li a {
  background-color: #545454 !important;
}
body.high_contrast #content li.categorie_fichiers {
  background-color: #292e32 !important;
}
body.high_contrast #content .categorie_ressourcesexternes {
  background-color: #7b4823 !important;
}
body.high_contrast #content .categorie_sonorisation,
body.high_contrast #content .categorie_webconference,
body.high_contrast #content .categorie_plan_texte,
body.high_contrast #tag li.selected a,
body.high_contrast #content #tag li.selected a,
body.high_contrast #content #tag li.selected a:hover,
body.high_contrast #tag li.selected a:hover {
  background-color: #334d19 !important;
}
body.high_contrast #content .categorie.categorie_wims,
body.high_contrast #content .categorie_plan_monespace,
body.high_contrast div.qq-upload-drop-area-active {
  background-color: #0d1306 !important;
}
body.high_contrast #content .categorie_glossaire,
body.high_contrast #content .categorie_plan_activite {
  background-color: #666600 !important;
}
body.high_contrast span.bookmark {
  background-color: #333333;
}
body.high_contrast span.bookmark_mask {
  border-color: #333333;
}
body.high_contrast .cours_legende {
  -webkit-opacity: 1;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
}
body.high_contrast .discreet,
body.high_contrast #content .discreet,
body.high_contrast .element_vide,
body.high_contrast div.qq-upload-drop-area,
body.high_contrast table.listing thead th,
body.high_contrast table.listing tfoot td,
body.high_contrast div.listing_vide,
body.high_contrast div.listing_vide p {
  color: #333333 !important;
}
body.high_contrast .arrondi.off,
body.high_contrast .arrondi.invisible,
body.high_contrast .arrondi.invisible_date {
  background-image: url("++resource++uvsq.theme.images/fond_off2.png") !important;
}
body.high_contrast .arrondi.typeElement {
  border-left-color: rgba(0, 0, 0, 0.25);
  border-top-color: rgba(0, 0, 0, 0.25);
  border-bottom-color: rgba(0, 0, 0, 0.25);
}
