/*@mainColor          : #567490; // 476076 384B5D
@buttonColor        : @mainColor;
@selectedColor      : @buttonColor;

@linkColorNormal    : lighten(saturate(@mainColor, 20%), 12%); // 4F6A83
@linkColorActive    : darken(@linkColorNormal, 20%); // 3C5063

@lightColor         : #FFFFFF;
@darkColor          : #000000;
@lightGreyColor     : darken(@lightColor, 4%);  // f5f5f5
@mediumGreyColor    : darken(@lightColor, 27%); // bababa
@darkGreyColor      : darken(@lightColor, 60%); // 666666

@category1Color     : #56626B;
@category2Color     : lighten(saturate(spin(@category1Color,  -50), 10%), 10%); // 61937f
@category3Color     : lighten(saturate(spin(@category1Color, -140), 40%), 20%); // c0ca5d
@category4Color     : lighten(saturate(spin(@category1Color, -180), 45%), 20%); // d08b57
@category5Color     : lighten(saturate(spin(@category1Color,  135), 25%), 15%); // b25c77

@informationColor   : @category2Color; // 61937f
@warningColor       : #BD4932;
@warningButtonColor : @warningColor;
@importantColor     : #6C101E;

// Units
@headerBgPosX       : -300px;
@headerBgPosY       : -70px;

// Connexion
@connexionTitleSize : 12em;
@connexionTitleTop  : -3em;

// Images
@theme              : "++resource++jalon.theme.images";
@backgroundImage    : "portal-header.png";*/
/**************************************************/
/**************************************************/
/**************************************************/
/**************************************************/
/**************************************************/
/*** OVERLAY *************************************************************************/
div.overlay-iframe,
div.overlay-ajax,
div.overlay-inline {
  width: 75%;
}
.pb-ajax,
.pb-image,
.ui-dialog,
div.overlay-inline,
div.date-picker table,
.ui-timepicker .ui-timepicker-table {
  padding: 0.5em;
  border: 0;
  background-repeat: repeat-x;
  background-position: top left !important;
  -webkit-border-radius: 5px ;
  -moz-border-radius: 5px ;
  border-radius: 5px ;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)) ;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)) ;
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)) ;
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)) ;
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)) ;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) , 0 -5px 0 rgba(0, 0, 0, 0.33) inset ;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) , 0 -5px 0 rgba(0, 0, 0, 0.33) inset ;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) , 0 -5px 0 rgba(0, 0, 0, 0.33) inset ;
}
div.date-picker table {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) , 0 -2px 0 rgba(0, 0, 0, 0.33) inset ;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) , 0 -2px 0 rgba(0, 0, 0, 0.33) inset ;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) , 0 -2px 0 rgba(0, 0, 0, 0.33) inset ;
}
div.overlay-inline {
  font-size: 100%;
  padding: 1.5em;
  position: relative;
}
.pb-ajax > div,
div.overlay-inline > div {
  width: 95%;
  margin: 0 auto;
}
/* correction bug de placement à cause du positio:relative du #content quand 2 colonnes */
div.cell.width-1\3a 2 div.overlay-inline,
div.cell.width-1\3a 4 div.overlay-inline,
div.cell.width-3\3a 4 div.overlay-inline {
  margin-left: -37.5%;
}
.pb-ajax,
.pb-image,
.ui-dialog,
div.overlay-inline {
  text-align: left;
  background-color: #ffffff;
  color: #333333;
}
.pb-ajax h1,
.pb-image h1,
.ui-dialog h1,
div.overlay-inline h1 {
  text-align: center;
}
div.overlay-inline a.close {
  cursor: pointer;
  height: 30px;
  left: -14px;
  position: absolute;
  top: -14px;
  width: 30px;
}
div.overlaybg .close,
div.overlay .close,
div.overlay-inline .close {
  left: auto !important;
  right: -14px !important;
  background-image: url("++resource++uvsq.theme.images/pb_close.png") !important;
}
.overlay iframe {
  background-color: transparent;
  border: 1px solid #bababa;
  -webkit-box-shadow: none ;
  -moz-box-shadow: none ;
  box-shadow: none ;
}
.overlay #portal-breadcrumbs {
  display: none;
}
.overlay li {
  display: list-item;
}
#exposeMask,
.ui-widget-overlay {
  background-color: #333333 !important;
  background-image: none;
  -webkit-opacity: 0.66;
  -khtml-opacity: 0.66;
  -moz-opacity: 0.66;
  opacity: 0.66;
  filter: alpha(opacity=66);
  width: auto !important;
  right: 0;
}
#fieldset-openid-login input,
#login-form input {
  font-size: 100%;
}
/************************************************************************************/
.ui-dialog {
  padding: 1.5em;
}
.ui-dialog ui-dialog-content {
  padding: 0;
}
.ui-dialog ui-dialog-content p {
  margin: 1em 0;
  overflow: hidden;
}
.ui-dialog .ui-dialog-buttonpane {
  background-color: transparent;
  border: 0 none;
  margin: 0;
  padding: 0;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: none;
}
.ui-dialog .ui-dialog-buttonpane button {
  margin: 0;
}
.ui-dialog .ui-dialog-buttonpane button.ui-button-text-only .ui-button-text {
  padding: 0;
}
.ui-dialog-titlebar {
  display: none;
}
/****************************************************************************************/
div.overlay .formControls a {
  margin: 0;
}
.overlay-inline {
  display: none;
}
/*** DATE/TIME PICKER ****************************************************/
div.date-picker .date-picker-hover,
div.date-picker .month-out.date-picker-hover,
div.date-picker .date-picker-selected-date,
.ui-timepicker .ui-timepicker-table .ui-state-hover {
  background-color: #ff9933;
  color: #ffffff;
}
.plone-jscalendar-popup {
  display: none;
}
.ui-timepicker {
  z-index: 20000 !important;
}
div.date-time-pickers {
  text-align: center;
}
div.date-picker,
div.date-picker .date-picker-statusbar {
  font-size: 75%;
}
.ui-timepicker .ui-timepicker-table {
  font-size: 85%;
}
div.date-picker .today-but {
  font-size: 85%;
}
div.date-picker .today-but:hover {
  color: #ffffff !important;
}
div.date-picker table *,
.ui-timepicker .ui-timepicker-table * {
  background: none !important;
  text-shadow: none !important;
  color: #ffffff;
  border-width: 0 !important;
  font-weight: normal;
}
div.date-picker table {
  padding: 0.25em;
}
div.date-picker table,
.ui-timepicker .ui-timepicker-table {
  background-color: #333333;
  background-image: none;
}
div.date-picker td,
.ui-timepicker .ui-timepicker-table table td a {
  background-color: rgba(255, 255, 255, 0.25);
  color: #ffffff;
}
div.date-picker .date-picker-title {
  padding: 0;
}
div.date-picker .prev-but,
div.date-picker .next-but {
  font-size: 150%;
}
div.date-picker td,
div.date-picker tbody th,
.ui-timepicker .ui-timepicker-table table td a {
  width: 2em;
  height: 1.5em;
  -webkit-border-radius: 2px ;
  -moz-border-radius: 2px ;
  border-radius: 2px ;
}
.ui-timepicker .ui-timepicker-table table td a {
  display: inline-table;
  text-align: center;
}
div.date-picker .date-picker-hover,
div.date-picker .month-out.date-picker-hover {
  -webkit-box-shadow: none ;
  -moz-box-shadow: none ;
  box-shadow: none ;
}
div.date-picker .out-of-range,
div.date-picker .not-selectable {
  font-style: normal;
  background-color: #333333;
  border-color: #333333;
}
div.date-picker .out-of-range,
div.date-picker .not-selectable,
div.date-picker .month-out.date-picker-highlight {
  color: #bababa;
}
div.date-picker .date-picker-today {
  background-color: #669933 !important;
  color: #ffffff;
  border-color: #669933;
}
div.date-picker .date-picker-statusbar {
  height: auto;
  padding: 0.25em 0;
}
.date-picker-control span,
.time-picker-container a {
  width: 32px !important;
  height: 32px !important;
  display: inline-block;
}
.date-picker-control:link,
.date-picker-control:visited {
  background-image: url("++resource++uvsq.theme.images/calendar.png") !important;
  border: 0 !important;
}
div.date-picker-out,
input.time-picker-out {
  font-weight: bold;
  text-transform: uppercase;
}
.time-picker-container a {
  background-image: url("++resource++uvsq.theme.images/time.png");
}
input.time-picker-out,
input.time-picker-out:hover,
input.time-picker-out[type]:focus {
  border: 0 none;
  margin: 0;
  padding: 0;
  background: none !important;
  text-align: center;
  width: 4em !important;
  -webkit-box-shadow: none ;
  -moz-box-shadow: none ;
  box-shadow: none ;
}
.ui-timepicker .ui-timepicker-table,
.ui-timepicker .ui-timepicker-table table {
  border-spacing: 2px;
}
.ui-timepicker .ui-timepicker-table .ui-timepicker-minutes {
  margin-left: 1em;
}
.ui-timepicker .ui-timepicker-table .ui-widget-header {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.5em;
}
