/*@mainColor          : #567490; // 476076 384B5D
@buttonColor        : @mainColor;
@selectedColor      : @buttonColor;

@linkColorNormal    : lighten(saturate(@mainColor, 20%), 12%); // 4F6A83
@linkColorActive    : darken(@linkColorNormal, 20%); // 3C5063

@lightColor         : #FFFFFF;
@darkColor          : #000000;
@lightGreyColor     : darken(@lightColor, 4%);  // f5f5f5
@mediumGreyColor    : darken(@lightColor, 27%); // bababa
@darkGreyColor      : darken(@lightColor, 60%); // 666666

@category1Color     : #56626B;
@category2Color     : lighten(saturate(spin(@category1Color,  -50), 10%), 10%); // 61937f
@category3Color     : lighten(saturate(spin(@category1Color, -140), 40%), 20%); // c0ca5d
@category4Color     : lighten(saturate(spin(@category1Color, -180), 45%), 20%); // d08b57
@category5Color     : lighten(saturate(spin(@category1Color,  135), 25%), 15%); // b25c77

@informationColor   : @category2Color; // 61937f
@warningColor       : #BD4932;
@warningButtonColor : @warningColor;
@importantColor     : #6C101E;

// Units
@headerBgPosX       : -300px;
@headerBgPosY       : -70px;

// Connexion
@connexionTitleSize : 12em;
@connexionTitleTop  : -3em;

// Images
@theme              : "++resource++jalon.theme.images";
@backgroundImage    : "portal-header.png";*/
/**************************************************/
/**************************************************/
/**************************************************/
/**************************************************/
/**************************************************/
/*** TAGS **********************************************************************************/
#content a.creer_tag,
.tags #tag,
.tags #tag li.tag {
  margin-bottom: 0 !important;
  display: inline-block;
}
.tags {
  margin: 0 0 2em 20px !important;
  padding: 0 !important;
  background-color: transparent;
}
#content a.creer_tag,
#content #tag li a,
#tag li a,
#content #tag li a:hover,
#tag li a:hover {
  border: 0 !important;
  background-image: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
#tag li a,
#content #tag li a,
#content #tag li a:hover,
#tag li a:hover {
  background-color: #666666;
  background-image: url("++resource++uvsq.theme.images/tag_mask.png") !important;
  background-repeat: no-repeat !important;
  background-position: left center !important;
  margin-left: 0.25em;
  -webkit-border-top-left-radius: 0 ;
  -moz-border-radius-topleft: 0 ;
  border-top-left-radius: 0 ;
  -webkit-border-bottom-left-radius: 0 ;
  -moz-border-radius-bottomleft: 0 ;
  border-bottom-left-radius: 0 ;
}
#tag li.selected a,
#content #tag li.selected a,
#content #tag li.selected a:hover,
#tag li.selected a:hover {
  background-color: #669933;
}
/*** TAGS AJOUT ****************************************************************************/
#support_ajout #tableauAjout p {
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 1em 0;
  font-size: 90%;
}
