/*@mainColor          : #567490; // 476076 384B5D
@buttonColor        : @mainColor;
@selectedColor      : @buttonColor;

@linkColorNormal    : lighten(saturate(@mainColor, 20%), 12%); // 4F6A83
@linkColorActive    : darken(@linkColorNormal, 20%); // 3C5063

@lightColor         : #FFFFFF;
@darkColor          : #000000;
@lightGreyColor     : darken(@lightColor, 4%);  // f5f5f5
@mediumGreyColor    : darken(@lightColor, 27%); // bababa
@darkGreyColor      : darken(@lightColor, 60%); // 666666

@category1Color     : #56626B;
@category2Color     : lighten(saturate(spin(@category1Color,  -50), 10%), 10%); // 61937f
@category3Color     : lighten(saturate(spin(@category1Color, -140), 40%), 20%); // c0ca5d
@category4Color     : lighten(saturate(spin(@category1Color, -180), 45%), 20%); // d08b57
@category5Color     : lighten(saturate(spin(@category1Color,  135), 25%), 15%); // b25c77

@informationColor   : @category2Color; // 61937f
@warningColor       : #BD4932;
@warningButtonColor : @warningColor;
@importantColor     : #6C101E;

// Units
@headerBgPosX       : -300px;
@headerBgPosY       : -70px;

// Connexion
@connexionTitleSize : 12em;
@connexionTitleTop  : -3em;

// Images
@theme              : "++resource++jalon.theme.images";
@backgroundImage    : "portal-header.png";*/
/**************************************************/
/**************************************************/
/**************************************************/
/**************************************************/
/**************************************************/
/*** BOUTONS ***********************************************************************/
a.bouton,
#content a.bouton,
a.bouton:focus,
#content a.bouton:focus,
input.bouton,
input.searchButton,
input.destructive,
.standalone,
.context,
.formControls .actionButtons .button,
.documentEditable * .context,
div.qq-upload-button,
.uploadifybutton,
.qq-upload-list .qq-upload-cancel,
#content a.creer_tag,
#content #tag li a,
#tag li a,
button.ui-button {
  display: inline-block;
  width: auto;
  font-size: 1em;
  font-weight: normal;
  margin: 0;
  margin-bottom: 0.1em;
  margin-right: 0.25em;
  padding: 0.5em 1em !important;
  background-position: 0 0 !important;
  cursor: pointer;
  overflow: visible;
  position: relative;
  text-decoration: none;
  background-color: #ff9933;
  color: #ffffff !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: rgba(0, 0, 0, 0.1) !important;
  border-bottom-color: rgba(0, 0, 0, 0.25) !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.25)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25)) !important;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25)) !important;
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25)) !important;
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25)) !important;
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25)) !important;
  text-shadow: 0 -1px 1px #000000;
  -webkit-border-radius: 3px ;
  -moz-border-radius: 3px ;
  border-radius: 3px ;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 1px 2px rgba(0, 0, 0, 0.25)  !important;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 1px 2px rgba(0, 0, 0, 0.25)  !important;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 1px 2px rgba(0, 0, 0, 0.25)  !important;
}
a.bouton.small,
#content a.bouton.small,
input.context.small,
.context.small,
input.bouton.small,
input.searchButton.small,
input.destructive.small,
.standalone.small,
#content a.creer_tag,
#content #tag li a,
#tag li a {
  font-size: 90%;
  padding: 0.1em 0.75em !important;
}
a.bouton.blanc,
#content a.bouton.blanc,
.context.blanc,
input[name="form.button.cancel"],
#uploadify-clear-queue {
  background-color: #ffffff;
  color: #333333 !important;
  font-weight: bold;
  text-shadow: 0 1px 1px #ffffff;
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.5) !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)) !important;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)) !important;
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)) !important;
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)) !important;
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)) !important;
}
a.bouton.off,
#content a.bouton.off,
input.bouton.off,
input.context.off {
  -webkit-opacity: 0.5;
  -khtml-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: default !important;
}
a.bouton:hover,
#content a.bouton:hover,
.context:hover,
input.bouton:hover,
input.searchButton:hover,
input.destructive:hover,
.standalone:hover,
.context:hover,
.formControls .actionButtons .button:hover,
.documentEditable * .context:hover,
.qq-upload-button:hover,
#content a.creer_tag:hover,
#content #tag li a:hover,
#tag li a:hover {
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0)) !important;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0)) !important;
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0)) !important;
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0)) !important;
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0)) !important;
}
a.bouton.blanc:hover,
#content a.bouton.blanc:hover,
.context.blanc:hover,
input[name="form.button.cancel"]:hover,
#uploadify-clear-queue:hover {
  border-color: rgba(0, 0, 0, 0.25) !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)) !important;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)) !important;
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)) !important;
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)) !important;
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)) !important;
}
a.bouton.warning,
#content a.bouton.warning,
input.context.warning {
  background-color: #cbb072;
  color: #ffffff;
}
a.bouton.important,
#content a.bouton.important,
.context.important,
input.bouton.important,
input.searchButton.important,
input.destructive.important,
.standalone.important,
.context.important,
input.context.important,
#content .qq-upload-list .qq-upload-cancel {
  background-color: #e26856;
  color: #ffffff;
}
a.bouton.information,
#content a.bouton.information,
.context.information,
input.bouton.information,
input.searchButton.information,
input.destructive.information,
.standalone.information,
.context.information,
input.context.information,
#content .qq-upload-list .qq-upload-cancel {
  background-color: #669933;
  color: #ffffff;
}
/*** TEXTES ICONES ***********************************************************************/
.texte_icone {
  padding-left: 22px !important;
  /* 18 + 4 */

}
label.texte_icone {
  display: inline-block;
}
/***  ICONES SEULES ***********************************************************************/
#content a.bouton.iconeseule {
  padding: 0 !important;
  -webkit-border-radius: 1.1em ;
  -moz-border-radius: 1.1em ;
  border-radius: 1.1em ;
}
/*** DIVERS *********************************************************************************/
.bouton.icone_retour.position_droite {
  margin-right: 40px;
}
