[buildout]
find-links = http://pypi.python.org/simple/lovely.buildouthttp
             http://pypi.python.org/simple/zc.buildout
             http://pypi.python.org/simple/setuptools
extends = mongodb.cfg
          versions.cfg
          testing.cfg
develop = .

#extensions = buildout.dumppickedversions
versions = versions
allow-picked-versions = false

include-site-packages = false
exec-sitecustomize = false

parts = logs pkgs app
        mongodb-setup
        test test-pkgs
        checker coverage-test coverage-report


[logs]
recipe = z3c.recipe.dev:mkdir
path = parts/logs


[pkgs]
recipe = z3c.recipe.dev:mkdir
path = parts/pkgs


[app]
recipe = p01.recipe.setup:paste
eggs = s01.worker
ini = 
  [loggers]
  keys = root, wsgi

  [handlers]
  keys = console, accesslog

  [formatters]
  keys = generic, accesslog

  [logger_root]
  level = INFO
  handlers = console

  [logger_wsgi]
  level = INFO
  handlers = accesslog
  qualname = wsgi
  propagate = 0

  [handler_console]
  class = StreamHandler
  args = (sys.stderr,)
  level = NOTSET
  formatter = generic

  [handler_accesslog]
  class = FileHandler
  args = (os.path.join(r'${buildout:directory}', 'parts', 'logs', 'access.log'), 'a')
  level = INFO
  formatter = accesslog

  [formatter_generic]
  format = %(asctime)s %(levelname)s [%(name)s] %(message)s

  [formatter_accesslog]
  format = %(message)s

  [filter:translogger]
  use = egg:Paste#translogger
  setup_console_handler = False
  logger_name = wsgi

  [app:worker]
  use = egg:s01.worker#app

  [pipeline:main]
  pipeline = translogger worker

  [server:main]
  use = egg:Paste#http
  host = 127.0.0.1
  port = 6800
  use_threadpool = yes
  threadpool_workers = 4
  threadpool_spawn_if_under = 0

conf =
  devmode on

  <product-config s01.core>
    mongodb localhost:27017
  </product-config>

  <product-config s01.worker>
    package_dir ${buildout:directory}/parts/pkgs
    pypi_url https://pypi.projekt01.ch
    server_name worker01
    auto_start_processor 1
    threads 1
    wait_time 1.0
    copy_to_zlog  1
  </product-config>

  # python version/path mapping
  # The type e.g. win32, linux2 must be the value which sys.platform returns.
  # The type win32, linux2, darwin allows to use the same buildout.cfg for
  # different systems. (e.g. testing)
  # Currently we only support the following types:
  # win32, linux2 and darwin
  <pythonversions win32>
    2.6.6 C:/Python26/python.exe
    2.7 C:/Python27/python.exe
  </pythonversions>
  <pythonversions linux2>
    2.6.6 /usr/local/bin/python26
    2.7 /usr/local/bin/python27
  </pythonversions>

  <eventlog>
    <logfile>
      formatter zope.exceptions.log.Formatter
      path ${buildout:directory}/parts/logs/event.log
      max-size 50MB
      old-files 10
    </logfile>

    <logfile>
      level error
      formatter zope.exceptions.log.Formatter
      path ${buildout:directory}/parts/logs/error.log
      max-size 50MB
      old-files 10
    </logfile>
  </eventlog>

  <logger>
    name s01.worker
    level info
    propagate false
    <logfile>
      formatter zope.exceptions.log.Formatter
      path STDOUT
    </logfile>
    <logfile>
      formatter zope.exceptions.log.Formatter
      path ${buildout:directory}/parts/logs/worker.log
      max-size 50MB
      old-files 10
    </logfile>
  </logger>

zcml =
  <configure
      xmlns="http://namespaces.zope.org/zope"
      xmlns:meta="http://namespaces.zope.org/meta"
      xmlns:mail="http://namespaces.zope.org/mail"
      xmlns:p01="http://namespaces.zope.org/p01"
      i18n_domain="zope">

  <!-- Turn off the devmode -->
  <meta:provides feature="devmode" />

  <include package="s01.worker" file="app.zcml" />

  <principal
      id="scrapy.manager"
      title="Manager"
      login="Manager"
      password="password"
      />
  <grant
      role="scrapy.Manager"
      principal="scrapy.manager"
      />

  </configure>
