DIV.i18n-widget DIV.tabs {
	float: left;
	width: 100%;
	padding-top: 4px;
}

DIV.tabs IMG {
	border: 0px;
}

DIV.tabs UL {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

DIV.tabs LI {
	float: left;
	background: url("/--static--/ztfy.i18n/img/tab_bg.gif") no-repeat left top;
	margin: 0px 2px 0px 0px;
	padding: 0px 0px 0px 10px;
	height: 16px;
}

DIV.tabs LI A {
	min-height: 16px;
}

DIV.tabs LI IMG {
	height: 11px;
	padding-top: 3px;
}

DIV.tabs LI IMG.transposer {
	height: 16px;
	padding-top: 0px;
}

DIV.tabs LI.current {
	background: url("/--static--/ztfy.i18n/img/tab_sel_bg.gif") no-repeat left top;
	margin-right: 2px;
}

DIV.tabs SPAN {
	float: left;
	display: block;
	background: url("/--static--/ztfy.i18n/img/tab_end.gif") no-repeat right top;
	padding: 0px 10px 0 0;
	height: 16px;
}

DIV.tabs .current SPAN {
	background: url("/--static--/ztfy.i18n/img/tab_sel_end.gif") no-repeat right top;
}

DIV.tabs A {
	text-decoration: none;
	font-family: Verdana, Arial;
	font-size: 0.9em;
}

DIV.tabs_wrapper {
	border: 1px solid #919B9C;
	clear: both;
	background-color: white;
}

DIV.tabs_wrapper DIV.panel {
	display: none;
}

INPUT,
TEXTAREA {
	margin-left: 3px;
}

DIV.tabs_wrapper DIV.current INPUT,
DIV.tabs_wrapper DIV.current TEXTAREA {
	margin: 0px 5px 3px 3px;
}

DIV.dialog INPUT,
DIV.dialog TEXTAREA {
	margin: 0px 5px 3px 3px;
}

DIV.tabs_wrapper DIV.current {
	display: block;
	width: 100%;
	overflow: visible; /* Should be auto but that breaks Safari */
}

DIV.tabs_wrapper .hint {
	padding-top: 5px;
}

DIV.panel_flag {
	display: none;
	margin-left: 3px;
	margin-top: 2px;
	margin-right: 3px;
	padding-top: 2px;
	padding-left: 5px;
}

DIV.panel_flag.notfirst {
	border-top: 1px dotted silver;
}

DIV.panel_widget {
	display: inline;
	margin-left: 0px;
}
