/* zrt-replace: "../img" tal"string:${context/++resource++img}" */

.j01Select {
    width: 100%;
    height: 18px;
    height: auto;
    margin : 0px;
    padding : 0px;
    position: relative;
}

.j01SelectWidget {
    width: auto;
    height: auto !important;
    height: 1%;
    background: #FFFFFF;
    position: relative;
    overflow: hidden;
    border: 1px solid silver;
    margin: 0px;
    padding: 0px 3px 0px 3px;
}

.j01SelectWidget .j01SelectToken {
    -webkit-border-radius: 3px;
    -moz-border-radius   : 3px;
    border-radius        : 3px;
    -moz-background-clip   : padding;
    -webkit-background-clip: padding-box;
    background-clip        : padding-box;
    background-color: #e4e4e4;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#eeeeee', GradientType=0 ); 
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
    background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -ms-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%); 
    -webkit-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
    -moz-box-shadow   : 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
    box-shadow        : 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
    color: #333;
    border: 1px solid #aaaaaa;
    line-height: 9px;
    padding: 3px 20px 3px 5px;
    margin: 3px 5px 3px 0px;
    position: relative;
    cursor: default;
    float: left;
    list-style: none;
}

.j01SelectWidget .j01SelectTokenLabel {
    line-height: 10px;
}

.j01SelectWidget .j01SelectTokenPlaceHolder {
    border: 0;
    height: 11px;
    line-height: 11px;
    padding: 3px 0px 3px 0px;
    margin: 3px 0 3px 0px;
    position: relative;
    cursor: default;
    float: left;
    list-style: none;
}

.j01SelectToken .j01SelectTokenCloser {
    display: block;
    position: absolute;
    right: 3px;
    top: 3px;
    width: 8px;
    height: 8px;
    font-size: 1px;
    background: url('../img/j01Select.png') right top no-repeat;
}
.j01SelectToken .j01SelectTokenCloser:hover {
    background-position: right -8px;
}

.j01SelectTokenMarked {
    background-color: red;
}

.j01SelectOptions {
    margin : 0;
    padding : 0;
    background-color: #FFFFFF;
    border-right: #DBDBDB solid 1px;
    border-left: #DBDBDB solid 1px;
    border-bottom: #DBDBDB solid 1px;
}

.j01SelectOptions div {
    text-align: left;
    line-height: 14px;
    padding: 3px 3px 3px 3px;
}

.j01SelectOptions div.tokenHover {
    color: #FFFFFF;
    background-color: #CF4B00;
}

.j01SelectOptions a {
    color: #666666;
}

.j01SelectOptions .even {
    background: #F5F5F5;
}

.j01SelectOptions .odd {
    background-color: #FFFFFF;
}

.j01SelectOptions .hover {
    color: #FFFFFF;
    background-color: #CF4B00;
}

