#slider-wrapper  {
	border: 1px solid #b8b8b8;
	margin: 10px auto 20px;
}

	/* numeric controls */	

	ol#controls{
		margin:10px 0 25px 0;
		padding:0;
		height:28px;	
		}
	ol#controls li{
		margin:0 10px 0 0; 
		padding:0;
		float:left;
		list-style:none;
		height:28px;
		width: 28px;
		line-height:28px;
		}
	ol#controls li a{
		float:left;
		height:28px;
		line-height:28px;
		border:1px solid #ccc;
		background: #fff;
		color:#555;
		padding:0 10px;
		text-decoration:none;
		}
	ol#controls li.current a{
		background: #000;
		color:#fff;
		}
	ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus{outline:none;}

 
#slider li {
 	margin: 0;
	padding: 0;
	overflow: hidden;
	display: block;
	position: relative;
	float: left;
}
#slider ul {
	margin: 0;
	padding: 0;	
	list-style-image: none;
	list-style-type: none;
} 

.slider-text {
	width: 100%;
	position: absolute;
	padding: 5px 0;
	margin: 0;
	z-index: 3;
	height:57px;
	bottom: 0;
}

img.slider-image {
 	position: absolute;
	z-index: 1;
	top:  0px;
}

h1.image-title {
	margin: 0;
	padding: 4px 10px 0;
	border-bottom: 0 none;
	color: #EEE;
}

.slider-text .documentDescription {
	padding: 0 10px 4px;
	color: #EEE;
	font-weight: normal;
}

#slider a {
	text-decoration: none !important;
}

#firstBtn, #lastBtn,
#prevBtn, #nextBtn{ 
	display:block;
	width:30px;
	height:30%;
	position: relative;
}

#firstBtn,
#prevBtn {
	left:-30px;
	top:-65%;
}

#lastBtn,	
#nextBtn{ 
    top:-95%;
}


#prevBtn a, #nextBtn a{  
	display:block;
    color: transparent;
	width:30px;
	height:77px;
	background:url(++resource++ptg.easyslider/arrow-left.png) no-repeat 0 0;	
}	

#nextBtn a{ 
	background:url(++resource++ptg.easyslider/arrow-right.png) no-repeat 0 0;	
}

#firstBtn a, #lastBtn a {  
	display:block;
    color: transparent;
	width:32px;
	height:30px;
	background:url(++resource++ptg.easyslider/button_black_first.png) no-repeat 0 0;	
}	

#lastBtn a { 
	background:url(++resource++ptg.easyslider/button_black_last.png) no-repeat 4px 0;	
}

#smallButtons {
	position:relative;
	left:10px;
	top:-48px;
	height: 30px;
	display: inline-block;
}	

 
#easySlider-goToButtons a.active {
	background: #494949;
	border: 1px solid black;
	color: white;
}

   
