body {
    padding-top: 45px; /* When using the navbar-top-fixed */
}
/*Button style for dashboard*/
.btn_on_dash{
    margin-bottom: 10px;
    margin-left: 5px;
}


/* fix jqgrid with bootstrap*/
input.ui-pg-input {
    width: auto;
    padding: 0px;
    margin: 0px;
    line-height: normal
}
select.ui-pg-selbox {
    width: auto;
    padding: 0px;
    margin: 0px;
    line-height: normal
}


.btn-desktop {
    width: 200px;
}