$yellow: #ffcc20
$blue: #4093dc
$purple: #993e88
$green: #8ec961
$orange: #f58020
$red: #cf2e2e

$supportFontFamily: Helvetica, Arial, sans-serif
$primaryFontFamily: Georgia, serif

$republicanBackground: #d98e8d
$democraticBackground: #92a9d0
