[buildout]
develop = .
parts = test checker coverage-test coverage-report


[testenv]
zope_i18n_allowed_languages = en, de


[test]
recipe = zc.recipe.testrunner
defaults = ['--tests-pattern', '^f?tests$']
eggs = p01.vocabulary.cache [test]
environment = testenv


[checker]
recipe = lovely.recipe:importchecker
path = src/p01/vocabulary/cache


[coverage-test]
recipe = zc.recipe.testrunner
eggs = p01.vocabulary.cache [test]
defaults = ['--coverage', '../../coverage']
environment = testenv


[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coveragereport
arguments = ('coverage', 'coverage/report')
