[buildout]
extends = 
    https://raw.github.com/collective/buildout.plonetest/master/test-4.x.cfg
package-name = collective.portlet.twittermultistream
package-extras = [test]

extensions = mr.developer
auto-checkout=*
sources = sources

[sources]
#collective.js.timeago = git git://github.com/collective/collective.js.timeago.git
