/* Stylesheet for the 'adi.slickstyle' Plone theme */
/* This stylesheets regards that Products.ContentWellPortlets might be installed */


/*
 *
 *
 *   RESET public.css
 *
 *   Sets everything to same col, 
 *   same bg-col and no borders.
 *
 *
 */


/* GENERAL - set bg-col globally for body below */ 

* { color: #333; background: transparent; border: none; }

/* COLLECTED COLOR */

h1, h2, h3, h4, h5, h6,
.searchSection label:hover,
/* searchbox input text*/ input.inputLabelActive,
#content .documentDescription, 
#content #description,
#content .discreet, 
#sidebar .discreet,
#content-views li.selected a,
#content-views li a:hover,
#content li.formTab a.selected,
#content li.formTab a:hover {
    color: #333; 
}

#plone-contentmenu-workflow .state-published,
#plone-contentmenu-workflow .state-private,
#plone-contentmenu-workflow .state-pending    {
    color: #333 !important;
}


/* COLLECTED TRANS BG */

table.listing tbody tr.odd,
table.listing tbody tr.odd td,
#portal-languageselector, 
#portal-personaltools,
#portal-globalnav, 
#portal-globalnav li a, 
#portal-globalnav .selected a, 
#portal-globalnav .selected a:hover, 
#portal-globalnav a:hover, 
#portal-footer, 
div.managePortletsLink, a.managePortletsFallback,
#content ul.formTabs,
#content-views li.selected a,
#content-views li a:hover,
#content li.formTab a.selected,
#content li.formTab a:hover,
#contentActionMenus,
dl.portlet dt, 
div.portletAssignments div.portletHeader {
    background: transparent;
}

table.listing td.draggable {
    background: none !important;
}

#edit-bar,
#content-views,
#contentActionMenus dl.actionMenu a, 
#contentActionMenus dl.actionMenu.activated dd,
#plone-contentmenu-workflow .state-published,
#plone-contentmenu-workflow .state-private,
#plone-contentmenu-workflow .state-pending,
dl.portalMessage    {
    background-color: transparent;
}

/* COLLECTED LINKS */

a,
a:link, 
a:visited, 
#content a:link, 
#content a:visited, 
dl.portlet a:link,
#portal-globalnav a:hover,
#portal-globalnav li a,
#portal-globalnav .selected a,
#portal-globalnav .selected a:hover,
#portal-siteactions li a:hover
#portal-breadcrumbs a,
#portal-colophon a,
#content-views a,
dl.portalMessage a, 
dl.portalMessage a span, 
#content dl.portalMessage a,
#content dl.portalMessage a span {
    color: #666;
}

#content a:hover, 
dl.portlet a:hover {
    color: #666 !important;
}

/* NO BORDERS */

#plone-contentmenu-workflow .state-published,
#plone-contentmenu-workflow .state-private,
#plone-contentmenu-workflow .state-pending    {
    border: none;
}

dl.portlet ul.navTreeLevel0 > .navTreeItem,    
#content a:link, 
dl.portlet a:link,
#edit-bar,
#contentActionMenus dl.actionMenu.activated dd, 
#content ul.formTabs,
dl.portalMessage a, 
#content dl.portalMessage a {
    border-bottom: none;
}

#content a:link, 
dl.portlet a:link,
#edit-bar,
#content ul.formTabs {
    border-style: none;
}

#content a.link-overlay {
    border-bottom: none !important;
}

#portal-globalnav li a {
    border-right: none;
}

/* PAD'N'MARGE */

#portal-globalnav { 
    margin: 0; 
}

#portal-globalnav li a { 
    padding: 0; 
}

#content p, 
#content table, 
#content dl, 
dl.portlet p, 
dl.portlet {
    margin-bottom: 0;
}

/* MAX'N'MIN */

#portal-globalnav li a { 
    min-width: 0; 
}

/* MISC */

h1, h2 {
    letter-spacing: 0;
}

/*
 *
 *
 *  CUSTOM
 *
 *  give some own styles
 *
 *
 */

#visual-portal-wrapper {
    margin: 1.5em auto;
    width: 90%;
    max-width: 999px;
}

#portal-globalnav li a { 
    padding: 1em 2em 1.5em 0;
    font-size: 1.5em;
}

body {
    background: #e2e2e2;
}

input,
textarea,
.managePortletsLink,
.managePortletsFallback {
    border: 1px solid #999;
}

/* END OF STYLESHEET */
