
body.template-slideshow_view #portal-column-content
{
    width: 790px !important;
    margin-left: -780px !important;
}

body.template-slideshow_view #viewlet-above-content
{
    left: -190px !important;
}


.embededMediaShow
{
/*    background-color: #f1f3f8;
    moz-border-radius: 5px;
    webkit-border-radius:5px;
    border-radius:5px; */
}

.embededMediaShow.javascripted {
    height: 537px;
}

.embededMediaShow.javascripted .mediaShowButtons 
{
    left:10px;
    margin-bottom: 20px;
    width: 149px;
}

.embededMediaShow.javascripted .mediaShowButtons a, .embededMediaShow.javascripted a
{
    text-decoration: none;
    border: none !important;
}

div.embededMediaShow.javascripted a.infoButton, #content div.embededMediaShow.javascripted a.infoButton
{
    padding:0;
    background-color:transparent;
    /*width: 22px;
    height: 22px;
    color:transparent !important;
    text-indent:10000px;
    overflow:hidden;
    background-image: url(++resource++plonetheme.porseleinplaats.images/info-button.png);*/
    display:block;
    position: absolute;
    right: 43px;
    bottom: -41px;
    color: #354298 !important;
    font-size: 100%;
}

body.portaltype-object div.embededMediaShow.javascripted a.infoButton,body.portaltype-object #content div.embededMediaShow.javascripted a.infoButton
{
    display: none;
}

.mediaShowButtons a, #content .mediaShowButtons a:link, #content .mediaShowButtons a:visited
{
    color: #354298 !important;
    text-indent: 0px !important;
    width: auto !important;
    float: none !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.embededMediaShow.javascripted .mediaShowButtons .buttonNext, .embededMediaShow.javascripted .mediaShowButtons .buttonPrev
{
    text-transform: none;
}


.mediaShowButtons.disabled a, #content .mediaShowButtons.disabled a:link, #content .mediaShowButtons.disabled a:visited
{
    color: #CCC !important;
    cursor: default !important;
}

.embededMediaShow.javascripted div.mediaShowButtons a.buttonNext, .embededMediaShow.javascripted div.mediaShowButtons a.buttonNext:hover
{
    background-image: url(++resource++plonetheme.porseleinplaats.images/next.png) !important;
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 15px;
    line-height: 10px;
    height: 18px;
    color: #354298 !important;
}

.embededMediaShow.javascripted div.mediaShowButtons.disabled a.buttonNext, .embededMediaShow.javascripted div.mediaShowButtons.disabled a.buttonNext:hover
{
    background-image: url(++resource++plonetheme.porseleinplaats.images/nextDisable.png) !important;
}

.embededMediaShow.javascripted div.mediaShowButtons.disabled a.buttonPrev, .embededMediaShow.javascripted div.mediaShowButtons.disabled a.buttonPrev:hover
{
    background-image: url(++resource++plonetheme.porseleinplaats.images/prevDisable.png) !important;
    border-right: 1px solid #ccc !important;
}

.embededMediaShow.javascripted div.mediaShowButtons a.buttonNext:hover, .embededMediaShow.javascripted div.mediaShowButtons a.buttonPrev:hover
{
    text-decoration: underline;
}

.embededMediaShow.javascripted div.mediaShowButtons a.buttonPrev, .embededMediaShow.javascripted div.mediaShowButtons a.buttonPrev:hover
{
    background-image: url(++resource++plonetheme.porseleinplaats.images/prev.png) !important;
    background-position: center left;
    background-repeat: no-repeat;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 10px;
    height: 18px;
    border-right: 1px solid #354298 !important;
    color: #354298 !important;
}


/*  ==========  Fullscreen slideshow  ============= */

/* ======== Slideshow Arrow tooltip =============*/

#ArrowToolTip {
    background-image: url("++resource++plonetheme.porseleinplaats.images/ArrowkeyTooltip2.png");
    bottom: 40px;
    height: 143px;
    position: fixed;
    left: 50%;
    margin-left: -111px;
    width: 222px;
    z-index: 9999;
    display: block;
}

.embededMediaShow.javascripted.fullscreen {
   /*background-color: black;*/
   background-color: white;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9998;
}

.embededMediaShow.javascripted.fullscreen .mediaShowMedia
{
    height: 100%;
    width: 100%;
}

.embededMediaShow.javascripted.fullscreen .mediaShowInfo
{
    display: none;
}

div.embededMediaShow.javascripted.fullscreen a.infoButton, #content div.embededMediaShow.javascripted.fullscreen a.infoButton
{
    position:fixed;
    bottom: 20px;
}


div.embededMediaShow.javascripted a.buttonFullscreen
{
    background-image: url(++resource++plonetheme.porseleinplaats.images/fullscreen.png) !important;
    padding:0;
    background-color:transparent;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    color:transparent !important;
    text-indent:10000px !important;
    overflow:hidden !important;
    background-position: top left;
    position: absolute;
    bottom: 13px;
    right: 10px;
    cursor: pointer !important;
    z-index: 9999;
}


div.embededMediaShow.javascripted.fullscreen a.buttonFullscreen
{
    background-image: url(++resource++plonetheme.porseleinplaats.images/close.png) !important;
    bottom: auto;
    top: 13px;
    cursor: pointer !important;
    z-index: 9999;
}
