[buildout]
extends = https://raw.github.com/collective/buildout.plonetest/master/test-4.2.x.cfg
develop = .
package-name=collective.overridemailrecipients

[test]
recipe = zc.recipe.testrunner
defaults = ['-s', '${buildout:package-name}', '--auto-color', '--auto-progress']
eggs =
    ${buildout:package-name} [test]

