.simplegallery {
    margin: 0 0  9px 0;
    position: relative;
}

.simplegallery div {
    display: block;
    position: relative;
    float:  left;
    overflow: hidden;
    background-repeat: no-repeat;
    color: #eee !important;
    text-align: center;
    padding:  0;
    margin: 10px;
    -moz-box-shadow: 0 0 14px #DDD;
	-webkit-box-shadow: 0 0 14px #DDD;
	box-shadow: 0 0 14px #DDD;
	border:  1px solid #DEDEDE;
}

.simplegallery div.imagebox {
    display: block;
    margin:  0;
    padding: 20px 0 0 0;  
}
 
.row_0 {
	 clear: left;
	 margin-left:  0 !important;
}


h3.image-title{
	color:  #333;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	margin: 0;
}

 
p.image-desc {
	padding: 0px 5% 25% 5% ;
	color: #333;
	font-style: normal ;
	font-size: 12px;
	margin: 0;
}


