[buildout]
develop = .
parts = prefetch
versions = versions
eggs-directory = eggs

[prefetch]
recipe = isotoma.recipe.ploneprefetch
url = http://launchpad.net/plone/3.3/3.3.5/+download/Plone-3.3.5-UnifiedInstaller.tgz
python = 2.6

[versions]
zc.buildout = 1.4.3
zc.recipe.testrunner = 1.3.0
zc.recipe.egg = 1.2.3b2
zope.interface = 3.6.3
zope.exceptions = 3.6.1

