[buildout]
develop = .
          ../m01.mongo
          ../m01.stub

parts = test checker coverage-test coverage-report


[testenv]
m01.logger.testing.dbhost = localhost
m01.logger.testing.dbport = 45017
m01.logger.testing.database = m01_logger_testing
m01.logger.testing.collection = testing
m01.logger.testing.level = 10
m01.logger.testing.propagate = false
m01.logger.testing.capacity = 1
m01.logger.testing.instance = testinstance


[test]
recipe = zc.recipe.testrunner
eggs = m01.logger [test]
environment = testenv


[checker]
recipe = lovely.recipe:importchecker
path = src/m01/logger


[coverage-test]
recipe = zc.recipe.testrunner
eggs = m01.logger [test]
defaults = ['--all', '--coverage', '../../coverage']


[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')
