.delete {                                           
    background:url(++resource++quintagroup.plonegooglesitemaps.trash.gif) 5px 50% no-repeat;     
    display:none;
    font-size:80%;                     
    padding:0 0 0 18px;                                    
    }
li:hover .delete {
    display:inline;
    }

