/* Stylesheet for the 'INTK Theme' Plone theme */

html, body {
    height: 100%;
}

#content .image-inline
{
    max-width: 100%;
}

#visual-portal-wrapper
{
    margin-left:auto;
    margin-right:auto;
    position:relative;
    min-height:100%;
}

div.position-3\3a 4 {
    margin-left: -22.2%;
}

#portal-column-two
{
    margin-bottom:20px;
    margin-top: 34px;
}

#portal-column-one
{
    width:22.75% !important;
}

#portal-top
{
}

#head-wrapper
{
    height: 127px;
}

#head-width
{
    margin:0px auto;
    width: 920px;
}

#portal-logo {
    left: 50%;
    margin: 0 0 0 -75px;
    position: absolute;
    top: -75px;
}

#portal-header
{
    /*display:none;*/
    z-index: 9999;
}

#portal-logo-bottom {
    /*display: none;*/
    left: 50%;
    margin: 0 0 0 -75px;
    position: absolute;
    bottom: 0;
    width:150px;
    height:75px;
    background-image:url(++resource++plonetheme.intk.images/logo.png);
}

#portal-searchbox
{
    z-index:1001;
    position: absolute;
    margin: 0;
    float:none;
    clear:both;
    display:block;
    height:75px;
    opacity:0;
    background-color:#F3F6EE;
    width:920px;
}

#portal-searchbox:hover
{
}

.searchSpacer
{
  height:75px;  
}

.LSBox .searchSection {
    display: none;
}

#LSResult {
    background: none repeat scroll 0 0 White;
    margin: 0;
    position: absolute;
    right: 0;
}

#livesearchLegend {
    background-color: white;
    border: 1px solid #CCCCCC;
    padding: 0.3em;
}

#portal-searchbox .searchButton {
    position:absolute;
    left:845px;
    top:0;
    background-color:white;
    border: none;
    height:75px;
    width:75px;
    background-image:url(++resource++plonetheme.intk.images/search2.png);
    color:transparent;
    font-size:0px;
    text-indent:-10000px;
    cursor:pointer;
}

#portal-searchbox .searchButton:hover {
    border-bottom:5px solid #cdd0c7;
}

#portal-searchbox #searchGadget, #portal-searchbox #nolivesearchGadget
{
    font-family: Palatino, Georgia,serif;
    background-color:white;
    font-size: 48px;
    position:absolute;
    top:0;
    left:-1px;
    width: 833px;
    height: 75px;
    padding: 0px 10px 0px 0px;
    margin:0;
    border: 0px none;
    -moz-appearance: none;
}

#portal-searchbox #searchGadget:focus, #portal-searchbox #nolivesearchGadget:focus
{
    background-color:white;
}


.highlightedSearchTerm
{
  background-color:transparent;  
}

/* ==== COMPLICATED STUFF ==== */

div.width-full {
    width: 100%;
}

div.width-full {
    width: 100%;
}

div.position-0 {
    margin-left: -100%;
}

div.position-1\3a 4 {
    margin-left: -73.875% !important;
}

div.position-3\3a 4 {
    margin-left: -23.2%;
}

div.width-1\3a 4 {
    width: 23.75%;
}

div.width-3\3a 4 {
    width: 73%;
}

#portal-columns
{
    width: 920px;
    margin: 0 auto;
    float: none;
    clear: both;
}

td img
{
    max-width: 330px !important;
    height:auto;
}

#fieldset-default table
{
    border:none !important;
}

/* ==== Footer ==== */

#portal-footer-wrapper
{
    clear: both;
}

#portal-column-content
{
    margin-bottom:20px;
    margin-left:-99.6%;
}

#INTKFooter-wrapper
{
    width:100%;
    min-height: 199px;
    clear:both;
    color:black;
    margin-top:20px;
}

#INTKFooter
{
    width:920px;
    margin: 0px auto;
    padding:20px 0;
    line-height: 15px;
}

#INTKFooter h2
{
    color: black;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-decoration: none;
}

#INTKFooter p
{
    display:none;
    margin:0;
    padding:0;
}

#INTKFooter ul
{
    display:block;
    float:left;
    margin: 0 11px;
    min-width: 159px;
}

#INTKFooter ul li
{
    color: black;
    display: block;
    font-size: 13px;
    line-height: 1.5em;
}

#INTKFooter ul li a
{
    color: black;
    font-size:13px;
    text-decoration: none;
}

#INTKFooter ul li a:hover
{
    text-decoration: underline;
}

#portal-personaltools
{
    float: left;
    background-color:transparent;
    margin-left: 20px;
    padding: 0;
}

#portal-personaltools a
{
    color:black;
}

#portal-personaltools dd {
    background-color:transparent;
    display:block !important;
    margin:0;
    padding:0;
}

#portal-personaltools dd a:hover
{
    color:black;
}

#portal-personaltools dt {
    margin:2px 0 11px 0;
    padding:0;
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 1px;
}

#portal-personaltools dt a, #portal-personaltools dt a:hover
{
    text-decoration:none;
    cursor:default !important;
}

#portal-personaltools dt#anon-personalbar a
{
    text-decoration:none;
    cursor:pointer !important;
}

#portal-personaltools dt#anon-personalbar a:hover
{
    text-decoration:underline;
    cursor:pointer !important;
}

#portal-personaltools dd ul
{
    margin: 10px 0 0;
    padding:0;
}

#portal-personaltools dd ul li a
{
    margin:0;
    padding:0;
    line-height:1.5em;
}

#portal-personaltools dd ul li a:hover
{
    background-color:transparent;
}

#INTKFooter dl.actionMenu.activated dd
{
    position:static;
}

#INTKFooter dl.actionMenu.activated dt a, dl.actionMenu.activated dd a, dl.actionMenu.activated dd div {
    margin: 0;
}

#portal-personaltools-wrapper
{
    float:right;
}

#anon-personalbar
{
    display:none;
}

/* ====  CONTENT ====*/

#content {
    clear: both;
    font-size: 22px;
    line-height: 36px;
    margin: 20px 0 20px 0;
}

#content h1.documentFirstHeading {
    margin-top: 0;
    padding-top: 2px;
}

div#parent-fieldname-description
{
    margin-bottom:1em;
}

#content li
{
    line-height: 36px;
}

#content .documentDescription
{
    font-family: Georgia, serif;
    font-style:italic;
    color:#333;
    font-weight:normal;
    font-size:20px;
}

#content hr
{
    margin-bottom:50px;
}

.pageWrapper
{
    margin-bottom:50px;
}

iframe
{
    max-width: 100%;
}

.portletMailChimp #actionsView, .portletMailChimp #formfield-form-email, .portletMailChimp .widget.formlibInlineValidation
{
    display:inline;
    width: auto;
}

.addthis_toolbox
{
    margin-bottom: 20px;
    text-align: center;
    width:267px;
    margin-left: auto;
    margin-right: auto;
}

.portletMailChimp .portletHeader
{
    margin-bottom: 20px;
}

html, body, span, div, hr, ul, li, p, img {
margin: 0;
padding: 0;
}

li {
margin-left: 30px;
}

body {
color: #000;
font-family: Palatino, Georgia, serif;
background-color: #f3f6ee;
height:100%;
font-size:22px;
line-height:36px;
}

h1, h2, h3 {
font-family: Palatino, Georgia, serif;
font-weight: normal;
margin: 0;
padding: 0;
color:#333;
letter-spacing:normal;
}

a, #content a:link, dl.portlet a:link, #content a:visited {
    color: #666 !important;
    border: none !important;
    text-decoration: underline;
}

a:hover, #content a:hover, dl.portlet a:hover {
    text-decoration: none;
}

dl.portlet dt, div.portletAssignments div.portletHeader {
    background-color: transparent;
    line-height: normal;
    padding: 0;
}

dl.portlet dd.portletItem, dl.portlet dd.portletFooter, dl.portletError dd {
    padding: 0;
}

dl.portlet li, div.portletStaticText li {
    display: block;
    margin-bottom: 0;
    margin-left: 0px;
}

dl.portlet {
    margin-bottom: 2em;
}

h1 {
font-size: 48px;
}

h2 {
font-size: 30px;
margin-bottom: 10px;
margin-top: 15px;
}

h3 {
font-size: 22px;
margin-bottom: 10px;
margin-top: 15px;
}

.list-item {
margin-left: 25px;
}

hr {
color: #000;
background-color: #000;
border: 0px;
height: 1px;
}

#titleItem {
    margin-bottom: 5px;
    margin-top: -65px;
    margin-left: 1px;
}

p {
    font-size: 22px;
    line-height: 36px;
    margin-bottom: 25px;
}

.quote {
    font-family: Palatino, georgia, serif;
    font-size: 24px;
    font-style: italic;
    padding: 20px;
    color: #999;
    background-color: white;
    margin: 0px 50px 25px 50px;
}

.code {
    padding: 20px;
    color: #999;
    background-color: white;
    margin: 0px 50px 25px 50px;
}

table, tr, td {
margin:0;
padding: 0;
font-size: 22px;
line-height: 36px;
}

table {
width: 100%;
margin-bottom: 25px;
}

td {
padding: 0px 10px 0px 0px;
}

thead {
font-weight: bold;
}

/* == Content Columns == */

div.leftColumn
{
    float:left;
    clear:left;
    margin-right: 5%;
    margin-bottom:30px;
    position: relative;
    width: 50%;
}

div.rightColumn
{
    float:right;
    clear:right;
    margin-bottom:30px;
    margin-left: 0%;
    position: relative;
    width: 45%;
}

div.rightColumn *, div.leftColumn *
{
    max-width:100% !important;
}

div.rightColumn img, div.leftColumn img
{
    max-width:100% !important;
    height:auto !important;
}

/* == TinyMCE Specific == */

body#content
{
    margin: 0;
}

.mceContentBody div.leftColumn
{
    border:1px dashed #ccc;
    margin-right: 14px;
    min-height: 20px; 
}

.mceContentBody div.rightColumn
{
    border:1px dashed #ccc;
    margin-left: 14px;
    min-height: 20px;
}

#content #fieldset-default
{
    margin:0;
    padding:0;
}


/* == Tile Items == */

.tileItem
{
    width:260px;
    padding:0px 10px 10px;
    float:left;
    margin-left:0px;
    margin-top:40px;
    background-color:#fff;
    /* height:354px; */
    color:#555;
}

.tileBody
{
    font-family: Lucida Console, Monaco, monospace;
    font-size: 12px;
    line-height:25px;
}

#masonContainer .tileItem
{
   /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
  /* Netscape */
  -moz-opacity: 0.0;
  /* Safari 1.x */
  -khtml-opacity: 0.0;
  /* Good browsers */
  opacity: 0.0;
}

#masonContainer, .searchResults
{
    width:960px;
}

.template-search .searchResults .tileItem
{
   /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
  /* Netscape */
  -moz-opacity: 0.0;
  /* Safari 1.x */
  -khtml-opacity: 0.0;
  /* Good browsers */
  opacity: 0.0;
}

#content img.tileImage, #content div.newsImageContainer {
    float: none;
    margin: 0;
}

#content .tileItem .tileHeadline, #portal-column-two .tileItem .tileHeadline
{
    font-size: 12px;
    font-family: Lucida Console, Monaco, monospace;
}

#content img.tileImage, #portal-column-two img.tileImage
{
    margin-left:-10px;
    width:280px;
    height:auto;
}

#portal-column-two .tileItem
{
    float: none;
}

/* ======= Fixing the search bar z index bug ======= */
#edit-bar, #content ul.formTabs
{
    position: relative;
    z-index: 1002;
    margin-top: 20px;
}


.twitterSearchPortlet .portletHeader, .twitterProfilePortlet .portletHeader
{
    background-color: transparent;
    border-radius: 0px;
    font-size: 12px !important;
    padding-top: 0px;
    padding-left: 20px;
    margin-top: -22px;
    margin-bottom: 4px !important;
}

#content .twitterProfilePortlet .portletHeader a, #portal-columns .twitterProfilePortlet .portletHeader a
{
    border-bottom: medium none !important;
}

/*#content .twitterProfilePortlet .portletHeader a:hover, #portal-columns .twitterProfilePortlet .portletHeader a:hover
{
    border-bottom: 1px solid silver !important;
}*/

.twitterSearchPortlet, .twitterProfilePortlet {
    color: inherit;
    font-family: inherit !important;
    font-size: inherit !important;
    background-color: transparent;
    border-radius: 0;
    padding-bottom: inherit !important;
    padding-top: 22px !important;
    background-image: url(++resource++plonetheme.arnolfini.images/twitter.png);
    background-position: top left;
    background-repeat: no-repeat;
}

.twitterSearchPortlet .result-item, .twitterProfilePortlet .result-item
{
    border-bottom: none;
    color: inherit;
    margin-bottom: 15px;
    padding-bottom: 15px;
    padding-top: 0;
}

.twitterSearchPortlet .result-item .tweet-content p, .twitterProfilePortlet .result-item .tweet-content p
{
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}

dl.twitterSearchPortlet a, dl.portlet.twitterSearchPortlet a:link, dl.portlet.twitterProfilePortlet a, dl.portlet.twitterProfilePortlet a:link
{
    color: inherit !important;
}

.twitterSearchPortlet .tweet-actions, .twitterProfilePortlet .tweet-actions
{
    clear: both;
    color: inherit;
    display: inline;
    font-size: inherit;
    font-style: normal;
    margin: 0;
    text-align: left;
}

#content .twitterProfilePortlet div.tweet-actions a.tweet-timestamp, #content .twitterSearchPortlet div.tweet-actions a.tweet-timestamp, #portal-columns .twitterProfilePortlet div.tweet-actions a.tweet-timestamp, #portal-columns .twitterSearchPortlet div.tweet-actions a.tweet-timestamp
{
    border-bottom: medium none !important;
    color: gray !important;
    display: inline;
    padding: 0;
    margin: 0;
    font-size:11px;
}

.twitterProfilePortlet .tweet-actions .reply, .twitterSearchPortlet .tweet-actions .reply, .twitterProfilePortlet .tweet-actions .retweet, .twitterSearchPortlet .tweet-actions .retweet, .twitterProfilePortlet .tweet-actions .fav, .twitterSearchPortlet .tweet-actions .fav
{
    display: none;
}

.twitterProfilePortlet .tweet-user-name
{
    font-size: inherit;
    line-height: inherit;
    display: none;
}

.twitterSearchPortlet .tweet-user-name
{
    font-size: inherit;
    line-height: inherit;
    display: block;
}

#content .twitterSearchPortlet span.tweet-user-name a
{
    color: gray !important;
    border-bottom: none !important
}

#content .twitterSearchPortlet span.tweet-user-name a:hover
{
    border-bottom: 1px solid silver !important;
}

.twitterSearchPortlet .result-item .tweet-text, .twitterProfilePortlet .result-item .tweet-text {
    margin: inherit;
    overflow: visible;
}

dl.twitterSearchPortlet .result-item .tweet-text p, dl.twitterProfilePortlet .result-item .tweet-text p
{
    margin-bottom: 0px !important;
    font-size: 11px;
    line-height: 19px;
}

.twitterSearchPortlet .portletItem, .twitterProfilePortlet .portletItem {
    background-color: inherit;
    border-radius: 0;
    margin: 0px;
    padding: 0 !important;
}

.twitterSearchPortlet .result-item .tweet-image, .twitterProfilePortlet .result-item .tweet-image {
    float: none;
    margin: 0px;
}

/* @end */


/* =========== Transitions ========== 

.template-search .searchResults, .template-intk_folder_view #masonContainer,
.template-search .searchResults .tileItem, .template-intk_folder_view #masonContainer .tileItem
{
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.template-search .searchResults, .template-intk_folder_view #masonContainer
{
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.template-search .searchResults .tileItem, .template-intk_folder_view #masonContainer .tileItem
{
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}

*/


/* ======= SIZES ===== */
/* == Fixes == */

.ploneSkin .mceExternalToolbar
{
    max-width:none;
}


/* ==============================================    X LARGE      ==========================================*/
body.xlarge #masonContainer, body.xlarge .searchResults
{
    width:1280px;
}

body.xlarge .tileItem
{
    width:260px;
}

body.xlarge #content img.tileImage, body.xlarge #portal-column-two img.tileImage
{
    width:280px;
}

body.xlarge #head-width
{
    width: 1240px;
}

body.xlarge #portal-searchbox
{
    width:1240px;
}

body.xlarge #portal-columns
{
    width: 1240px;
}

body.xlarge #INTKFooter
{
    width:1240px;
}

body.xlarge #portal-searchbox #searchGadget, body.xlarge #portal-searchbox #nolivesearchGadget
{
    width: 1153px;
}

body.xlarge #portal-searchbox .searchButton {
    left:1165px;
    width:75px;
}

body.xlarge .width-3\3a 4 #portal-searchbox
{
    width:906px;
}

body.xlarge .width-3\3a 4 #portal-searchbox #searchGadget, body.xlarge .width-3\3a 4 #portal-searchbox #nolivesearchGadget
{
    width: 819px;
}

body.xlarge .width-3\3a 4 #portal-searchbox .searchButton {
    left:831px;
    width:75px;
}


/* ==============================================       LARGE       ==========================================*/
body.large #masonContainer, body.large .searchResults
{
    width:960px;
}

body.large .tileItem
{
    width:260px;
}

body.large #content img.tileImage, body.large #portal-column-two img.tileImage
{
    width:280px;
}

body.large #head-width
{
    width: 920px;
}

body.large #portal-searchbox
{
    width:920px;
}

body.large #portal-columns
{
    width: 920px;
}

body.large #INTKFooter
{
    width:920px;
}

body.large #portal-searchbox #searchGadget, body.large #portal-searchbox #nolivesearchGadget
{
    width: 833px;
}

body.large #portal-searchbox .searchButton {
    left:845px;
    width:75px;
}

body.large div.leftColumn
{
    margin-right: 5%;
    width: 50%;
}

body.large div.rightColumn
{
    margin-left: 0;
    width: 45%;
}

body.large .width-3\3a 4 #portal-searchbox
{
    width:570px;
}

body.large .width-3\3a 4 #portal-searchbox #searchGadget, body.large .width-3\3a 4 #portal-searchbox #nolivesearchGadget
{
    width: 583px;
}

body.large .width-3\3a 4 #portal-searchbox .searchButton {
    left:595px;
    width:75px;
}

body.large .portletMailChimp .widget.formlibInlineValidation input[type="text"]{
    width: 136px;
}


/* ==============================================   MEDIUM    ==========================================*/

body.medium #portal-column-one, 
body.medium #portal-column-two,
body.medium #portal-column-content
{ 
    clear: both; 
    margin-left: -100%;
    width: 100%;
}

body.medium #masonContainer, body.medium .searchResults
{
    width:800px;
    max-width:none;
}

body.medium .tileItem
{
    width:340px;
}

body.medium #content img.tileImage, body.medium #portal-column-two img.tileImage
{
    width:360px;
}

body.medium #head-width
{
    width:760px;
}

body.medium #portal-searchbox
{
    width:760px;
}

body.medium #portal-columns
{
    width: 760px;
}

body.medium #INTKFooter
{
    width:760px;
}

body.medium *
{
    max-width: 760px;
}

body.medium #portal-searchbox #searchGadget, body.medium #portal-searchbox #nolivesearchGadget
{
    width: 673px;
}

body.medium #portal-searchbox .searchButton {
    left:685px;
    width:75px;
}

body.medium .embededMediaShow.javascripted .mediaShowButtons
{
    left: 41%;
    right: 41%;
}

body.medium div.leftColumn
{
    margin-right: 0;
    width: 100%;
}

body.medium div.rightColumn
{
    margin-left: 0;
    width: 100%;
}

body.medium div.rightColumn
{
    text-align:center;
}

body.medium div.rightColumn p
{
    text-align:left;
}


/* ==============================================   MOBILE     ==========================================*/

body.mobile #portal-column-one, 
body.mobile #portal-column-two,
body.mobile #portal-column-content
{ 
    clear: both; 
    margin-left: -100%;
    width: 100%;
}

body.mobile #masonContainer, body.mobile .searchResults
{
    width:360px;
}

body.mobile .tileItem
{
    width:340px;
}

body.mobile #content img.tileImage, body.mobile #portal-column-two img.tileImage
{
    width:360px;
}

body.mobile #head-width
{
    width: 360px;
}

body.mobile #portal-searchbox
{
    width:360px;
    position:relative;
    opacity:1;
    margin-bottom:10px;
}

body.mobile #portal-columns
{
    width: 360px;
}

body.mobile *
{
    max-width: 360px;
}

body.mobile #content img
{
    height:auto;
}

body.mobile #INTKFooter
{
    width:360px;
}

body.mobile #portal-searchbox #searchGadget, body.mobile #portal-searchbox #nolivesearchGadget
{
    width: 263px;
    font-size:16px;
    line-height:24px;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    padding-left:10px;
}

body.mobile #portal-searchbox .searchButton {
    left:285px;
    width:75px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
}

body.mobile, body.mobile p
{
    font-size:16px;
    line-height:24px;
}

body.mobile .documentFirstHeading{
    font-size:32px;
    line-height:37px;
}

body.mobile #content, body.mobile #content li {
    font-size:16px;
    line-height: 24px;
}

body.mobile .embededMediaShow.javascripted .mediaShowSlide .mediaShowInfo
{
    height:200px;
    top:200px;
}

body.mobile .embededMediaShow.javascripted .mediaShowSlide .mediaShowMedia
{
    height:200px;
}

body.mobile .embededMediaShow.javascripted
{
    height:300px;
}

body.mobile .embededMediaShow.presentationShow.javascripted
{
    height:400px;
}

body.mobile .embededMediaShow.javascripted .mediaShowButtons
{
   left: -42px;
    max-width: none;
    right: -42px;
    top: 18%;
}

body.mobile .embededMediaShow.presentationShow.javascripted .mediaShowButtons
{
    top: 50%;
}

body.mobile .embededMediaShow.presentationShow.javascripted .mediaShowSlide .mediaShowInfo
{
    left:0;
    width:90%;
    padding:5%;
}

body.mobile .embededMediaShow.presentationShow.javascripted .mediaShowSlide .mediaShowMedia
{
    width:100%;
}

body.mobile div.leftColumn, body.mobile .mceContentBody div.leftColumn
{
    margin-right: 0;
    width: 100%;
}

body.mobile div.rightColumn, body.mobile .mceContentBody div.rightColumn
{
    margin-left: 0;
    width: 100%;
}

/*  FANCY PANTSY MENU */

#portal-logo {
    display:block;
    transition: top 0.3s ease;
    -webkit-transition: top 0.3s ease;
    z-index: 9999;
}

ul#portal-globalnav {
    position: absolute;
    top: -300px;
    left: 50%;
    margin-left: -76px;
    overflow: hidden;
    height: auto;
    transition: top 0.1s ease;
    z-index: 1100;
    text-align: left;
}

ul#portal-globalnav li {
    background-color: #000;
    /*border-radius: 19px;*/
    padding: 0px;
    width: 152px;
    display: block;
    margin-bottom: 2px;
    text-align: left;
}

#portal-globalnav li a {
    color: white !important;
    font-family: "Palatino";
    text-transform:capitalize;
    font-weight: normal;
    font-size: 18px !important;
    line-height: 36px !important;
    text-align: left;
    margin-left: 27px;
}

/**/