body{
	margin: 0;
	padding: 0;
	background-color: #fdfdfd;
	font-family: 'lato',
				'Helvetica Neue',
				Helvetica,
				Arial,
				sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	color: #3e3e3e;
}
h1,
h2,
h3,
h4,
h5,
h6{
	font-weight: 900;
	line-height: 1em;
	padding: 0;
	margin: 1em 0;
}
h1{font-size: 2em;}
h2{font-size: 1.5em;}
h3{font-size: 1.25em;}
h4{font-size: 1.2em;}
h5{font-size: 1.1em;}
h6{font-size: 1em;}

header{
	position: fixed;
	top: 0;
	left: 10px;
	width: 50px;
}
	header img{
		width: 100%;
		max-width: 100%;
	}
video,
img{
	width: 100%;
	max-width: 100%;
}
div.container{
	margin:  1em auto;
	background-color: #fff;
	width: 800px;
	padding: 1em;
}
pre, code{
	font-family: Inconsolata;
}
div.highlight{
	background: #002B36;
	color: #93A1A1;
	padding: 0.5em 1em;
	border: 1px solid #F9FAEA;
	border-radius: 2px;
	margin-bottom: 2em;
}
@media screen and (max-width: 880px){
	div.container{
		width: 600px;
	}
}
@media screen and (max-width: 640px){
	header{
		position: relative;
	}
	div.container{
		width: 480px;
	}
}
@media screen and (max-width: 480px){
	div.container{
		width: 470px;
	}
}
