[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.x.cfg
package-name = collective.emaillogin4
extensions =
    buildout.dumppickedversions
parts +=
    omelette

[instance]
eggs +=
    Products.PrintingMailHost

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[versions]
buildout.dumppickedversions = 0.5
Products.PrintingMailHost = 0.7
Products.PluggableAuthService = 1.10.0
