/* @override portal_css/Maritheme%20Theme/dropdown-menu.css */


* html #portal-globalnav {
	position: absolute;
}

* html #portal-globalnav {
	height: 1%;
}

#portal-globalnav:after {
	content: "";
	clear: both;
	display: block;
	visibility: hidden;
}



/*
** SUBMENU STYLES 
*/

ul.submenu {
	position: absolute;
	left: -999em;
	margin: 0;
	width: 100%;
	margin: 1px auto;
	text-align: left;
	padding-top: 10px;
	padding-left: 20px;
	display: block;	
	min-height: 250px;
	background: url(brown.png) repeat-y center;
 }
 
#portal-globalnav ul.submenu li {
	display: table;
	width: 460px;
	height: 30px;
	padding: 0;
	margin: 0 auto;
	text-align: left;
	border-right: 0 none;
	border-bottom: 1px solid #a6a49c;
	background: #d6d4ce url(arrow.gif) no-repeat 2px center;
	text-indent: 15px;
}

#portal-globalnav ul.submenu li  a  {
	display: block;
	margin: 0;
 	padding: 0px 0 4px 0; 
 	margin: 1px 0 1px 0px;
 	height: 24px;
 	color: #363636 !important; 
	font-weight: normal;
	font-style: normal;
}

#portal-top #portal-globalnav  ul.submenu a:hover {
	background-color: #a6a49c;
	color: #FFF !important;
}

a.hasDropDown {
	background-image: url('arrowRight.gif');
	background-position: center right ;
	background-repeat: no-repeat;
}

/* Below we have the same style defined differently 
** These are for IE7 and IE6 respectively. There is no 
** possibility to put styles for IE6 and IE7 in the same
** definition. So we have 2 separate definitions
*/

*:first-child+html #portal-globalnav ul.submenu a {
	height: 1%;
}

/* IE7 fix. */

* html #portal-globalnav ul.submenu a {
	height: 1%;
}

/* we all love IE6 ;) */

/* side-dropdown menu styles */

#portal-globalnav li ul ul {
	z-index: 10;
	top: 0.4em;
	left: -999em;
}

#portal-globalnav ul li:hover,
#portal-globalnav ul li.sfhover {
	position: relative;
}

#portal-globalnav li:hover ul ul, 
#portal-globalnav li:hover ul ul ul, 
#portal-globalnav li:hover ul ul ul ul,
#portal-globalnav li.sfhover ul ul, 
#portal-globalnav li.sfhover ul ul ul,
#portal-globalnav li.sfhover ul ul ul ul {
	left: -999em;
}

#portal-globalnav li:hover ul, 
#portal-globalnav li li:hover ul, 
#portal-globalnav li li li:hover ul,
#portal-globalnav li li li li:hover ul, 
#portal-globalnav li.sfhover ul, 
#portal-globalnav li li.sfhover ul, 
#portal-globalnav li li li.sfhover ul,
#portal-globalnav li li li li.sfhover ul {
	left: 0;
}

/* clearing global navigation styles */

#post-sections-clear {
	height: 1px;
	margin-bottom: -3px;
}

/* See above for explanation of the below mess styles */

*:first-child+html #post-sections-clear {
	margin-bottom: -2px;
}

* html #post-sections-clear {
	margin-bottom: -2px;
}

 