[buildout]
parts = test docs
develop = .
package-name = github-collective

[test]
recipe = zc.recipe.egg
eggs =
    ${buildout:package-name} [test]
scripts = ${buildout:package-name} nosetests
dependent-scripts = true

[docs]
recipe = zc.recipe.egg
eggs =
    ${buildout:package-name} [docs]
dependent-scripts = true

