[config]
jenkins-url = https://my-jenkins-url.com/github-webhook/

[team:contributors]
permission = push
members =
    MarcWeber
    honza
    garbas
repos =
    snipmate-snippets

[hook:my-jenkins]
name = jenkins
#JSON object as per schema @ https://api.github.com/hooks
#Can use Buildout-style variable substitution
config =
    {"jenkins_hook_url": "${config:jenkins-url}"}
events = 
    push
active = true

[hook:my-web]
name = web
#JSON object as per schema @ https://api.github.com/hooks
#Boolean objects should be represented as string "1" or "0" as this is
#what GitHub stores.
#Can use Buildout-style variable substitution. ${repo:variable} refers
#specifically to properties against a repo.
my-url = http://my-web-hook-url.com/redmine/?identifier=${repo:redmine-id}
config =
    {"url": "${:my-url}",
     "insecure_ssl": "1"
    }
events = push
active = true

[repo:vim-snipmate]
fork = garbas/vim-snipmate
owners = garbas MarcWeber
teams = contributors

[repo:snipmate-snippets]
fork = honza/snipmate-snippets
owners = honza

[repo:demo]
owners = davidjb
teams = contributors
hooks = 
    my-jenkins
    my-web
description = My awesome repo
homepage = http://plone.org
has_issues = false
has_wiki = false
has_downloads = false
#Will only work if you have quota
private = true


# this will create
#  - 4 teams:
#   [{'name': '--auto-contributors',
#     'permission': 'push',
#     'members': ['MarcWeber', 'garbas', 'honza'],
#     'repos': ['vim-snipmate', 'snipmate-snippets']
#    },
#    {'name': '--auto-snipmate-owners',
#     'permission': 'push',
#     'members': ['MarcWeber', 'garbas'],
#     'repos': ['vim-snipmate']
#    },
#    {'name': '--auto-snipmate-snippets-owners',
#     'permission': 'push',
#     'members': ['MarcWeber', 'garbas'],
#     'repos': ['snipmate-snippets']
#    }
#    {'name': '--auto-demo',
#     'permission': 'push',
#     'members': ['davidjb'],
#     'repos': ['demo']
#    }
#   ]
#  - 3 repos:
#   [{'name': 'vim-snipmate'},
#    {'name': 'snipmate-snippets'}
#    {'name': 'demo', 'hooks': ['web', 'web']}
#   ]
