/* CSS for the tagNavigator */

ul.subcategory .cn-category-title
{
    cursor:pointer;
}

.collapse_0 ul.subcategory .cn-category-title
{
    cursor:default;
    display:block;
}

.collapse_2 ul.subcategory ul
{
    display:none;
}

ul.subcategory li ul
{
}

ul.subcategory li
{
}