[buildout]
parts =
    instance
    zopepy

extends =
    http://dist.plone.org/release/4.2/versions.cfg

versions = versions

find-links =
    http://dist.plone.org/release/4.2
    http://dist.plone.org/thirdparty

develop = .

eggs =
    collective.ploneslimbar

zcml =


[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
blob-storage = ${buildout:directory}/var/blobstorage
eggs =
    Plone
    ${buildout:eggs}
zcml =


[zopepy]
recipe = zc.recipe.egg
eggs =
    ${instance:eggs}
    ZODB3
interpreter = zopepy
scripts =
    zopepy
    repozo
