/**
 * CSS for in-page translations
 *
 * @author	Maarten Huijsmans <maarten.huijsmans@mobilevikings.com>
 */


/* Variables
=====================================*/
$font-color-active: #BA1616;
$font-family: Helvetica,arial,sans-serif;
$sidebar-width: 350;
$z-index: 100000000;

$background-black: rgba(0,0,0,0.8);
$background-white: rgba(255, 255, 255, 0.5);


/* Mixins
=====================================*/
@mixin clearfix{
  zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "\0020";
    zoom: 1;
  }
  &:after {
    clear: both;
  }
}


/* Sidebar
=====================================*/
.rosetta-inpage-sidebar{
  color:#fff;
  background: #222;
  width: ($sidebar-width) + px;
  z-index: $z-index;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  border-right: 1px solid #000;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 100px;
  padding-bottom: 150px;
  font-family: $font-family;

  &:hover{
    //width: ($sidebar-width + 10) + px;
  }

  /* Let's get this party started */
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: rgba(255,255,255,0.3);
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: $font-color-active;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }

  &.wegermee{
    width: 0px;
    border-right:30px solid $font-color-active;
  }
}


/* The fixed header with menu
=====================================*/
.rosetta-inpage-header{
  position: fixed;
  top:0;
  display: block;
  background-color: $background-black;
  width: ($sidebar-width - 10) + px;
  border-bottom: 3px solid #000;
  padding: 0;
  margin: 0;
  z-index: ($z-index - 1);

  h1{
    font-size: 18px;
    text-transform: none;
    font-weight: bold;
    font-family: $font-family;
    padding:10px;
    margin: 0;
    display: block;
    color:$font-color-active;
    line-height: 1.2em;
    font-weight: normal;
    //text-shadow: 0 1px 0 rgba(10, 10, 10, 0.5);
    text-shadow: 0 1px 0 #333;
  }

  span{
    padding:0 10px 5px 10px;
    margin-top:-13px;
    display: block;
    color: #666;
    font-size: 11px
  }

  p{
    position: absolute;
    top:6px;
    right: 10px;
    text-align: right;
    margin: 0;
    padding: 0;
    color: #666;
    font-size: 14px;
    line-height: 1.7em;

    &.translated{
      color: green;
      font-weight: normal;
    }
  }

  ul{
    list-style: none;
    padding: 0 10px 0 10px;
    margin: 0;
    background-color: $background-white;
    display: block;
    position:relative;

    li{
      float:left;
      line-height: 1.5em;
      position: relative;

      a{
        height: 24px;
        display: block;
        padding: 7px;
        width: 90px;
        text-align: center;
        border: 0;
        font-variant: normal;
        font-family: $font-family;
        font-size: 14px;
        line-height: 14px;
        text-decoration: none;
        vertical-align: baseline;

        &:hover{
          background: white;
        }

        img{
          border: 0;
        }
      }

      &:hover ul{
        left: 0;
      }
    }

    .rosetta-inpage-dropdown{
      /* Adding a background makes the dropdown work properly in IE7+.
      Make this as close to your page's background as possible (i.e. white page == white background).
      */
      background:#000;
      background-color: $background-black;
      position: absolute;
      left: -9999px;
      //left: 0;
      list-style:none;
      padding:0;
      margin: 0;

      li{
        background-color: $background-white;
      }

      a{
        color: black;
        text-align: left;
        height: auto;
        padding: 15px;

        &:hover{
          color: rgb(186, 22, 22);
        }
      }
    }

    @include clearfix;
  }

  @include clearfix;
}


/* Styling of the body, the list of messages actually
=====================================*/
.rosetta-inpage-content{
  a{
    color:white;
    display: block;
    padding: 7px 10px 7px 10px;
    text-decoration: none;
    border-bottom: 1px solid #333;
    border-top: 1px solid #222;
    font-size:14px;
    font-family: $font-family;

    &:hover{
      background-color: rgba(255,255,255,0.3);
    }

    &.active{
      color: $font-color-active;
      background-color: white !important;
    }
  }

  ul{
    list-style: none;
    padding:0;
    margin:0;
  }

  li{
    &.rosetta-inpage-todo{
      background: $font-color-active;
    }
  }

  li code{
    display: none;
  }

  p{
    text-align: center;
    padding: 10px;
    margin: 0;
    color: #666;
    font-size: 14px;
  }

  @include clearfix;
}


/* Footer
=====================================*/
.rosetta-inpage-footer{
  padding: 20px 10px 0 10px;
  display: block;

  //img, p {
  //  float:left;
  //}

  p{
    padding-top:40px;
    color:#666;
  }

  @include clearfix;
}


/* Ajax form
=====================================*/
.rosetta-inpage-form{
  position:fixed;
  width:500px;
  height:200px;
  top:0;
  right: 0;
  z-index: ($z-index + 1);
  background-color: white;
  border:1px solid #000;
  display: none;
  border-left-width: 0;
  padding:10px;

  $shadow:5px 5px 20px rgba(0, 0, 0, .3);
  -moz-box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  box-shadow: $shadow;

  textarea{
    display: block;
    margin-bottom: 10px;
  }
}

.rosetta-inpage-loading{
  position: fixed;
  background-color: rgba(0,0,0,0.7);
  padding:10px;
  top: 0;
  left: 0;
  display: none;
  z-index: $z-index+1;
  -webkit-border-bottom-right-radius: 10px;
}

.rosetta-inpage-alert{
  color: #b94a48;
  background-color: #f2dede;
  padding: 5px 15px 5px 5px;
  margin-bottom: 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #eed3d7;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: none;
}

.rosetta-inpage-notify{
  position: fixed;
  top:10px;
  left:10px;
  z-index: ($z-index + 2);
  padding: 5px 15px 5px 15px;
  display: none;
  width: ($sidebar-width - 60) + px;
  cursor: default;

  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #FCF8E3;
  border: 1px solid #FBEED5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  &:first-letter{
    text-transform: capitalize;
  }

  &.rosetta-inpage-alert-success{
    color: #468847;
    background-color: #DFF0D8;
    border-color: #D6E9C6;
  }

  &.rosetta-inpage-alert-error{
    color: #B94A48;
    background-color: #F2DEDE;
    border-color: #EED3D7;
  }

  &.rosetta-inpage-alert-info{
    color: #3A87AD;
    background-color: #D9EDF7;
    border-color: #BCE8F1;
  }
}








//Deprecated
/*
span[contenteditable='false']:hover{
  -webkit-user-modify: read;
  word-wrap: break-word;
  -webkit-nbsp-mode: space;
  -webkit-line-break: after-white-space;
  outline: -webkit-focus-ring-color auto 5px;

  color:black;
  background:rgba(255,255,255,0.8);
  cursor:text;
}
*/
