body {
    padding-top: 60px;
    padding-bottom: 40px;
}

select, input {
    height: 30px !important;
}

footer address {
    float: right;
}

div.left {
    float: left;
}

div.right {
    float: right;
}