# only need to set upper bounds on first-stage variables, i.e., those being blended.

model_instance = self._model_instance

# a super-weak upper bound, namely the max aggregate demand observed in any scenario.
max_aggregate_demand = 0.0
for instance_name, instance in self._instances.items():
   scenario_aggregate_demand = sum([value(instance.Demand[i,j]) for (i,j) in instance.Arcs])
   if scenario_aggregate_demand > max_aggregate_demand:
      max_aggregate_demand = scenario_aggregate_demand

self.setVariableBoundsAllIndicesAllScenarios("x", 0.0, max_aggregate_demand)
