[buildout]
develop = .
parts = test
versions = versions
extends = http://dist.plone.org/release/3.3.5/versions.cfg

[zope]
recipe = plone.recipe.zope2install
url = http://www.zope.org/Products/Zope/2.10.11/Zope-2.10.11-final.tgz
fake-zope-eggs = true

[test]
recipe = zc.recipe.testrunner
eggs = zkaffold [test]
defaults = ['--exit-with-status', '--auto-color', '--auto-progress']
extra-paths = ${zope:location}/lib/python

[versions]
zc.recipe.testrunner = 1.0.0
zc.recipe.egg = 1.2.3b2
zc.buildout = 1.4.3
zope.testing = 3.9.4
Products.LinguaPlone = 2.4.1
