[buildout]
extends=buildout.cfg
auto-checkout =
#    minitage.core
    minitage.paste
    minitage.recipe.egg
    minitage.recipe.scripts
    minitage.recipe.common
    minitage.recipe.cmmi
    minitage.recipe
[sources]
minitage.core =git git://github.com/minitage/minitage.core.git
minitage.paste =git git://github.com/minitage/minitage.paste.git
minitage.recipe =git git://github.com/minitage/minitage.recipe.git
minitage.recipe.cmmi =git git://github.com/minitage/minitage.recipe.cmmi.git
minitage.recipe.egg =git git://github.com/minitage/minitage.recipe.egg.git
minitage.recipe.scripts =git git://github.com/minitage/minitage.recipe.scripts.git
minitage.recipe.common =git git://github.com/minitage/minitage.recipe.common.git
[versions]
