/* ==== MENU ==== */

#portal-globalnav
{
    margin: 77px 0 30px 0px;
    padding: 0;
    width: 700px;
    float:left;
    display:block;
    background-color:transparent;
    height:36px;
    z-index:1000;
    position:relative;
    clear:none;
}

#portal-globalnav a
{
    text-decoration:none;
    background:transparent !important;
    display:block;
}

#portal-globalnav a:hover
{
    color:#205c90;
}

#portal-globalnav li
{
    background-color:white;
    display:block;
    float:left;
    height:36px;
    position:relative;
    margin:0;
}

#portal-globalnav li:last-child
{
    border: none;
}

#portal-globalnav li:last-child:hover
{
    border: none;
}

#portal-globalnav li:first-child
{
}

#portal-globalnav li:first-child:hover
{
}

#portal-globalnav li a
{
    color: #3c3c3c;
    text-align: left;
    height:27px;
    padding: 0px 20px 0px 0px;
    background-color: transparent;
}

#portal-globalnav li.selected a
{
    color:#3c3c3c;
}

#portal-globalnav .submenu
{
	display:none;
	background-color:transparent;
	font-weight:normal;
	position:absolute;
	color:#ffffff;
	left:0;
	top:35px;
	margin:0;
	padding:0;
	z-index: 3;
	width:99%;
	text-align:center;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-box-shadow: 0 5px 13px #6c6c6c;
	-webkit-box-shadow: 0 5px 13px #6c6c6c;
	box-shadow: 0 5px 13px #6c6c6c;
}

#portal-globalnav li:hover .submenu
{
    display:block;
}

#portal-globalnav li li
{
    float:none;
}

#portal-globalnav .submenu li
{
    border-top:1px solid #f6f6f6;
    background-color:#3c3c3c;
}

#portal-globalnav .submenu li:hover
{
    background-color:white;
}

#portal-globalnav .submenu li a
{
    color:white;
    border:none;
    width:99%;
    height:27px;
}

#portal-globalnav .submenu li a:last-child
{
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;

}

#portal-globalnav .submenu li a:hover
{
    color:#3c3c3c;
}

#portal-globalnav .submenu li:first-child
{
    -moz-border-radius:0;
    -webkit-border-radius:0;
    border-radius:0;
}

#portal-globalnav .submenu li:last-child
{
    border-top:1px solid #f6f6f6;
    -moz-border-radius-topleft:0px;
    -moz-border-radius-topright:0px;
    -webkit-border-top-left-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
}