/* CSS to override defaut collective.carousel */

div.scrollable {
    width: 960px;
}

div.scrollable div.items div.itemPadding {
    margin: 20px 13px;
}

.carousel {
    width: 960px;
    height: 300px;
    margin:0;
}

.carouselWrapper
{
    margin: 15px 0 30px;
    height: 300px;
    width: 960px;
    background-color:white;
}

.carousel .newsImageContainer {
    background:url(++resource++plonetheme.gov.images/backgroundTexture.jpg);
    float: left;
    width:630px;
    height:300px;
    margin:-20px 30px 0 -13px;
    border:none;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
body .carousel .newsImageContainer { margin-top:-19px; }
}

.carousel .newsImageContainer a, .carousel .newsImageContainer a img
{
    display:block;
    margin:0 auto;
    border:none !important;
}

.carousel .newsImageContainer a img
{
    max-height:300px;
    max-width:630px;
    width:auto;
    height:auto;
}

.carousel h2.tileHeadline a, .carousel h2.tileHeadline a:visited, .carousel h2.tileHeadline a:hover
{
    font-size:24px;
    font-weight:normal;
    color:#333 !important;
    line-height: 27px;
}

.carousel .tileBody
{
    margin-top:20px;
    line-height:20px;
}

a.browse {
    background: none;
    bottom: 0px;
    cursor: pointer;
    height: auto;
    width: auto;
    margin: 20px;
    position: absolute;
    z-index: 2;
}

a.prev
{
    left:auto;
    right:80px;
}

a.next
{
    left:auto;
    right:0px;
}

a.browse span {
    position: static;
    visibility: visible;
    font-weight:normal;
}