/* ==== MENU ==== */
#portal-globalnav li
{
    background-color:transparent;
    
}

#portal-globalnav a
{
    font-weight: normal;
}

#portal-globalnav {
    clear: both;
    float: none;
    margin: 5px auto 0;
    width: 960px;
    color:#999;
    font-size:18px;
}

#portal-globalnav li a
{
    border: none;
    color:#999;
    min-width: 0em;
    padding: 0 65px 0 0;
}

#portal-globalnav a:hover
{
    color:#666;
}

#portal-globalnav li.selected a
{
    color:#333;
}

#portal-globalnav li.selected a:hover
{
    color:#333;
}

#portal-globalnav li:last-child {
    border: medium none;
    padding-right: 0;
    text-align: right;
}

#portal-globalnav li:last-child a{
    padding-right: 0;
    text-align: right;
}