@import "utils";

/*** CATEGORIES *************************************************************************/

ul.categories {
    text-align:center;
}

.categorie {
    display: inline-block !important;
    font-weight: bold;
    margin-bottom: 5px !important;
    padding: 0;
    text-align: center;
    min-width: 10em;
    background-color: @mediumGreyColor;
    .gradient-2stops(@white10, @white0, 49.9%, @black10, 50%, @black20);

    a {
        &, &:active, &:focus {
            color: @lightColor !important;
            text-shadow:@black100 0px 1px 1px;
            display: block;
            text-decoration: none;
            background-position: center -5px;
            background-repeat: no-repeat;
            display: block;
            padding: 0.5em;
            border: 0 !important;
            
            width: 12.5em;
            .ellipsis();
        }
    }
    &.categorie_plan a {
        width: 17em;
    }
}

#content .categorie {
    background-color: @mediumGreyColor;
    a {
        &, &:active, &:focus {
            color: @lightColor !important;
            border: 0 !important;
        }
    }
}

/*** COULEURS *************************************************************************/

#content {
    .categorie_fichiers {
        background-color: @category1Color;
    }
    .categorie_sonorisation,
    .categorie_webconference,
    .categorie_plan_texte {
        background-color: @category2Color;
    }
    .categorie.categorie_wims,
    .categorie_plan_monespace {
        background-color: @category3Color;
    }
    .categorie_ressourcesexternes {
        background-color: @category4Color;
    }
    .categorie_glossaire,
    .categorie_plan_activite {
        background-color: @category5Color;
    }
}

/*** ONGLETS *************************************************************************/

.onglets {
	text-align:left !important;

	.categorie {
	    float: left;
        margin-bottom: 0 !important;
        margin-right: 0.25em !important;
        padding: 0.25em !important;
        min-width: 0;
        .radius-bottom-left(0);
        .radius-bottom-right(0);
        border-bottom: 0;
        .gradient(@black10, @black0);
        
        &.selected {
	       background-color: @mainColor !important;
	       .gradient(@black0, @black10);
        }
        
        a {
            width: auto;
            background-position: left center;
            line-height: 40px;
        }
    }
}

.onglets_contenu {
    clear: both;
    position: relative;
    padding: 1em;
    border: 2px solid @mainColor;
    background-color: white;
    
    .radius(3px);
    .radius-top-left(0);
}
