#slimbar {
  left: 0;
  z-index: 1000;
  position: relative;
  font-size: 70%;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #235379;
  top: 0;
  margin: 0;

}
#slimbar a {
  color: #FFF;
}
#slimbar .navbar {
  *position: relative;
  *z-index: 2;
  overflow: visible;
  color: #FFF;
}
#slimbar .navbar-inner {
  padding: 2px 20px 0;
  top: 3px;
  margin: 0;
  background-color: #329FD7;
  border-top: 1px solid #6992CE;
  overflow: visible;
  position: relative;
}
a#plone-org {
  padding: 2px 0 5px 0px;
  display: inline-block;
  position: relative;

}
a#plone-org:hover {
  text-shadow: white 1px 1px 3px;
}

#slimbar .navbar .container {
  width: auto;
}
#slimbar .pull-right {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}
#slimbar dt.actionMenuHeader a:after {
    content: " ▾";
}
#slimbar .actionMenuContent a {
    line-height: 1.5em;
    padding: 0 0.75em;
  color: #235379;
  background-color: #EEE;
  border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  margin: 1px 0;
  border-right: 2px solid #E0E0E0;
}
#slimbar .actionMenuContent a:hover {
    background-color: #329FD7;
    color: white;
    padding-right: 2em;
    border-right-color: #329FD7;
}
#slimbar dl.actionMenu {
    float: right;
    margin-left: 0.5em;
    position: relative;
    white-space: nowrap;
    position: relative;
    top: -3px;
}
#slimbar dl.actionMenu dt a {
  font-weight: normal;
  border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  background: #235379 url(++resource++ico_plone_mini.png) no-repeat 5px 1px;
  padding: 1px 10px 3px 26px;
}
#slimbar dl.actionMenu dt a:hover,
#slimbar dl.actionMenu.activated dt a {
  background-color: #235379;
   -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
#slimbar dl.actionMenu dt a span {
  text-transform: uppercase;
  font-size: 0.8em;
}
#slimbar dl.actionMenu {
    white-space: nowrap;
}
#slimbar dl.actionMenu.activated dd {
    padding: 0.3em 0;
    margin-top: 2px;
    z-index: 10;
    min-width: 100%;
    position: absolute;
    width: auto;
}

#slimbar.actionMenu.activated .actionMenuContent {
    z-index: 1008;
}
#slimbar dl.actionMenu a, dl.actionMenu div {
    display: block !important;
    white-space: nowrap;
}
#slimbar .actionMenuContent li {
  display: list-item;
  text-align: right;
}
#slimbar .actionMenuContent li a {
  font-weight: normal;
  padding: 0.1em 1em;
  display: inline-block !important;
  width: 80px;
}
#slimbar .actionMenuContent a:hover {
    color: white !important;
}
#slimbar dl.actionMenu.deactivated dd {
    display: none;
}
#slimbar ul {
  background-color: transparent;
  border: 0;
}
