[buildout]
develop = .
unzip = true
parts =
    testrunner
    scripts

[testrunner]
recipe = zc.recipe.testrunner
eggs = minitage.core [test]

[scripts]
recipe = minitage.recipe.scripts
interpreter=zopepy
eggs =
    minitage.core [test]
    ipython
    zest.releaser


