.europeana-image {
	border: 5px solid #ffcc66;
	float: left;
	margin-right: 5px;
}

ul.europeana-results {
	padding: 0px;
	margin: 0px;
}

ul.europeana-results li {
	clear: both;
	list-style-type: none;
	padding: 5px 0px;
	margin: 0px;
}

ul.europeana-results li h3 {
	padding: 0px;
	margin: 0px;
}

ul.europeana-results li p {
	margin: 0px;
	font-size: 0.8em;
}

#preview{
	position:absolute;
	border:1px solid #62461e;
	background:#fff;
	padding:0px;
	display:none;
	color:#fff;
}
