
.big {
    display: inline-block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    vertical-align: text-top;
    background-image: url(../images/big.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    *margin-right: .3em;
}

.big.glass {
    background-position: 10px 11px;
}
.big.leaf {
    background-position: -38px 11px;
}
.big.dog {
    background-position: -86px 11px;
}
.big.user {
    background-position: -134px 11px;
}
.big.girl {
    background-position: -182px 11px;
}
.big.car {
    background-position: -230px 11px;
}
.big.user_add {
    background-position: -278px 11px;
}
.big.user_remove {
    background-position: -326px 11px;
}
.big.film {
    background-position: -374px 11px;
}
.big.magic {
    background-position: -422px 11px;
}
.big.envelope {
    background-position: 10px -37px;
}
.big.camera {
    background-position: -38px -37px;
}
.big.heart {
    background-position: -88px -37px;
}
.big.beach_umbrella {
    background-position: -134px -37px;
}
.big.train {
    background-position: -182px -37px;
}
.big.print {
    background-position: -230px -37px;
}
.big.bin {
    background-position: -278px -37px;
}
.big.music {
    background-position: -326px -37px;
}
.big.note {
    background-position: -374px -37px;
}
.big.heart_empty {
    background-position: -422px -37px;
}
.big.home {
    background-position: 10px -85px;
}
.big.snowflake {
    background-position: -38px -85px;
}
.big.fire {
    background-position: -88px -85px;
}
.big.magnet {
    background-position: -134px -85px;
}
.big.parents {
    background-position: -182px -85px;
}
.big.binoculars {
    background-position: -230px -85px;
}
.big.road {
    background-position: -278px -85px;
}
.big.search {
    background-position: -326px -85px;
}
.big.cars {
    background-position: -374px -85px;
}
.big.notes_2 {
    background-position: -422px -85px;
}
.big.pencil {
    background-position: 10px -133px;
}
.big.bus {
    background-position: -38px -133px;
}
.big.wifi_alt {
    background-position: -88px -133px;
}
.big.luggage {
    background-position: -134px -133px;
}
.big.old_man {
    background-position: -182px -133px;
}
.big.woman {
    background-position: -230px -133px;
}
.big.file {
    background-position: -278px -133px;
}
.big.coins {
    background-position: -326px -133px;
}
.big.airplane {
    background-position: -374px -133px;
}
.big.notes {
    background-position: -422px -133px;
}
.big.stats {
    background-position: 10px -181px;
}
.big.charts {
    background-position: -38px -181px;
}
.big.pie_chart {
    background-position: -88px -181px;
}
.big.group {
    background-position: -134px -181px;
}
.big.keys {
    background-position: -182px -181px;
}
.big.calendar {
    background-position: -230px -181px;
}
.big.router {
    background-position: -278px -181px;
}
.big.camera_small {
    background-position: -326px -181px;
}
.big.dislikes {
    background-position: -374px -181px;
}
.big.star {
    background-position: -422px -181px;
}
.big.link {
    background-position: 10px -229px;
}
.big.eye_open {
    background-position: -38px -229px;
}
.big.eye_close {
    background-position: -88px -229px;
}
.big.alarm {
    background-position: -134px -229px;
}
.big.clock {
    background-position: -182px -229px;
}
.big.stopwatch {
    background-position: -230px -229px;
}
.big.projector {
    background-position: -278px -229px;
}
.big.history {
    background-position: -326px -229px;
}
.big.truck {
    background-position: -374px -229px;
}
.big.cargo {
    background-position: -422px -229px;
}
.big.compass {
    background-position: 10px -277px;
}
.big.keynote {
    background-position: -38px -277px;
}
.big.paperclip {
    background-position: -88px -277px;
}
.big.power {
    background-position: -134px -277px;
}
.big.lightbulb {
    background-position: -182px -277px;
}
.big.tag {
    background-position: -230px -277px;
}
.big.tags {
    background-position: -278px -277px;
}
.big.cleaning {
    background-position: -326px -277px;
}
.big.ruller {
    background-position: -374px -277px;
}
.big.gift {
    background-position: -422px -277px;
}
.big.umbrella {
    background-position: 10px -325px;
}
.big.book {
    background-position: -38px -325px;
}
.big.bookmark {
    background-position: -88px -325px;
}
.big.wifi {
    background-position: -134px -325px;
}
.big.cup {
    background-position: -182px -325px;
}
.big.stroller {
    background-position: -230px -325px;
}
.big.headphones {
    background-position: -278px -325px;
}
.big.headset {
    background-position: -326px -325px;
}
.big.warning_sign {
    background-position: -374px -325px;
}
.big.signal {
    background-position: -422px -325px;
}
.big.retweet {
    background-position: 10px -373px;
}
.big.refresh {
    background-position: -38px -373px;
}
.big.roundabout {
    background-position: -88px -373px;
}
.big.random {
    background-position: -134px -373px;
}
.big.heat {
    background-position: -182px -373px;
}
.big.repeat {
    background-position: -230px -373px;
}
.big.display {
    background-position: -278px -373px;
}
.big.log_book {
    background-position: -326px -373px;
}
.big.adress_book {
    background-position: -374px -373px;
}
.big.building {
    background-position: -422px -373px;
}
.big.eyedropper {
    background-position: 10px -421px;
}
.big.adjust {
    background-position: -38px -421px;
}
.big.tint {
    background-position: -88px -421px;
}
.big.crop {
    background-position: -134px -421px;
}
.big.vector_path_square {
    background-position: -182px -421px;
}
.big.vector_path_circle {
    background-position: -230px -421px;
}
.big.vector_path_polygon {
    background-position: -278px -421px;
}
.big.vector_path_line {
    background-position: -326px -421px;
}
.big.vector_path_curve {
    background-position: -374px -421px;
}
.big.vector_path_all {
    background-position: -422px -421px;
}
.big.font {
    background-position: 10px -469px;
}
.big.italic {
    background-position: -38px -469px;
}
.big.bold {
    background-position: -88px -469px;
}
.big.text_underline {
    background-position: -134px -469px;
}
.big.text_strike {
    background-position: -182px -469px;
}
.big.text_height {
    background-position: -230px -469px;
}
.big.text_width {
    background-position: -278px -469px;
}
.big.text_resize {
    background-position: -326px -469px;
}
.big.left_indent {
    background-position: -374px -469px;
}
.big.right_indent {
    background-position: -422px -469px;
}
.big.align_left {
    background-position: 10px -517px;
}
.big.align_center {
    background-position: -38px -517px;
}
.big.align_right {
    background-position: -88px -517px;
}
.big.justify {
    background-position: -134px -517px;
}
.big.list {
    background-position: -182px -517px;
}
.big.text_smaller {
    background-position: -230px -517px;
}
.big.text_bigger {
    background-position: -278px -517px;
}
.big.embed {
    background-position: -326px -517px;
}
.big.embed_close {
    background-position: -374px -517px;
}
.big.table {
    background-position: -422px -517px;
}
.big.message_full {
    background-position: 10px -565px;
}
.big.message_empty {
    background-position: -38px -565px;
}
.big.message_in {
    background-position: -88px -565px;
}
.big.message_out {
    background-position: -134px -565px;
}
.big.message_plus {
    background-position: -182px -565px;
}
.big.message_minus {
    background-position: -230px -565px;
}
.big.message_ban {
    background-position: -278px -565px;
}
.big.message_flag {
    background-position: -326px -565px;
}
.big.message_lock {
    background-position: -374px -565px;
}
.big.message_new {
    background-position: -422px -565px;
}
.big.inbox {
    background-position: 10px -613px;
}
.big.inbox_plus {
    background-position: -38px -613px;
}
.big.inbox_minus {
    background-position: -88px -613px;
}
.big.inbox_lock {
    background-position: -134px -613px;
}
.big.inbox_in {
    background-position: -182px -613px;
}
.big.inbox_out {
    background-position: -230px -613px;
}
.big.cogwheel {
    background-position: -278px -613px;
}
.big.cogwheels {
    background-position: -326px -613px;
}
.big.picture {
    background-position: -374px -613px;
}
.big.adjust_alt {
    background-position: -422px -613px;
}
.big.database_lock {
    background-position: 10px -661px;
}
.big.database_plus {
    background-position: -38px -661px;
}
.big.database_minus {
    background-position: -88px -661px;
}
.big.database_ban {
    background-position: -134px -661px;
}
.big.folder_open {
    background-position: -182px -661px;
}
.big.folder_plus {
    background-position: -230px -661px;
}
.big.folder_minus {
    background-position: -278px -661px;
}
.big.folder_lock {
    background-position: -326px -661px;
}
.big.folder_flag {
    background-position: -374px -661px;
}
.big.folder_new {
    background-position: -422px -661px;
}
.big.edit {
    background-position: 10px -709px;
}
.big.new_window {
    background-position: -38px -709px;
}
.big.check {
    background-position: -88px -709px;
}
.big.unchecked {
    background-position: -134px -709px;
}
.big.more_windows {
    background-position: -182px -709px;
}
.big.show_big_thumbnails {
    background-position: -230px -709px;
}
.big.show_thumbnails {
    background-position: -278px -709px;
}
.big.show_thumbnails_with_lines {
    background-position: -326px -709px;
}
.big.show_lines {
    background-position: -374px -709px;
}
.big.playlist {
    background-position: -422px -709px;
}
.big.imac {
    background-position: 10px -757px;
}
.big.macbook {
    background-position: -38px -757px;
}
.big.ipad {
    background-position: -88px -757px;
}
.big.iphone {
    background-position: -134px -757px;
}
.big.iphone_transfer {
    background-position: -182px -757px;
}
.big.iphone_exchange {
    background-position: -230px -757px;
}
.big.ipod {
    background-position: -278px -757px;
}
.big.ipod_shuffle {
    background-position: -326px -757px;
}
.big.ear_plugs {
    background-position: -374px -757px;
}
.big.phone {
    background-position: -422px -757px;
}
.big.step_backward {
    background-position: 10px -805px;
}
.big.fast_backward {
    background-position: -38px -805px;
}
.big.rewind {
    background-position: -88px -805px;
}
.big.play {
    background-position: -134px -805px;
}
.big.pause {
    background-position: -182px -805px;
}
.big.stop {
    background-position: -230px -805px;
}
.big.forward {
    background-position: -278px -805px;
}
.big.fast_forward {
    background-position: -326px -805px;
}
.big.step_forward {
    background-position: -374px -805px;
}
.big.eject {
    background-position: -422px -805px;
}
.big.facetime_video {
    background-position: 10px -853px;
}
.big.download_alt {
    background-position: -38px -853px;
}
.big.mute {
    background-position: -88px -853px;
}
.big.volume_down {
    background-position: -134px -853px;
}
.big.volume_up {
    background-position: -182px -853px;
}
.big.screenshot {
    background-position: -230px -853px;
}
.big.move {
    background-position: -278px -853px;
}
.big.more {
    background-position: -326px -853px;
}
.big.brightness_reduce {
    background-position: -374px -853px;
}
.big.brightness_increase {
    background-position: -422px -853px;
}
.big.circle_plus {
    background-position: 10px -901px;
}
.big.circle_minus {
    background-position: -38px -901px;
}
.big.circle_remove {
    background-position: -88px -901px;
}
.big.circle_ok {
    background-position: -134px -901px;
}
.big.circle_question_mark {
    background-position: -182px -901px;
}
.big.circle_info {
    background-position: -230px -901px;
}
.big.circle_exclamation_mark {
    background-position: -278px -901px;
}
.big.remove {
    background-position: -326px -901px;
}
.big.ok {
    background-position: -374px -901px;
}
.big.ban {
    background-position: -422px -901px;
}
.big.download {
    background-position: 10px -949px;
}
.big.upload {
    background-position: -38px -949px;
}
.big.shopping_cart {
    background-position: -88px -949px;
}
.big.lock {
    background-position: -134px -949px;
}
.big.unlock {
    background-position: -182px -949px;
}
.big.electricity {
    background-position: -230px -949px;
}
.big.ok_2 {
    background-position: -278px -949px;
}
.big.remove_2 {
    background-position: -326px -949px;
}
.big.cart_out {
    background-position: -374px -949px;
}
.big.cart_in {
    background-position: -422px -949px;
}
.big.left_arrow {
    background-position: 10px -997px;
}
.big.right_arrow {
    background-position: -38px -997px;
}
.big.down_arrow {
    background-position: -88px -997px;
}
.big.up_arrow {
    background-position: -134px -997px;
}
.big.resize_small {
    background-position: -182px -997px;
}
.big.resize_full {
    background-position: -230px -997px;
}
.big.circle_arrow_left {
    background-position: -278px -997px;
}
.big.circle_arrow_right {
    background-position: -326px -997px;
}
.big.circle_arrow_top {
    background-position: -374px -997px;
}
.big.circle_arrow_down {
    background-position: -422px -997px;
}
.big.play_button {
    background-position: 10px -1045px;
}
.big.unshare {
    background-position: -38px -1045px;
}
.big.share {
    background-position: -88px -1045px;
}
.big.chevron-right {
    background-position: -134px -1045px;
}
.big.chevron-left {
    background-position: -182px -1045px;
}
.big.bluetooth {
    background-position: -230px -1045px;
}
.big.euro {
    background-position: -278px -1045px;
}
.big.usd {
    background-position: -326px -1045px;
}
.big.gbp {
    background-position: -374px -1045px;
}
.big.retweet_2 {
    background-position: -422px -1045px;
}
.big.moon {
    background-position: 10px -1093px;
}
.big.sun {
    background-position: -38px -1093px;
}
.big.cloud {
    background-position: -88px -1093px;
}
.big.direction {
    background-position: -134px -1093px;
}
.big.brush {
    background-position: -182px -1093px;
}
.big.pen {
    background-position: -230px -1093px;
}
.big.zoom_in {
    background-position: -278px -1093px;
}
.big.zoom_out {
    background-position: -326px -1093px;
}
.big.pin {
    background-position: -374px -1093px;
}
.big.albums {
    background-position: -422px -1093px;
}
.big.rotation_lock {
    background-position: 10px -1141px;
}
.big.flash {
    background-position: -38px -1141px;
}
.big.google_maps {
    background-position: -88px -1141px;
}
.big.anchor {
    background-position: -134px -1141px;
}
.big.conversation {
    background-position: -182px -1141px;
}
.big.chat {
    background-position: -230px -1141px;
}
.big.male {
    background-position: -278px -1141px;
}
.big.female {
    background-position: -326px -1141px;
}
.big.asterisk {
    background-position: -374px -1141px;
}
.big.divide {
    background-position: -422px -1141px;
}
.big.snorkel_diving {
    background-position: 10px -1189px;
}
.big.scuba_diving {
    background-position: -38px -1189px;
}
.big.oxygen_bottle {
    background-position: -88px -1189px;
}
.big.fins {
    background-position: -134px -1189px;
}
.big.fishes {
    background-position: -182px -1189px;
}
.big.boat {
    background-position: -230px -1189px;
}
.big.delete {
    background-position: -278px -1189px;
}
.big.sheriffs_star {
    background-position: -326px -1189px;
}
.big.qrcode {
    background-position: -374px -1189px;
}
.big.barcode {
    background-position: -422px -1189px;
}
.big.pool {
    background-position: 10px -1237px;
}
.big.buoy {
    background-position: -38px -1237px;
}
.big.spade {
    background-position: -88px -1237px;
}
.big.bank {
    background-position: -134px -1237px;
}
.big.vcard {
    background-position: -182px -1237px;
}
.big.electrical_plug {
    background-position: -230px -1237px;
}
.big.flag {
    background-position: -278px -1237px;
}
.big.credit_card {
    background-position: -326px -1237px;
}
.big.keyboard-wireless {
    background-position: -374px -1237px;
}
.big.keyboard-wired {
    background-position: -422px -1237px;
}
.big.shield {
    background-position: 10px -1285px;
}
.big.ring {
    background-position: -38px -1285px;
}
.big.cake {
    background-position: -88px -1285px;
}
.big.drink {
    background-position: -134px -1285px;
}
.big.beer {
    background-position: -182px -1285px;
}
.big.fast_food {
    background-position: -230px -1285px;
}
.big.cutlery {
    background-position: -278px -1285px;
}
.big.pizza {
    background-position: -326px -1285px;
}
.big.birthday_cake {
    background-position: -374px -1285px;
}
.big.tablet {
    background-position: -422px -1285px;
}
.big.settings {
    background-position: 10px -1333px;
}
.big.bullets {
    background-position: -38px -1333px;
}
.big.cardio {
    background-position: -88px -1333px;
}
.big.t-shirt {
    background-position: -134px -1333px;
}
.big.pants {
    background-position: -182px -1333px;
}
.big.sweater {
    background-position: -230px -1333px;
}
.big.fabric {
    background-position: -278px -1333px;
}
.big.leather {
    background-position: -326px -1333px;
}
.big.scissors {
    background-position: -374px -1333px;
}
.big.bomb {
    background-position: -422px -1333px;
}
.big.skull {
    background-position: 10px -1381px;
}
.big.celebration {
    background-position: -38px -1381px;
}
.big.tea_kettle {
    background-position: -88px -1381px;
}
.big.french_press {
    background-position: -134px -1381px;
}
.big.coffe_cup {
    background-position: -182px -1381px;
}
.big.pot {
    background-position: -230px -1381px;
}
.big.grater {
    background-position: -278px -1381px;
}
.big.kettle {
    background-position: -326px -1381px;
}
.big.hospital {
    background-position: -374px -1381px;
}
.big.hospital_h {
    background-position: -422px -1381px;
}
.big.microphone {
    background-position: 10px -1429px;
}
.big.webcam {
    background-position: -38px -1429px;
}
.big.temple_christianity_church {
    background-position: -88px -1429px;
}
.big.temple_islam {
    background-position: -134px -1429px;
}
.big.temple_hindu {
    background-position: -182px -1429px;
}
.big.temple_buddhist {
    background-position: -230px -1429px;
}
.big.bicycle {
    background-position: -278px -1429px;
}
.big.life_preserver {
    background-position: -326px -1429px;
}
.big.share_alt {
    background-position: -374px -1429px;
}
.big.comments {
    background-position: -422px -1429px;
}
.big.flower {
    background-position: 10px -1477px;
}
.big.baseball {
    background-position: -38px -1477px;
}
.big.rugby {
    background-position: -88px -1477px;
}
.big.ax {
    background-position: -134px -1477px;
}
.big.table_tennis {
    background-position: -182px -1477px;
}
.big.bowling {
    background-position: -230px -1477px;
}
.big.tree_conifer {
    background-position: -278px -1477px;
}
.big.tree_deciduous {
    background-position: -326px -1477px;
}
.big.more_items {
    background-position: -374px -1477px;
}
.big.sort {
    background-position: -422px -1477px;
}
.big.filter {
    background-position: 10px -1525px;
}
.big.gamepad {
    background-position: -38px -1525px;
}
.big.playing_dices {
    background-position: -88px -1525px;
}
.big.calculator {
    background-position: -134px -1525px;
}
.big.tie {
    background-position: -182px -1525px;
}
.big.wallet {
    background-position: -230px -1525px;
}
.big.piano {
    background-position: -278px -1525px;
}
.big.sampler {
    background-position: -326px -1525px;
}
.big.podium {
    background-position: -374px -1525px;
}
.big.soccer_ball {
    background-position: -422px -1525px;
}
.big.blog {
    background-position: 10px -1573px;
}
.big.dashboard {
    background-position: -38px -1573px;
}
.big.certificate {
    background-position: -88px -1573px;
}
.big.bell {
    background-position: -134px -1573px;
}
.big.candle {
    background-position: -182px -1573px;
}
.big.pushpin {
    background-position: -230px -1573px;
}
.big.iphone_shake {
    background-position: -278px -1573px;
}
.big.pin_flag {
    background-position: -326px -1573px;
}
.big.turtle {
    background-position: -374px -1573px;
}
.big.rabbit {
    background-position: -422px -1573px;
}
.big.globe {
    background-position: 10px -1621px;
}
.big.briefcase {
    background-position: -38px -1621px;
}
.big.hdd {
    background-position: -88px -1621px;
}
.big.thumbs_up {
    background-position: -134px -1621px;
}
.big.thumbs_down {
    background-position: -182px -1621px;
}
.big.hand_right {
    background-position: -230px -1621px;
}
.big.hand_left {
    background-position: -278px -1621px;
}
.big.hand_up {
    background-position: -326px -1621px;
}
.big.hand_down {
    background-position: -374px -1621px;
}
.big.fullscreen {
    background-position: -422px -1621px;
}
.big.shopping_bag {
    background-position: 10px -1669px;
}
.big.book_open {
    background-position: -38px -1669px;
}
.big.nameplate {
    background-position: -88px -1669px;
}
.big.nameplate_alt {
    background-position: -134px -1669px;
}
.big.vases {
    background-position: -182px -1669px;
}
.big.bullhorn {
    background-position: -230px -1669px;
}
.big.dumbbell {
    background-position: -278px -1669px;
}
.big.suitcase {
    background-position: -326px -1669px;
}
.big.file_import {
    background-position: -374px -1669px;
}
.big.file_export {
    background-position: -422px -1669px;
}
.big.bug {
    background-position: 10px -1717px;
}
.big.crown {
    background-position: -38px -1717px;
}
.big.smoking {
    background-position: -88px -1717px;
}
.big.cloud-upload {
    background-position: -134px -1717px;
}
.big.cloud-download {
    background-position: -182px -1717px;
}
.big.restart {
    background-position: -230px -1717px;
}
.big.security_camera {
    background-position: -278px -1717px;
}
.big.expand {
    background-position: -326px -1717px;
}
.big.collapse {
    background-position: -374px -1717px;
}
.big.collapse_top {
    background-position: -422px -1717px;
}
.big.globe_af {
    background-position: 10px -1765px;
}
.big.global {
    background-position: -38px -1765px;
}
.big.spray {
    background-position: -88px -1765px;
}
.big.nails {
    background-position: -134px -1765px;
}
.big.claw_hammer {
    background-position: -182px -1765px;
}
.big.classic_hammer {
    background-position: -230px -1765px;
}
.big.hand_saw {
    background-position: -278px -1765px;
}
.big.riflescope {
    background-position: -326px -1765px;
}
.big.electrical_socket_eu {
    background-position: -374px -1765px;
}
.big.electrical_socket_us {
    background-position: -422px -1765px;
}
.big.pinterest {
    background-position: 10px -1813px;
}
.big.dropbox {
    background-position: -38px -1813px;
}
.big.google_plus {
    background-position: -88px -1813px;
}
.big.jolicloud {
    background-position: -134px -1813px;
}
.big.yahoo {
    background-position: -182px -1813px;
}
.big.blogger {
    background-position: -230px -1813px;
}
.big.picasa {
    background-position: -278px -1813px;
}
.big.amazon {
    background-position: -326px -1813px;
}
.big.tumblr {
    background-position: -374px -1813px;
}
.big.wordpress {
    background-position: -422px -1813px;
}
.big.instapaper {
    background-position: 10px -1861px;
}
.big.evernote {
    background-position: -38px -1861px;
}
.big.xing {
    background-position: -88px -1861px;
}
.big.zootool {
    background-position: -134px -1861px;
}
.big.dribbble {
    background-position: -182px -1861px;
}
.big.deviantart {
    background-position: -230px -1861px;
}
.big.read_it_later {
    background-position: -278px -1861px;
}
.big.linked_in {
    background-position: -326px -1861px;
}
.big.forrst {
    background-position: -374px -1861px;
}
.big.pinboard {
    background-position: -422px -1861px;
}
.big.behance {
    background-position: 10px -1909px;
}
.big.github {
    background-position: -38px -1909px;
}
.big.youtube {
    background-position: -88px -1909px;
}
.big.skitch {
    background-position: -134px -1909px;
}
.big.foursquare {
    background-position: -182px -1909px;
}
.big.quora {
    background-position: -230px -1909px;
}
.big.badoo {
    background-position: -278px -1909px;
}
.big.spotify {
    background-position: -326px -1909px;
}
.big.stumbleupon {
    background-position: -374px -1909px;
}
.big.readability {
    background-position: -422px -1909px;
}
.big.facebook {
    background-position: 10px -1957px;
}
.big.twitter {
    background-position: -38px -1957px;
}
.big.instagram {
    background-position: -88px -1957px;
}
.big.posterous_spaces {
    background-position: -134px -1957px;
}
.big.vimeo {
    background-position: -182px -1957px;
}
.big.flickr {
    background-position: -230px -1957px;
}
.big.last_fm {
    background-position: -278px -1957px;
}
.big.rss {
    background-position: -326px -1957px;
}
.big.skype {
    background-position: -374px -1957px;
}
.big.e-mail {
    background-position: -422px -1957px;
}


/*####################################small icons###############################*/

.small {
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(../images/small.png);
}


.small.glass{background-position:0px 0px;width:12px;height:12px;}
.small.leaf{background-position:-12px 0px;width:12px;height:13px;}
.small.dog{background-position:-24px 0px;width:13px;height:13px;}
.small.user{background-position:-37px 0px;width:12px;height:11px;}
.small.girl{background-position:-49px 0px;width:11px;height:11px;}
.small.car{background-position:-60px 0px;width:13px;height:11px;}
.small.user_add{background-position:-73px 0px;width:14px;height:11px;}
.small.user_remove{background-position:-87px 0px;width:13px;height:11px;}
.small.film{background-position:-100px 0px;width:11px;height:13px;}
.small.magic{background-position:-111px 0px;width:12px;height:12px;}
.small.envelope{background-position:-123px 0px;width:12px;height:8px;}
.small.camera{background-position:-135px 0px;width:13px;height:10px;}
.small.heart{background-position:-148px 0px;width:12px;height:11px;}
.small.beach_umbrella{background-position:-160px 0px;width:12px;height:12px;}
.small.train{background-position:-172px 0px;width:10px;height:13px;}
.small.print{background-position:-182px 0px;width:12px;height:12px;}
.small.bin{background-position:-194px 0px;width:10px;height:14px;}
.small.music{background-position:-204px 0px;width:11px;height:13px;}
.small.note{background-position:-215px 0px;width:9px;height:13px;}
.small.heart_empty{background-position:-224px 0px;width:12px;height:11px;}
.small.home{background-position:-236px 0px;width:14px;height:13px;}
.small.snowflake{background-position:-250px 0px;width:14px;height:14px;}
.small.fire{background-position:-264px 0px;width:11px;height:13px;}
.small.magnet{background-position:-275px 0px;width:11px;height:12px;}
.small.parents{background-position:-286px 0px;width:16px;height:11px;}
.small.binoculars{background-position:-302px 0px;width:12px;height:12px;}
.small.road{background-position:-314px 0px;width:14px;height:12px;}
.small.search{background-position:-328px 0px;width:12px;height:12px;}
.small.cars{background-position:-340px 0px;width:18px;height:13px;}
.small.notes_2{background-position:-358px 0px;width:10px;height:14px;}
.small.pencil{background-position:-368px 0px;width:12px;height:12px;}
.small.bus{background-position:-380px 0px;width:16px;height:13px;}
.small.wifi_alt{background-position:-396px 0px;width:13px;height:13px;}
.small.luggage{background-position:-409px 0px;width:10px;height:14px;}
.small.old_man{background-position:-419px 0px;width:12px;height:12px;}
.small.woman{background-position:-431px 0px;width:11px;height:11px;}
.small.file{background-position:-442px 0px;width:10px;height:12px;}
.small.coins{background-position:-452px 0px;width:13px;height:12px;}
.small.airplane{background-position:-465px 0px;width:12px;height:13px;}
.small.notes{background-position:-477px 0px;width:10px;height:13px;}
.small.stats{background-position:-487px 0px;width:13px;height:13px;}
.small.charts{background-position:0px -14px;width:14px;height:12px;}
.small.pie_chart{background-position:-14px -14px;width:13px;height:13px;}
.small.group{background-position:-27px -14px;width:18px;height:11px;}
.small.keys{background-position:-45px -14px;width:12px;height:13px;}
.small.calendar{background-position:-57px -14px;width:12px;height:12px;}
.small.router{background-position:-69px -14px;width:14px;height:13px;}
.small.camera_small{background-position:-83px -14px;width:11px;height:12px;}
.small.dislikes{background-position:-94px -14px;width:13px;height:12px;}
.small.star{background-position:-107px -14px;width:13px;height:12px;}
.glyphicons_050:link{background-position:-120px -14px;width:11px;height:12px;}
.small.eye_open{background-position:-131px -14px;width:16px;height:9px;}
.small.eye_close{background-position:-147px -14px;width:16px;height:12px;}
.small.alarm{background-position:-163px -14px;width:14px;height:13px;}
.small.clock{background-position:-177px -14px;width:12px;height:12px;}
.small.stopwatch{background-position:-189px -14px;width:12px;height:14px;}
.small.projector{background-position:-201px -14px;width:14px;height:13px;}
.small.history{background-position:-215px -14px;width:13px;height:13px;}
.small.truck{background-position:-228px -14px;width:16px;height:14px;}
.small.cargo{background-position:-244px -14px;width:13px;height:13px;}
.small.compass{background-position:-257px -14px;width:12px;height:12px;}
.small.keynote{background-position:-269px -14px;width:10px;height:15px;}
.small.paperclip{background-position:-279px -14px;width:13px;height:12px;}
.small.power{background-position:-292px -14px;width:11px;height:12px;}
.small.lightbulb{background-position:-303px -14px;width:10px;height:13px;}
.small.tag{background-position:-313px -14px;width:12px;height:12px;}
.small.tags{background-position:-325px -14px;width:15px;height:12px;}
.small.cleaning{background-position:-340px -14px;width:12px;height:13px;}
.small.ruller{background-position:-352px -14px;width:14px;height:7px;}
.small.gift{background-position:-366px -14px;width:12px;height:13px;}
.small.umbrella{background-position:-378px -14px;width:13px;height:14px;}
.small.book{background-position:-391px -14px;width:11px;height:12px;}
.small.bookmark{background-position:-402px -14px;width:8px;height:12px;}
.small.wifi{background-position:-410px -14px;width:16px;height:12px;}
.small.cup{background-position:-426px -14px;width:11px;height:12px;}
.small.stroller{background-position:-437px -14px;width:13px;height:13px;}
.small.headphones{background-position:-450px -14px;width:12px;height:12px;}
.small.headset{background-position:-462px -14px;width:12px;height:14px;}
.small.warning_sign{background-position:-474px -14px;width:15px;height:12px;}
.small.signal{background-position:-489px -14px;width:12px;height:12px;}
.small.retweet{background-position:0px -29px;width:14px;height:8px;}
.small.refresh{background-position:-14px -29px;width:13px;height:13px;}
.small.roundabout{background-position:-27px -29px;width:13px;height:13px;}
.small.random{background-position:-40px -29px;width:14px;height:10px;}
.small.heat{background-position:-54px -29px;width:15px;height:13px;}
.small.repeat{background-position:-69px -29px;width:12px;height:13px;}
.small.display{background-position:-81px -29px;width:14px;height:12px;}
.small.log_book{background-position:-95px -29px;width:11px;height:12px;}
.small.adress_book{background-position:-106px -29px;width:11px;height:12px;}
.small.building{background-position:-117px -29px;width:12px;height:13px;}
.small.eyedropper{background-position:-129px -29px;width:12px;height:12px;}
.small.adjust{background-position:-141px -29px;width:13px;height:13px;}
.small.tint{background-position:-154px -29px;width:12px;height:13px;}
.small.crop{background-position:-166px -29px;width:13px;height:13px;}
.small.vector_path_square{background-position:-179px -29px;width:12px;height:12px;}
.small.vector_path_circle{background-position:-191px -29px;width:12px;height:12px;}
.small.vector_path_polygon{background-position:-203px -29px;width:13px;height:13px;}
.small.vector_path_line{background-position:-216px -29px;width:12px;height:12px;}
.small.vector_path_curve{background-position:-228px -29px;width:12px;height:12px;}
.small.vector_path_all{background-position:-240px -29px;width:12px;height:12px;}
.small.font{background-position:-252px -29px;width:14px;height:12px;}
.small.italic{background-position:-266px -29px;width:7px;height:12px;}
.small.bold{background-position:-273px -29px;width:10px;height:12px;}
.small.text_underline{background-position:-283px -29px;width:10px;height:12px;}
.small.text_strike{background-position:-293px -29px;width:10px;height:11px;}
.small.text_height{background-position:-303px -29px;width:13px;height:12px;}
.small.text_width{background-position:-316px -29px;width:11px;height:12px;}
.small.text_resize{background-position:-327px -29px;width:13px;height:13px;}
.small.left_indent{background-position:-340px -29px;width:12px;height:11px;}
.small.right_indent{background-position:-352px -29px;width:12px;height:11px;}
.small.align_left{background-position:-364px -29px;width:12px;height:11px;}
.small.align_center{background-position:-376px -29px;width:12px;height:11px;}
.small.align_right{background-position:-388px -29px;width:12px;height:11px;}
.small.justify{background-position:-400px -29px;width:12px;height:11px;}
.small.list{background-position:-412px -29px;width:12px;height:11px;}
.small.text_smaller{background-position:-424px -29px;width:11px;height:8px;}
.small.text_bigger{background-position:-435px -29px;width:12px;height:11px;}
.small.embed{background-position:-447px -29px;width:15px;height:7px;}
.small.embed_close{background-position:-462px -29px;width:15px;height:12px;}
.small.table{background-position:-477px -29px;width:12px;height:12px;}
.small.message_full{background-position:-489px -29px;width:12px;height:14px;}
.small.message_empty{background-position:0px -43px;width:12px;height:14px;}
.small.message_in{background-position:-12px -43px;width:12px;height:14px;}
.small.message_out{background-position:-24px -43px;width:12px;height:14px;}
.small.message_plus{background-position:-36px -43px;width:15px;height:12px;}
.small.message_minus{background-position:-51px -43px;width:15px;height:12px;}
.small.message_ban{background-position:-66px -43px;width:15px;height:12px;}
.small.message_flag{background-position:-81px -43px;width:14px;height:12px;}
.small.message_lock{background-position:-95px -43px;width:14px;height:12px;}
.small.message_new{background-position:-109px -43px;width:14px;height:11px;}
.small.inbox{background-position:-123px -43px;width:12px;height:12px;}
.small.inbox_plus{background-position:-135px -43px;width:14px;height:14px;}
.small.inbox_minus{background-position:-149px -43px;width:14px;height:14px;}
.small.inbox_lock{background-position:-163px -43px;width:13px;height:14px;}
.small.inbox_in{background-position:-176px -43px;width:12px;height:13px;}
.small.inbox_out{background-position:-188px -43px;width:12px;height:13px;}
.small.cogwheel{background-position:-200px -43px;width:12px;height:12px;}
.small.cogwheels{background-position:-212px -43px;width:17px;height:14px;}
.small.picture{background-position:-229px -43px;width:12px;height:10px;}
.small.adjust_alt{background-position:-241px -43px;width:12px;height:12px;}
.small.database_lock{background-position:-253px -43px;width:13px;height:14px;}
.small.database_plus{background-position:-266px -43px;width:14px;height:14px;}
.small.database_minus{background-position:-280px -43px;width:14px;height:14px;}
.small.database_ban{background-position:-294px -43px;width:13px;height:14px;}
.small.folder_open{background-position:-307px -43px;width:15px;height:11px;}
.small.folder_plus{background-position:-322px -43px;width:15px;height:13px;}
.small.folder_minus{background-position:-337px -43px;width:15px;height:13px;}
.small.folder_lock{background-position:-352px -43px;width:14px;height:13px;}
.small.folder_flag{background-position:-366px -43px;width:14px;height:13px;}
.small.folder_new{background-position:-380px -43px;width:14px;height:12px;}
.small.edit{background-position:-394px -43px;width:12px;height:11px;}
.small.new_window{background-position:-406px -43px;width:13px;height:11px;}
.small.check{background-position:-419px -43px;width:11px;height:9px;}
.small.unchecked{background-position:-430px -43px;width:9px;height:9px;}
.small.more_windows{background-position:-439px -43px;width:12px;height:12px;}
.small.show_big_thumbnails{background-position:-451px -43px;width:11px;height:11px;}
.small.show_thumbnails{background-position:-462px -43px;width:11px;height:11px;}
.small.show_thumbnails_with_lines{background-position:-473px -43px;width:12px;height:8px;}
.small.show_lines{background-position:-485px -43px;width:12px;height:8px;}
.small.playlist{background-position:0px -57px;width:15px;height:12px;}
.small.imac{background-position:-15px -57px;width:13px;height:11px;}
.small.macbook{background-position:-28px -57px;width:14px;height:8px;}
.small.ipad{background-position:-42px -57px;width:11px;height:14px;}
.small.iphone{background-position:-53px -57px;width:7px;height:12px;}
.small.iphone_transfer{background-position:-60px -57px;width:15px;height:12px;}
.small.iphone_exchange{background-position:-75px -57px;width:15px;height:12px;}
.small.ipod{background-position:-90px -57px;width:7px;height:11px;}
.small.ipod_shuffle{background-position:-97px -57px;width:8px;height:7px;}
.small.ear_plugs{background-position:-105px -57px;width:10px;height:12px;}
.small.phone{background-position:-115px -57px;width:8px;height:13px;}
.small.step_backward{background-position:-123px -57px;width:7px;height:9px;}
.small.fast_backward{background-position:-130px -57px;width:13px;height:9px;}
.small.rewind{background-position:-143px -57px;width:12px;height:9px;}
.small.play{background-position:-155px -57px;width:8px;height:9px;}
.small.pause{background-position:-163px -57px;width:5px;height:8px;}
.small.stop{background-position:-168px -57px;width:7px;height:7px;}
.small.forward{background-position:-175px -57px;width:12px;height:9px;}
.small.fast_forward{background-position:-187px -57px;width:13px;height:9px;}
.small.step_forward{background-position:-200px -57px;width:7px;height:9px;}
.small.eject{background-position:-207px -57px;width:9px;height:9px;}
.small.facetime_video{background-position:-216px -57px;width:12px;height:8px;}
.small.download_alt{background-position:-228px -57px;width:12px;height:12px;}
.small.mute{background-position:-240px -57px;width:11px;height:8px;}
.small.volume_down{background-position:-251px -57px;width:8px;height:8px;}
.small.volume_up{background-position:-259px -57px;width:12px;height:13px;}
.small.screenshot{background-position:-271px -57px;width:14px;height:14px;}
.small.move{background-position:-285px -57px;width:12px;height:12px;}
.small.more{background-position:-297px -57px;width:11px;height:3px;}
.small.brightness_reduce{background-position:-308px -57px;width:10px;height:10px;}
.small.brightness_increase{background-position:-318px -57px;width:12px;height:12px;}
.small.circle_plus{background-position:-330px -57px;width:13px;height:13px;}
.small.circle_minus{background-position:-343px -57px;width:13px;height:13px;}
.small.circle_remove{background-position:-356px -57px;width:13px;height:13px;}
.small.circle_ok{background-position:-369px -57px;width:13px;height:13px;}
.small.circle_question_mark{background-position:-382px -57px;width:13px;height:13px;}
.small.circle_info{background-position:-395px -57px;width:13px;height:13px;}
.small.circle_exclamation_mark{background-position:-408px -57px;width:13px;height:13px;}
.small.remove{background-position:-421px -57px;width:13px;height:13px;}
.small.ok{background-position:-434px -57px;width:13px;height:13px;}
.small.ban{background-position:-447px -57px;width:13px;height:13px;}
.small.download{background-position:-460px -57px;width:13px;height:13px;}
.small.upload{background-position:-473px -57px;width:13px;height:13px;}
.small.shopping_cart{background-position:-486px -57px;width:13px;height:12px;}
.small.lock{background-position:0px -71px;width:11px;height:13px;}
.small.unlock{background-position:-11px -71px;width:11px;height:13px;}
.small.electricity{background-position:-22px -71px;width:6px;height:12px;}
.small.ok_2{background-position:-28px -71px;width:13px;height:10px;}
.small.remove_2{background-position:-41px -71px;width:9px;height:9px;}
.small.cart_out{background-position:-50px -71px;width:13px;height:13px;}
.small.cart_in{background-position:-63px -71px;width:13px;height:12px;}
.small.left_arrow{background-position:-76px -71px;width:10px;height:9px;}
.small.right_arrow{background-position:-86px -71px;width:10px;height:9px;}
.small.down_arrow{background-position:-96px -71px;width:9px;height:10px;}
.small.up_arrow{background-position:-105px -71px;width:9px;height:10px;}
.small.resize_small{background-position:-114px -71px;width:12px;height:12px;}
.small.resize_full{background-position:-126px -71px;width:12px;height:12px;}
.small.circle_arrow_left{background-position:-138px -71px;width:13px;height:13px;}
.small.circle_arrow_right{background-position:-151px -71px;width:13px;height:13px;}
.small.circle_arrow_top{background-position:-164px -71px;width:13px;height:13px;}
.small.circle_arrow_down{background-position:-177px -71px;width:13px;height:13px;}
.small.play_button{background-position:-190px -71px;width:13px;height:13px;}
.small.unshare{background-position:-203px -71px;width:12px;height:9px;}
.small.share{background-position:-215px -71px;width:12px;height:9px;}
.small.chevron-right{background-position:-227px -71px;width:8px;height:11px;}
.small.chevron-left{background-position:-235px -71px;width:8px;height:11px;}
.small.bluetooth{background-position:-243px -71px;width:7px;height:12px;}
.small.euro{background-position:-250px -71px;width:11px;height:12px;}
.small.usd{background-position:-261px -71px;width:9px;height:13px;}
.small.gbp{background-position:-270px -71px;width:9px;height:12px;}
.small.retweet_2{background-position:-279px -71px;width:17px;height:11px;}
.small.moon{background-position:-296px -71px;width:11px;height:12px;}
.small.sun{background-position:-307px -71px;width:12px;height:12px;}
.small.cloud{background-position:-319px -71px;width:14px;height:9px;}
.small.direction{background-position:-333px -71px;width:13px;height:13px;}
.small.brush{background-position:-346px -71px;width:13px;height:11px;}
.small.pen{background-position:-359px -71px;width:12px;height:12px;}
.small.zoom_in{background-position:-371px -71px;width:13px;height:13px;}
.small.zoom_out{background-position:-384px -71px;width:13px;height:13px;}
.small.pin{background-position:-397px -71px;width:5px;height:12px;}
.small.albums{background-position:-402px -71px;width:14px;height:9px;}
.small.rotation_lock{background-position:-416px -71px;width:14px;height:12px;}
.small.flash{background-position:-430px -71px;width:7px;height:12px;}
.small.google_maps{background-position:-437px -71px;width:8px;height:12px;}
.small.anchor{background-position:-445px -71px;width:12px;height:13px;}
.small.conversation{background-position:-457px -71px;width:13px;height:9px;}
.small.chat{background-position:-470px -71px;width:12px;height:10px;}
.small.male{background-position:-482px -71px;width:11px;height:11px;}
.small.female{background-position:-493px -71px;width:8px;height:14px;}
.small.asterisk{background-position:0px -85px;width:10px;height:10px;}
.small.divide{background-position:-10px -85px;width:9px;height:8px;}
.small.snorkel_diving{background-position:-19px -85px;width:14px;height:13px;}
.small.scuba_diving{background-position:-33px -85px;width:14px;height:12px;}
.small.oxygen_bottle{background-position:-47px -85px;width:11px;height:14px;}
.small.fins{background-position:-58px -85px;width:16px;height:14px;}
.small.fishes{background-position:-74px -85px;width:14px;height:15px;}
.small.boat{background-position:-88px -85px;width:12px;height:12px;}
.small.delete{background-position:-100px -85px;width:13px;height:9px;}
.small.sheriffs_star{background-position:-113px -85px;width:12px;height:13px;}
.small.qrcode{background-position:-125px -85px;width:12px;height:12px;}
.small.barcode{background-position:-137px -85px;width:12px;height:12px;}
.small.pool{background-position:-149px -85px;width:12px;height:12px;}
.small.buoy{background-position:-161px -85px;width:12px;height:12px;}
.small.spade{background-position:-173px -85px;width:12px;height:12px;}
.small.bank{background-position:-185px -85px;width:12px;height:12px;}
.small.vcard{background-position:-197px -85px;width:11px;height:12px;}
.small.electrical_plug{background-position:-208px -85px;width:9px;height:13px;}
.small.flag{background-position:-217px -85px;width:11px;height:13px;}
.small.credit_card{background-position:-228px -85px;width:13px;height:10px;}
.small.keyboard_wireless{background-position:-241px -85px;width:14px;height:10px;}
.small.keyboard_wired{background-position:-255px -85px;width:14px;height:13px;}
.small.shield{background-position:-269px -85px;width:11px;height:12px;}
.small.ring{background-position:-280px -85px;width:11px;height:12px;}
.small.cake{background-position:-291px -85px;width:11px;height:12px;}
.small.drink{background-position:-302px -85px;width:12px;height:12px;}
.small.beer{background-position:-314px -85px;width:12px;height:12px;}
.small.fast_food{background-position:-326px -85px;width:14px;height:12px;}
.small.cutlery{background-position:-340px -85px;width:7px;height:12px;}
.small.pizza{background-position:-347px -85px;width:13px;height:15px;}
.small.birthday_cake{background-position:-360px -85px;width:13px;height:15px;}
.small.tablet{background-position:-373px -85px;width:13px;height:13px;}
.small.settings{background-position:-386px -85px;width:12px;height:12px;}
.small.bullets{background-position:-398px -85px;width:14px;height:12px;}
.small.cardio{background-position:-412px -85px;width:13px;height:13px;}
.small.t-shirt{background-position:-425px -85px;width:14px;height:12px;}
.small.pants{background-position:-439px -85px;width:10px;height:12px;}
.small.sweater{background-position:-449px -85px;width:15px;height:12px;}
.small.fabric{background-position:-464px -85px;width:14px;height:11px;}
.small.leather{background-position:-478px -85px;width:12px;height:12px;}
.small.scissors{background-position:-490px -85px;width:12px;height:14px;}
.small.bomb{background-position:0px -100px;width:14px;height:13px;}
.small.skull{background-position:-14px -100px;width:11px;height:12px;}
.small.celebration{background-position:-25px -100px;width:12px;height:13px;}
.small.tea_kettle{background-position:-37px -100px;width:13px;height:12px;}
.small.french_press{background-position:-50px -100px;width:12px;height:13px;}
.small.coffe_cup{background-position:-62px -100px;width:13px;height:10px;}
.small.pot{background-position:-75px -100px;width:14px;height:11px;}
.small.grater{background-position:-89px -100px;width:9px;height:12px;}
.small.kettle{background-position:-98px -100px;width:12px;height:12px;}
.small.hospital{background-position:-110px -100px;width:12px;height:12px;}
.small.hospital_h{background-position:-122px -100px;width:12px;height:12px;}
.small.microphone{background-position:-134px -100px;width:9px;height:12px;}
.small.webcam{background-position:-143px -100px;width:10px;height:12px;}
.small.temple_christianity_church{background-position:-153px -100px;width:12px;height:13px;}
.small.temple_islam{background-position:-165px -100px;width:13px;height:12px;}
.small.temple_hindu{background-position:-178px -100px;width:12px;height:12px;}
.small.temple_buddhist{background-position:-190px -100px;width:14px;height:11px;}
.small.bicycle{background-position:-204px -100px;width:17px;height:11px;}
.small.life_preserver{background-position:-221px -100px;width:12px;height:12px;}
.small.share_alt{background-position:-233px -100px;width:11px;height:11px;}
.small.comments{background-position:-244px -100px;width:12px;height:12px;}
.small.flower{background-position:-256px -100px;width:10px;height:13px;}
.small.baseball{background-position:-266px -100px;width:13px;height:13px;}
.small.rugby{background-position:-279px -100px;width:12px;height:12px;}
.small.ax{background-position:-291px -100px;width:14px;height:12px;}
.small.table_tennis{background-position:-305px -100px;width:12px;height:12px;}
.small.bowling{background-position:-317px -100px;width:12px;height:12px;}
.small.tree_conifer{background-position:-329px -100px;width:11px;height:12px;}
.small.tree_deciduous{background-position:-340px -100px;width:10px;height:13px;}
.small.more_items{background-position:-350px -100px;width:11px;height:12px;}
.small.sort{background-position:-361px -100px;width:13px;height:13px;}
.small.filter{background-position:-374px -100px;width:10px;height:12px;}
.small.gamepad{background-position:-384px -100px;width:14px;height:10px;}
.small.playing_dices{background-position:-398px -100px;width:14px;height:12px;}
.small.calculator{background-position:-412px -100px;width:11px;height:12px;}
.small.tie{background-position:-423px -100px;width:6px;height:13px;}
.small.wallet{background-position:-429px -100px;width:13px;height:10px;}
.small.piano{background-position:-442px -100px;width:12px;height:12px;}
.small.sampler{background-position:-454px -100px;width:14px;height:11px;}
.small.podium{background-position:-468px -100px;width:14px;height:11px;}
.small.soccer_ball{background-position:-482px -100px;width:13px;height:13px;}
.small.blog{background-position:-495px -100px;width:11px;height:12px;}
.small.dashboard{background-position:0px -113px;width:12px;height:12px;}
.small.certificate{background-position:-12px -113px;width:9px;height:13px;}
.small.bell{background-position:-21px -113px;width:12px;height:12px;}
.small.candle{background-position:-33px -113px;width:10px;height:13px;}
.small.pushpin{background-position:-43px -113px;width:12px;height:12px;}
.small.iphone_shake{background-position:-55px -113px;width:12px;height:12px;}
.small.pin_flag{background-position:-67px -113px;width:15px;height:11px;}
.small.turtle{background-position:-82px -113px;width:14px;height:8px;}
.small.rabbit{background-position:-96px -113px;width:13px;height:11px;}
.small.globe{background-position:-109px -113px;width:12px;height:12px;}
.small.briefcase{background-position:-121px -113px;width:12px;height:11px;}
.small.hdd{background-position:-133px -113px;width:12px;height:11px;}
.small.thumbs_up{background-position:-145px -113px;width:12px;height:11px;}
.small.thumbs_down{background-position:-157px -113px;width:12px;height:11px;}
.small.hand_right{background-position:-169px -113px;width:13px;height:10px;}
.small.hand_left{background-position:-182px -113px;width:13px;height:10px;}
.small.hand_up{background-position:-195px -113px;width:10px;height:13px;}
.small.hand_down{background-position:-205px -113px;width:10px;height:14px;}
.small.fullscreen{background-position:-215px -113px;width:12px;height:12px;}
.small.shopping_bag{background-position:-227px -113px;width:12px;height:13px;}
.small.book_open{background-position:-239px -113px;width:12px;height:11px;}
.small.nameplate{background-position:-251px -113px;width:12px;height:11px;}
.small.nameplate_alt{background-position:-263px -113px;width:12px;height:11px;}
.small.vases{background-position:-275px -113px;width:12px;height:12px;}
.small.bullhorn{background-position:-287px -113px;width:13px;height:10px;}
.small.dumbbell{background-position:-300px -113px;width:13px;height:8px;}
.small.suitcase{background-position:-313px -113px;width:12px;height:11px;}
.small.file_import{background-position:-325px -113px;width:11px;height:12px;}
.small.file_export{background-position:-336px -113px;width:12px;height:12px;}
.small.bug{background-position:-348px -113px;width:11px;height:12px;}
.small.crown{background-position:-359px -113px;width:13px;height:13px;}
.small.smoking{background-position:-372px -113px;width:14px;height:14px;}
.small.cloud_upload{background-position:-386px -113px;width:14px;height:10px;}
.small.cloud_download{background-position:-400px -113px;width:14px;height:11px;}
.small.restart{background-position:-414px -113px;width:13px;height:13px;}
.small.security_camera{background-position:-427px -113px;width:12px;height:12px;}
.small.expand{background-position:-439px -113px;width:10px;height:10px;}
.small.collapse{background-position:-449px -113px;width:10px;height:10px;}
.small.collapse_top{background-position:-459px -113px;width:10px;height:10px;}
.small.globe_af{background-position:-469px -113px;width:12px;height:12px;}
.small.global{background-position:-481px -113px;width:12px;height:12px;}
.small.spray{background-position:-493px -113px;width:11px;height:14px;}
.small.nails{background-position:0px -127px;width:11px;height:13px;}
.small.claw_hammer{background-position:-11px -127px;width:14px;height:13px;}
.small.classic_hammer{background-position:-25px -127px;width:13px;height:13px;}
.small.hand_saw{background-position:-38px -127px;width:13px;height:13px;}
.small.riflescope{background-position:-51px -127px;width:13px;height:13px;}
.small.electrical_socket_eu{background-position:-64px -127px;width:12px;height:12px;}
.small.electrical_socket_us{background-position:-76px -127px;width:12px;height:12px;}
.small.pinterest{background-position:-88px -127px;width:12px;height:12px;}
.small.dropbox{background-position:-100px -127px;width:12px;height:12px;}
.small.google_plus{background-position:-112px -127px;width:12px;height:12px;}
.small.jolicloud{background-position:-124px -127px;width:12px;height:12px;}
.small.yahoo{background-position:-136px -127px;width:12px;height:12px;}
.small.blogger{background-position:-148px -127px;width:12px;height:12px;}
.small.picasa{background-position:-160px -127px;width:12px;height:12px;}
.small.amazon{background-position:-172px -127px;width:12px;height:12px;}
.small.tumblr{background-position:-184px -127px;width:12px;height:12px;}
.small.wordpress{background-position:-196px -127px;width:12px;height:12px;}
.small.instapaper{background-position:-208px -127px;width:12px;height:12px;}
.small.evernote{background-position:-220px -127px;width:12px;height:12px;}
.small.xing{background-position:-232px -127px;width:12px;height:12px;}
.small.zootool{background-position:-244px -127px;width:12px;height:12px;}
.small.dribbble{background-position:-256px -127px;width:12px;height:12px;}
.small.deviantart{background-position:-268px -127px;width:12px;height:12px;}
.small.read_it_later{background-position:-280px -127px;width:12px;height:12px;}
.small.linked_in{background-position:-292px -127px;width:12px;height:12px;}
.small.forrst{background-position:-304px -127px;width:12px;height:12px;}
.small.pinboard{background-position:-316px -127px;width:12px;height:12px;}
.small.behance{background-position:-328px -127px;width:12px;height:12px;}
.small.github{background-position:-340px -127px;width:12px;height:12px;}
.small.youtube{background-position:-352px -127px;width:12px;height:12px;}
.small.skitch{background-position:-364px -127px;width:12px;height:12px;}
.small.square{background-position:-376px -127px;width:12px;height:12px;}
.small.quora{background-position:-388px -127px;width:12px;height:12px;}
.small.badoo{background-position:-400px -127px;width:12px;height:12px;}
.small.spotify{background-position:-412px -127px;width:12px;height:12px;}
.small.stumbleupon{background-position:-424px -127px;width:12px;height:12px;}
.small.readability{background-position:-436px -127px;width:12px;height:12px;}
.small.facebook{background-position:-448px -127px;width:12px;height:12px;}
.small.twitter{background-position:-460px -127px;width:12px;height:12px;}
.small.instagram{background-position:-472px -127px;width:12px;height:12px;}
.small.posterous_spaces{background-position:-484px -127px;width:12px;height:12px;}
.small.vimeo{background-position:0px -140px;width:12px;height:12px;}
.small.flickr{background-position:-12px -140px;width:12px;height:12px;}
.small.last_fm{background-position:-24px -140px;width:12px;height:12px;}
.small.rss{background-position:-36px -140px;width:12px;height:12px;}
.small.skype{background-position:-48px -140px;width:12px;height:12px;}
.small.e-mail{background-position:-60px -140px;width:12px;height:12px;}

