body {
    font-family:Verdana, Tahoma, sans-serif;
    color:#606060;
}

#acr_admin_main {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.title, a, h1, h2, h3, h4, h5, h6 {
    color:#662625;
}

.title  {
    background-color:#F9ECE5;
    border-bottom:medium none;
    border-top:1px solid #CCCCCC;
    margin:0 0 1em;
    padding:2px;
    font-size: 1.3em;
    font-family: Georgia, Times New Roman, Times, serif;
    padding-left: 7px;
}

.toolbar {
    border: 3px solid #CCCCCC;
    background-color: #EEEEEE;
    margin-bottom: 10px;
}

.section_box {
    border: 1px solid #EEEEEE;
    margin-bottom: 20px;
    border-top: none;
}

.acr_lightgrey_box, .section_icons {
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.plugin_section, .dashboard_section, .advanced_section {
    margin-left: 20px;
    margin-right: 20px;
}

.plugin_icon {
    display: inline-block;
}

.section_icons .icon a {
    margin: 10px;
    display: block;
    min-height: 64px;
    width: 96px;
    max-width: 96px;
    text-align: center;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: center top;
}

.section_icons .icon a span {
    display: block;
    padding-top: 64px;
    width: 96px;
    text-align: center;
    font-size: 12px;
    color: #662625;
}

.objects_list_entry {
    background-color:#FEFCF5;
    color:#662625;
    border: 1px solid #CCCCCC;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    display: inline-block;
    min-width: 50px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 3px;
    text-decoration: none;
    font-style: italic;
}

input, select {
    border: 1px solid #CCCCCC;
    width: 200px;
}

.submitbutton {
    width: 75px;
}

input:focus,select:focus {
    background-color: #FFFDF4;
}

.fielderror {
    color: #CC3333;
}

.plugin_section > .icon {
    display: inline-block;
}

#flash {
    width: 400px;
    border: 5px solid #F9ECE5;
    background-color: #FEFCF5;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.acr_help_box {
    width: 300px;
    padding: 10px;
    float: right;
    text-align: justify;
    border: 1px solid #CCCCCC;
    -moz-box-shadow: 9px 9px 10px #AAA;
    -webkit-box-shadow: 9px 9px 10px #AAA;
    box-shadow: 9px 9px 10px #AAA;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.acr_help_box a,
.acr_help_box a img {
    text-decoration: none;
    border: none;
}

.acr_help_box p {
    font-size: 9pt;
}

#admin_section_title {
    font-family: Georgia,Times New Roman,Times,serif;
    font-size: 1.3em;
    font-style: italic;
}
#acr_user_tools {
    background-color:#F9ECE5;
    border:1px solid #CCCCCC;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-radius-top-left: 5px;
    -webkit-border-radius-top-right: 5px;
    padding: 3px;
    left:542px;
    padding:3px;
    position:relative;
    width:250px;
    text-align: center;
    margin-bottom:-1px;
    margin-top:20px;
    padding-bottom:0;
}

#acr_user_tools a {
    color:#662625;
    font-size: 9px;
    text-decoration: none;
}

.acr_admin_section_container {
    width: 800px;
    margin: auto;
}

.mceEditor select {
    width: auto;
}

.autogrow .deletebutton, #attributes_undo {
    width: 16px;
    height: 16px;
    border: none;
}
