.acr_edit_container {
    position: relative;
}

.acr_edit_button {
    opacity: 0.3;
    position: absolute;
    text-align: right;
    min-width: 180px;
    width: 100%;
    background-color: #BBBBBB;
    font-family: Georgia, "Times New Roman", Times, serif !important;
    font-size: 12px !important;
    font-style:italic !important;
    font-weight:normal !important;
    text-transform:lowercase !important;
}

.acr_edit_button a {
    background-color: gray;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: white !important;
}

.acr_group_paginator span {
    margin-right: 3px !important;
}

.acr_rdisk_entry {
    border: 1px solid gray;
    padding: 4px;
    display: inline-block;
    margin: 6px;
    font-style: italic;
    width: 165px;
    overflow: hidden;
}

#upload_menu  {
    border: 1px solid #CCCCCC;
    padding: 5px;
    background-color: white;
    list-style-type: none;
    min-width: 100px;
    border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
}

#upload_menu .acr_slices_menu_entry a {
    text-decoration: none;
}

.acr_rdisk_entry div {
    width: 165px;
    text-align: center;
}

/*file*/
.acr_file_render {    
    margin-top: 10px;
    width:100%; 
    float:left;
}

.acr_file_render div.acr_body_file{
  float:left; 
  width:200px;
}

.acr_file_render img{
  width:64px;
  height:64px;
  float:left;
  margin-right: 10px;
}

.acr_file_preview {
    padding: 4px;
    margin: 4px;
}

.acr_file_preview img {
    width:24px;
    height:24px;
}
