@mixin clearfix()
  content: ""
  display: table
  clear: both

@mixin background-gradient($color, $starting_color: none)
  @if $starting_color == none
    $starting_color: lighten($color, 15%)
  +background-image(linear-gradient($starting_color, $color))
