[buildout]
develop = .

versions = versions
parts = i18n checker


[versions]
lxml = 2.3


[checker]
recipe = lovely.recipe:importchecker
path = src/p01/locales


[i18n]
recipe = z3c.recipe.i18n:i18n
eggs = p01.locales [extract]
packages = j01.jsonrpc
           j01.select2
           j01.datepicker
           j01.dialog
           j01.rater
           j01.searcher
           j01.wizard
           m01.bayes
           m01.fs
           m01.grid
           m01.mongo
           m01.searcher
           p01.cdn
           p01.form
           p01.fsfile
           p01.fswidget
           p01.secureprincipal
           p01.tmp
           p01.util
           p01.vocabulary.country
           p01.vocabulary.language
           p01.vocabulary.legacy
           p01.widget.password
domain = p01
output = src/p01/locales
maker = z3c.csvvocabulary.csvStrings
zcml = <include package="p01.locales" file="extract.zcml" />
