[buildout]
develop = .
versions = versions
parts = test checker coverage-test coverage-report


[versions]
# tested with pymongo 2.4.1
pymongo = 2.4.1


[test]
recipe = zc.recipe.testrunner
eggs = m01.stub [test]


[checker]
recipe = lovely.recipe:importchecker
path = src/m01/stub


[coverage-test]
recipe = zc.recipe.testrunner
eggs = m01.stub [test]
defaults = ['--all', '--coverage', '../../coverage']


[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')
