ul#quicksandbox {
	list-style-image: none;
	list-style-type: none;
	margin: 0px;
}

.image-grid {
	margin: 0;
}

.image-grid:after {
	content: "";
	display: block;
	height: 0;
	overflow: hidden;
	clear: both;
}

/* this is important, one can not set the the same on the divs (a bug in quicksand) */

.image-grid li {
	margin: 0px 10px 10px 0 !important;
	display: block;
	border: 1px solid #ccc;
	float: left;
	text-align: center;
	font-family: "Helvetica Neue", sans-serif;
	line-height: 17px;
	color: #686f74;
	overflow: hidden;
	background: #ddd;
}

.image-grid li img {
	display: block;
	margin: auto;
}

.image-grid h3 {
	background: #333;
	color: white;
	padding: 5px;
	font-size: 16px;
	margin-bottom: 5px;
	letter-spacing: 1px;
}

.image-desc {
	color: #333;
	padding: 0 6px;
}