header#header {
    .navbar-inner {
        padding-right: 0;
        padding-left: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }
    
    .container {
        width: 940px;
    } 
    
    ul#login {
        .navbar-text {
            margin-right: 10px;
        }
    }
}

section#container {

    li.checkbox {
        label {
            display: inline;
        }
    }
    
}