[buildout]
develop = .
parts =
    test
    scripts

[test]
recipe = zc.recipe.testrunner
eggs = collective.recipe.supervisor [tests]
defaults = ['-s', 'collective.recipe.supervisor']

[scripts]
recipe = zc.recipe.egg
eggs =
    zest.releaser
    collective.recipe.supervisor
