.twt-tweet .entry-content{
    clear:both;
}
.twt-tweet{
	clear:left;
}
.twt-tweet .photo{
    margin-top: 0;
    border-radius: 8px;
}
.twt-tweet time.timeago{
    color: grey;
    font-size: 75%;
}
.twt-tweet .entry-title{
	margin-bottom: 0;
}