/* Stylesheet for the 'Arnolfini Theme' Plone theme */
/* @group FONTS */


@font-face {
    font-family: 'arnolfinibold';
    src: url('++resource++plonetheme.arnolfini.fonts/arnolfini-bold-webfont.eot');
    src: url('++resource++plonetheme.arnolfini.fonts/arnolfini-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('++resource++plonetheme.arnolfini.fonts/arnolfini-bold-webfont.woff') format('woff'),
         url('++resource++plonetheme.arnolfini.fonts/arnolfini-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
		font-family: 'AtlasGrotesk-RegularItalic';
		src: url('++resource++plonetheme.arnolfini.fonts/atlasgrotesk-regularitalic.eot');
		src: url('++resource++plonetheme.arnolfini.fonts/atlasgrotesk-regularitalic.eot?#iefix') format('embedded-opentype'),
				 url('++resource++plonetheme.arnolfini.fonts/atlasgrotesk-regularitalic.woff') format('woff'),
				 url('++resource++plonetheme.arnolfini.fonts/atlasgrotesk-regularitalic.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'AtlasGrotesk-Regular';
		src: url(++resource++plonetheme.arnolfini.fonts/'atlasgrotesk-regular.eot');
		src: url('++resource++plonetheme.arnolfini.fonts/atlasgrotesk-regular.eot?#iefix') format('embedded-opentype'),
				 url('++resource++plonetheme.arnolfini.fonts/atlasgrotesk-regular.woff') format('woff'),
				 url('++resource++plonetheme.arnolfini.fonts/atlasgrotesk-regular.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'AtlasGrotesk-Medium';
		src: url('++resource++plonetheme.arnolfini.fonts/atlasgrotesk-medium.eot');
		src: url('++resource++plonetheme.arnolfini.fonts/atlasgrotesk-medium.eot?#iefix') format('embedded-opentype'),
		     url('++resource++plonetheme.arnolfini.fonts/atlasgrotesk-medium.woff') format('woff'),
		     url('++resource++plonetheme.arnolfini.fonts/atlasgrotesk-medium.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
}

/* @end */

/* @group STRUCTURE*/

#visual-portal-wrapper
{
    margin: 0 auto;
}


/* TODO: temporary to check the design, should be deleted*/
#portal-personaltools-wrapper
{
    display: none;
}

/* @end */

/* @group PLONE */

#content,
#portal-personaltools,
#portal-globalnav,
#portal-languageselector,
#portal-searchbox,
#portal-breadcrumbs,
dl.portlet,
div.managePortletsLink,
a.managePortletsFallback,
div.listingBar,
dl.portalMessage,
#edit-bar,
span.arrowDownAlternative,
.comment,
div.overlay,
#portal-footer,
#portal-colophon,
#portal-siteactions
{
    font-size: 100%;
}

/* @group GENERAL */

*{
    margin: 0;
    padding: 0;
}

body {
	font: 12px/20px 'AtlasGrotesk-Regular', Arial, "Helvetica Neue", Helvetica;
	margin: 0px;
	padding: 0;
}

a, a:active, a:hover, a:link, a:visited
{
	text-decoration: none;
	border-bottom: 1px solid silver;
        color: #000;
}

#content a, #content a:hover
{
    color: #000 !important;
    border-bottom: 1px solid silver !important;
}

#content-views a, #content li.formTab a, #content-core li.formTab a {
    border: medium none !important;
}

#content dt {
    font-weight: normal;
}

#contentActionMenus dl.actionMenu a,
#contentActionMenus dl.actionMenu.activated dd,
#contentActionMenus dl.actionMenu a,
#portal-globalnav li a,
#portal-logo,
dl.actionMenu a,
#portal-personaltools #anon-personalbar a
{
    border-bottom: none;
}

h1, h2, h3, h4, b, strong, th {
	text-rendering: optimizeLegibility;
	font-family: 'AtlasGrotesk-Medium';
	font-weight: normal;
	font-style: normal;
}

h1.documentFirstHeading
{
    margin-bottom: 20px;
}

i, em {
	font-family: 'AtlasGrotesk-RegularItalic';
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

#portal-logo-wrapper
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#portal-logo {
    display: block;
    font: 40px/40px 'arnolfinibold';
    margin: 22px auto;
    text-align: center;
    text-transform: uppercase;
    width: 350px;
}

#portal-logo a {
	text-decoration: none;
}

/* Hiding menu */
.showmenu {
	text-align: center;
	margin-top: 23px;
        font: 20px/20px 'arnolfinibold';
}

.showmenu a {
	text-decoration: none;
        border-bottom: none;
}

#portal-globalnav
{
    display:none;
    margin-top: 100px;
}

#portal-header {
    min-height: 100px;
}
/* == */

.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

.headerSearch {
	position: absolute;
	right: 0;
	top: 21px;
	width: 200px;
        z-index: 999;
}

.headerSearch .searchButton {
	position: absolute;
	right: -1px;
	width: 28px;
	height: 28px;
	text-indent: -1000em;
	background: url(++resource++plonetheme.arnolfini.images/search_lens.png) no-repeat 0 0;
        border: medium none;
        padding: 0;
        cursor: pointer;
}

.headerSearch .searchField, .headerSearch .searchField:focus {            
        border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	padding: 0 0 3px 1px;
        border-style: none none solid;
        border-bottom: 1px solid #000000;
        outline: medium none;
        padding: 0 0 3px 1px;
        width: 150px;
        position: absolute;
	left: 20px;
	top: 9px;
        display: none;
	-moz-appearance: none;
        background-color: transparent;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

#portal-footer {
    background-color: transparent;
    border-top: 1px dotted silver;
    padding: 10px 0;
    text-align: center;
    clear: both;
}

#portal-siteactions
{
    border-top: 1px dotted silver;
    padding-top: 10px;
    text-align: left;
}

#portal-siteactions a, #portal-siteactions a:hover, #portal-siteactions a:visited, #portal-siteactions a:link
{
    color: gray !important;
    text-decoration: none;
    border-bottom: none;
    font-size: 11px;
    line-height: 19px;
}

#portal-siteactions a:hover
{
    border-bottom: 1px solid silver;
}

.showmenu {
    position: absolute;
    left: 0;
    top: 0;
    text-transform: uppercase;
    border-bottom: none;
}

/* @end */

/*  @group PORTLETS */

dl.portlet dt, div.portletAssignments div.portletHeader {
    background-color: transparent;
}

dl.portlet a:link, dl.portlet a  {
    color: #000 !important;
}

dl.portlet a:hover  {
    color: #000 !important;
}

dl.portlet ul.navTreeLevel0 > .navTreeItem
{
    border-bottom: medium none;
}

#portal-column-one,
#portal-column-two
{
    margin-top: 13px;
}

/* @end */

/* @group FOOTER */

#portal-footer .footerStaticContent
{
    float: left;
    text-align: left;
    width:180px;
    line-height: 19px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-top: 3px;
    font-size: 11px;
}

#portal-footer .portlet
{
    float: left;
    text-align: left;
    width:140px;
    font-size: 11px;
    line-height: 19px;
}

#portal-footer .portletHeader
{
    color: #3D3D3D !important;
    text-rendering: optimizeLegibility;
    font-family: 'AtlasGrotesk-Medium';
    font-weight: normal;
    font-style: normal;
}

#portal-footer .portlet ul li a
{
    border-bottom: none;
    color: #3D3D3D !important;
}

#portal-footer .portlet ul li a:hover
{
    border-bottom: solid 1px silver;
    color: #3D3D3D !important;
}

#portal-footer #FooterPortletManager
{
    display: inline-block;
    float: left;
}

#portal-footer .portletItem
{
    padding-top: 0;
}
/* @end */


/* @group FlLEXIBLE*/

/*  Mobile */
@media only screen and (min-width: 100px) and (max-width: 768px) {
        
        #content
        {
            font-size: 120%;
        }
        
        h1
        {
            text-align: center;
        }
        
        body #visual-portal-wrapper
        {
            width: 475px;
        }
        
        .showmenu {
            font: 15px/15px 'arnolfinibold';
        }
        
        #portal-footer .portlet, #portal-footer #FooterPortletManager, #portal-footer .footerStaticContent
        {
            clear: both;
            width:100%;
            text-align: center;
        }
        
        dl.portlet
        {
            border-top: 1px dotted silver;
            padding: 20px 0 20px 0;
            margin: 20px 0 0 0;
        }
        
        body div.headerSearch input.searchField, body div.headerSearch input.searchField:focus, #portal-searchbox input[type = text] {
            top: 59px;
            width: 100%;
            left: 0px;
            height: 21px;
            font-size: 17px !important;
        }
        
        
        /*  FROM PLONE MOBILE  */
        #portal-column-one, 
        #portal-column-two,
        #portal-column-content { 
                clear: both; 
                margin-left: -100%;
                width: 100%;
        }
        #portal-globalnav li a {
                min-width: 3em !important;
                padding:0.5em 1.5em 1em 0.5em;
        }
        #portal-searchbox {
                float: none !important;
                margin: 1em 0;
                text-align: center;
        }
        #portal-searchbox input {
                font-size: 100% !important;
        }
        #content-views a {
                font-size: 150%;
                line-height: 2em !important;
                padding: 0.5em;
        }
        #content li.formTab a {
                font-size: 140%;
                line-height: 2em !important;
                padding: 0.25em;
        }
        #edit-bar {
                min-height: 5em;
        }
        
        #contentActionMenus a {
                width: 100%;
                line-height: 2em !important;
                font-size: 150%;
        }
        
        input, textarea {
                font-size: 140% !important;
        }
        div.managePortletsLink,
        a.managePortletsFallback {
                font-size: 140%;
        }
        div.overlay {
                font-size: 120%;
        }
        div.overlay-iframe,
        div.overlay-ajax {
                width: 90%;
        }
}

/* Small */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
        body #visual-portal-wrapper
        {
            width: 755px;
        }
        
        .showmenu {
            font: 20px/20px 'arnolfinibold';
        }
        
        #portal-footer #FooterPortletManager
        {
            padding-top: 20px;
            border-top: dotted 1px silver;
            width: 100%;
        }
}

/*  Medium */
@media only screen and (min-width: 1024px) and (max-width: 1220px) {
        body #visual-portal-wrapper
        {
            width: 1005px;
        }
        
        .showmenu {
            font: 20px/20px 'arnolfinibold';
        }
}

/* Large*/
@media only screen and (min-width: 1220px) {
        body #visual-portal-wrapper
        {
            width: 1125px;
        }
        
        .showmenu {
            font: 20px/20px 'arnolfinibold';
        }
}

/* Retina display */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {

}
/* @end */
