[buildout]
develop = .

parts = test checker coverage-test coverage-report


[test]
recipe = zc.recipe.testrunner
eggs = m01.bayes [test]


[checker]
recipe = lovely.recipe:importchecker
path = src/m01/bayes


[coverage-test]
recipe = zc.recipe.testrunner
eggs = m01.bayes [test]
defaults = ['--all', '--coverage', '../../coverage']


[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')
