/*
    This file is part of Workout Manager

    Workout Manager is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Workout Manager is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with Workout Manager. If not, see <http://www.gnu.org/licenses/>.
*/

/**************************************************************
 *
 * This file contains common classes and styles for both the
 * mobile and the desktop version
 *
 **************************************************************/

/**************************************************************
 * Font definitions
 **************************************************************/

/* font-face kit by Fonts2u - http://www.fonts2u.com */
@font-face {
    font-family:"Open Sans Light";
        src:url("/static/fonts/OpenSans-Light.eot?") format("eot"),
            url("/static/fonts/OpenSans-Light.woff") format("woff"),
            url("/static/fonts/OpenSans-Light.ttf") format("truetype"),
            url("/static/fonts/OpenSans-Light.svg#OpenSans-Light") format("svg");
    font-weight:normal;
    font-style:normal;
}


@font-face {
    font-family:"Open Sans";
        src:url("/static/fonts/OpenSans-Regular.eot?") format("eot"),
            url("/static/fonts/OpenSans-Regular.woff") format("woff"),
            url("/static/fonts/OpenSans-Regular.ttf") format("truetype"),
            url("/static/fonts/OpenSans-Regular.svg#OpenSans") format("svg");
    font-weight:normal;
    font-style:normal;
}


@font-face {
    font-family:"Open Sans Bold";
        src:url("/static/fonts/OpenSans-Bold.eot?") format("eot"),
            url("/static/fonts/OpenSans-Bold.woff") format("woff"),
            url("/static/fonts/OpenSans-Bold.ttf") format("truetype"),
            url("/static/fonts/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
    font-weight:normal;
    font-style:normal;
}