/*  Default 11-column layout
    60 px columns, 24 px gutters, 42 px margins, 984 px total
    ---------------------------------------------------------
    1     2      3      4      5      6      7      8      9      10     11
    60px  144px  228px  312px  396px  480px  564px  648px  732px  816px  900px */

#forum td, th{ text-align: center; }
#forum td:first-child{ padding-left:6px; }
#forum th:first-child{ padding-left:4px; }
#forum td:first-child, th:first-child{ text-align:left; }

#forum table{ width:100%; border:1px solid lightgray; border-spacing:0px; }
#forum table thead tr{ border-bottom: 1px solid #abc; }

#forum caption{ text-align:left; }
#forum textarea{ width:500px; }

#forum a{ text-decoration:none; }

#forum .paginate{ text-align:center; cursor:default; }
#forum .paginate a:active{ cursor:pointer; }
#forum .block { margin-bottom:10px; }

#forum .user_profile > header{ text-align: center; }
#forum .user_profile aside{ width:252px; display: inline-block; margin-right:24px; }
#forum .user_profile aside .username{ text-align:center; }
#forum .user_profile aside .avatar{ margin-bottom:5px; text-align:center; }
#forum .user_profile aside .avatar img{ max-width:200px; max-height:200px; border:1px solid lightgray; }
#forum .user_profile aside div.menu{ text-align:center; }

#forum .user_profile section{ width:620px; display: inline-block; vertical-align:top; }

#forum table.category .name { width: 30%; }
#forum table.category .threads_counter { width: 15%; }
#forum table.category .replies_counter { width: 15%; }
#forum table.category .last_thread { width: 40%; }

#forum table.forum .thread { width: 50%; }
#forum table.forum .author { width: 20%; }
#forum table.forum .replies_counter { width: 15%; }
#forum table.forum .views_counter { width: 15%; }

#forum header.forum > div{ display: inline-block; }
#forum header.forum > div.breadcrumbs{ width:448px; text-align: left; }
#forum header.forum > div.actions{ width:448px; text-align: right; }

#forum .user_profile .edit_profile .clear{ clear:both; }
#forum .user_profile .messages tr .messages_subject{ width: 50%;  text-align:left; }
#forum .user_profile .messages tr .messages_author{ width: 25%; text-align: center; }
#forum .user_profile .messages tr .messages_date{ width: 25%; text-align: center; }

#forum .user_profile .profile_list { list-style: none; }
#forum .user_profile .profile_list li{ margin-left:10px; }
#forum .user_profile .profile_list li label{ text-align:left; width:200px; }
#forum .user_profile .profile_list .signature { padding: 10px; }
#forum .user_profile .profile_list .signature > div{ background-color: white; border: 1px solid #d3d3d3; padding: 10px; }

#forum .user_profile a.send_pvt{ font-weight:bold; }

#forum .reply{ margin-bottom: 10px; border:1px solid #abc; padding:4px; }
#forum .reply header { display:block; padding:2px 4px; border-bottom:1px solid #abc; }
#forum .reply aside, .reply section{ padding:4px 2px; }

#forum .reply aside{ width:228px; margin-right:24px; display:inline-block; }

#forum .reply section{ width:601px; display:inline-block; vertical-align:top; }
#forum .reply section div.content{ padding:2px 4px; }

#forum .reply header > aside { display:inline-block; width:50%; }
#forum .reply .body { border: 1px solid #d3d3d3; border-top:none; }
#forum .reply .body .column_left { width: 160px; text-align: center; }
#forum .reply .body .column_left img { max-width: 160px; }
#forum .reply .body { margin-left: 10px; }

#forum .thread_actions{ text-align:right; }

#forum .thread .image, #forum .thread .attach{ text-align:center; }
#forum .thread .image img{ max-width:100%; }
#forum .thread .attach span{ cursor:default; }
#forum .thread .image { text-align: center; }
#forum .thread .attach {
    border: 1px solid #d3d3d3;
    margin: 5px 0px 10px 0px;
    padding: 4px;
    text-align: right;
}