[buildout]
extends = profiles/versions.cfg
parts = instance gocept.fssyncz2 zsync test
#extensions = buildout.dumppickedversions
develop = .

[instance]
recipe = plone.recipe.zope2instance
blob-storage = ${buildout:directory}/var/blobstorage
user = admin:admin
http-address = 127.0.0.1:8080
debug-mode = on
verbose-security = on
eggs =
    Zope2
    gocept.fssyncz2
zcml =
    gocept.fssyncz2-overrides
    gocept.fssyncz2
products = ${buildout:directory}/3rdparty/Products

[gocept.fssyncz2]
recipe = zc.recipe.egg:script
arguments = host='${instance:http-address}', folder='test', repository='${buildout:directory}/dump', credentials='${instance:user}'

[zsync]
recipe = zc.recipe.egg
eggs = zope.app.fssync
entry-points = zsync=zope.app.fssync.main:main

[test]
recipe = zc.recipe.testrunner
eggs =
    gocept.fssyncz2 [test]
extra-paths =
    ${buildout:directory}/3rdparty
