ul#quicksandbox {
	list-style-image: none;
	list-style-type: none;
	margin:  10px 0;
}

.image-grid {
  margin: 0;
}

.image-grid:after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

/* this is important, one can not set the the same on the divs (a bug in quicksand) */
.image-grid li {
  margin: 0 10px 10px 0;
  float: left;
  text-align: center;
  font-family: "Helvetica Neue", sans-serif;
  line-height: 17px;
  color: #686f74;
  overflow: hidden;
}

.image-grid li img {
  display: block;
  margin:  auto;
}

