.invisible { visibility: hidden; }
.hidden { display: none; }
ul.container {
    list-style-type: none;
    margin: 0em;
    padding: 0em;
}
li {
    margin: 0;
}
li.cell {
    float: left;
    overflow: hidden;
}
.cell:not(.dummy):not(.hidden) {
    margin-left: 0%;
}
.cell:not(.dummy):not(.hidden) ~ .cell:not(.dummy):not(.hidden) {
    margin-left: 1%;
}
.item { clear: left; }
.dummy { width: 0; }
.container.days {
    font-size: smaller;
    font-family: ubuntu, sans;
}
.container.trees {
    margin-left: 8ex;
}
li.commit {
    margin-top: 3px;
}
.bubble.commit {
    background-color: #aaa;
    border-color: #aaa;
}
.tree.cell {
    margin-top: 0.5em;
    margin-bottom: 1em;
}
.item.day {
    padding: 0.5em;
    background-color: silver;
}
.item.tree {
    font-weight: bold;
    text-align: center;
}
.pass-delta.more-passes, .pass-delta.fewer-passes {
    font-weight: bold;
}
.pass-delta {
    color: green;
}
.fail-delta.more-fails, .fail-delta.fewer-fails {
    font-weight: bold;
}
.fail-delta {
    color: red;
}
li.day {
    clear: left;
    margin-top: 1ex;
}

.bubble {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    padding: 2px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #ccc;
    border-color: #ccc;
}
.bubble.fail {
    border-color: #f77;
}
.bubble.skip {
    border-color: #770;
}
.bubble.pass {
    border-color: #077;
}