div.form input, div.form select, div.form textarea {
	width: 96%;
}

.slupm_form_buttons {
	margin-top: 10px;
}

div.form input[type="submit"], div.form input[type="reset"] {
	width: auto;
}


/* Fixes the height and margins of the fileselectors */
input[type="file"] {
	margin-bottom: 10px;
	height: auto;
}

/* Simulate fieldeelement in readonly mode */
.readonlyfield {
	background-color: rgb(238, 238, 238);
    	border-radius: 4px 4px 4px 4px;
	padding: 5px;
	margin-bottom: 10px;
}

/* Fix margins in case of error messages */
div.errorfield input {
	margin-bottom: 0px;
}

div.errorfield {
	margin-bottom: 10px;
}
