.well-small {
  padding: 5px 5px;
  background-color: #F5F5F5;
  border: 1px solid #E3E3E3;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}

.odd {
	background #F9F9F9;
}
/* Status */
.trash {
	color: gray !important;
	text-decoration: line-through !important;
}

/* Used within option listing in OptionListRenderer */
ol.undecorated, ul.undecorated {
	list-style-type: none;
}

ol.undecorated li, ul.undecorated li {
	margin-left: 0px;
}
