th.actions, td.actions {
	text-align: right;
}

th a {
	color: black;
}

#pageinator_selector {
	text-align: right;
}

#bundle-actions {
	margin-bottom: 5px;
}

/* Datatables */
div.dataTables_length label {
    width: 460px;
    float: right;
    text-align: right;
}
 
div.dataTables_length select {
    width: 75px;
}
 
div.dataTables_filter label {
    float: left;
    width: 460px;
}
 
div.dataTables_info {
    padding-top: 8px;
}
 
div.dataTables_paginate {
    float: right;
    margin: 0;
}
