.menu {
	margin: 0.25em 0em;
}

.menu h1 {
	padding: 0.25em;
	font-size: 1.0em;
}

.menu_body {
	padding: 0.25em;
	font-size: 0.8em;
	font-weight: default;
}

.menu_footer {
	font-size: 0.8em;
	font-weight: default;
}

