[buildout]
#extends = https://raw.github.com/collective/buildout.plonetest/master/test-3.x.cfg
extends = https://raw.github.com/collective/buildout.plonetest/master/test-4.x.cfg
package-name = collective.editskinswitcher
parts += omelette

#[instance]
#event-log-level = debug

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
#products = ${instance:products}
# Plone 3:
#packages = ${zope2:location}/lib/python
