body {
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    }

#left {
    position: absolute;
    left: 120px;
    top: 70px;    
    width: 40%;
}

#right {
    position: absolute;
    right: 30px;
    top: 70px;
    width: 45%;
}

#logo {
    position: fixed;
    right: 30px;
    bottom: 30px;
}

h1 {
    color: red;
}

#logged_in {
    color: green;
}

#logged_in a {
    color: green;
}

#not_logged_in a {
    color: red;
}

#userwelcome {
    position: absolute;
    right: 10px;
    top: 10px;
}

#charnav ul {
    position: fixed;
    top: 50px;
    left: 0px;
    list-style: none;
    }

#charnav ul li {
    padding-top: 5px;
    }
