[buildout]
extensions = buildout-versions
develop = .
parts = test
versions = versions

[versions]
# Package pinnings here are mostly to ensure that the tests keep
# passing when say a new zc.buildout is out.  Otherwise you can get
# failed examples because zc.buildout is upgraded.  In other words:
# keep the pinnings here the same as in the README.txt test examples
# and it should keep working.
zc.buildout = 1.4.3
zc.recipe.egg = 1.2.2
distribute = 0.6.14
buildout-versions = 1.3
zc.recipe.testrunner = 1.3.0
zope.exceptions = 3.6.1
zope.interface = 3.6.1
zope.testing = 3.10.0
zope.testrunner = 4.0.0b5


[test]
recipe = zc.recipe.testrunner
eggs = collective.recipe.i18noverrides [tests]
