[buildout]
package-name = collective.scriptedredirect
package-extras = [test]

versions = versions

extensions = mr.developer
sources = sources
always-accept-server-certificate = true
always-checkout = true
auto-checkout =

# Unpin Plone's versions.cfg pinning.
[versions]
collective.scriptedredirect =
