ul.slideshow {
    list-style:none;
    width:100%;
    max-width: 100%;
    min-height: 128px;
    height: 100%;
    overflow:hidden;
    position:relative;
    margin:0;
    padding:0;
    
}   

ul.slideshow li {
    position:absolute;
    left:0;
    right:0;
}

ul.slideshow li.show {
    z-index:500;    
}

ul img {
    border:none;    
}


.slideshow-caption {
    width:100%;
    height:64px;
    position:absolute;
    bottom:0;
    left:0; 
    color:#fff;
    background:#000;
    z-index:500;
    opacity: .6;
}

.slideshow-caption .slideshow-caption-container {
    padding:5px 10px;       
    z-index:1000;
}

.slideshow-caption h3 {
    margin:0;
    padding:0;  
    text-transform: capitalize;
}

.slideshow-caption p {
    margin:5px 0 0 0;
    padding:0;
}

.slideshow-caption-container span {
    float: right;
    padding-bottom: 5px;
    text-decoration: underline;
}

.slideshow-caption-container h3 {
    color: white;
}

a.read-more {
    float: right;
    color: white !important;
    font-weight: bold;
}