/* Stylesheet for the 'Porseleinplaats' Plone theme */

body
{
    background-color: #dae4eb;
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-image: url(/porseleinplaats/yellow.jpg);
    background-repeat: repeat-y;
    background-position: top left;
}

h1, h2, h3, h4, h5, h6
{
    font-family: Arial, sans-serif;
    letter-spacing: normal;
}

hr
{
    display: none;
}

h1
{
    font-size: 18px;
}

h2, h3, h4, h5, h6
{
    font-size: 16px;
}

.pageWrapper
{
    background-color: #f1f3f8;
    moz-border-radius: 5px;
    webkit-border-radius:5px;
    border-radius:5px;
    padding: 10px;
    position: relative;
}

.documentFirstHeading
{
    margin-bottom: 15px;
}

.portletUserActionsPortlet
{
    background-color: #fcfbd7;
    moz-border-radius: 5px;
    webkit-border-radius:5px;
    border-radius:5px;
}


#portal-logo
{
   margin-left: 10px;
}

#portal-top
{
    background-color: #e8b380;
}

#portal-columns
{
    margin:0;
}

#portal-column-one
{
    /*background-color: #fef099;*/
    width: 15.75% !important;
    padding-top: 10px;
}


#portal-searchbox {
    margin-top: 35px;
    position: relative;
}

#content
{
    margin:10px 0;
}

div.width-full {
    width: 790px;
}

div.width-1\:2 {
    width: 55.75%;
}

div.position-1\:4 {
    margin-left: -79.87% !important;
}

div.width-1\:4 {
    width: 19.75%;
}

div.position-3\:4 {
    margin-left: -27.2%;
}

div.position-3\:4.width-1\:4
{
    width: 28.75%;
}

div.width-3\:4 {
    width: 73%;
}

dl.portlet dt, div.portletAssignments div.portletHeader 
{
    background: none;
    background-color: transparent;
}

dl.portletError {
    background-color: transparent;
}

#portal-header
{
    width: 980px;
}

/* Sidebar */

#portal-column-content.position-0 #viewlet-above-content
{
    left: -191px;
    margin-left: 10px;
    margin-right: 10px;
    position: absolute;
    top: 10px;
    width: 160px;
}

#portal-column-content.position-1\:4 #viewlet-above-content
{
    left: -355px;
    position: absolute;
    top: 10px;
    width: 160px;
    margin-left: 10px;
}

#portal-column-content {
    margin-bottom: 20px;
    margin-left: -780px;
}

#portal-columns
{
    margin-left: 200px;
    width: 770px;
}

div.portletAssignments select, .portlets-manager select
{
    max-width:143px;
}

#category-selector .portletHeader
{
    display: none;
}

.cn-breadcrumbs
{
    display: none;
}

#content a:link, dl.portlet a:link {
    border-bottom: none;
}

#content a:hover, dl.portlet a:hover {
    border-bottom: 0.1em solid #CCCCCC;
    color:#205C90 !important;
}


span.marker
{
    display: none
}

.cn-category-title
{
    font-weight: bold;
    margin-bottom: 5px;
}

/* menu */

#portal-globalnav {
    background:none;
    clear:none;
    text-align:right;
    float:right;
    width:400px !important;
    margin-top:39px;
}

#portal-globalnav li
{
    background: none;
}

#portal-globalnav li a, #portal-globalnav .selected a, #portal-globalnav li a:hover, #portal-globalnav .selected a:hover
{
    background: none;
    color: black;
}

#portal-globalnav li a
{
    border: none;
    font-size: 18px;
    
}

#portal-globalnav li a:hover
{
    color: #7bbfca;
}

#portal-globalnav .selected a
{
    color: #7bbfca;
}

#portal-globalnav .selected a:hover
{
    color: #7bbfca;
}

#edit-bar
{
    margin-top: 10px;
}

/* ======  Home page portlet =======*/

#homePortlets dl.portlet, #homePortlets div.portletStaticText
{
    display: block;
    float: left;
    background-color: #f1f3f8;
    height: 250px;
    font-size: 100%;
}

#homePortlets dt.portletHeader
{
    height: 15px;
    line-height: 15px;
    font-size: 12px;
    color: #666;
    padding: 5px 10px;
    background-color: #f2d4ad;
}

#homePortlets dl.portlet p
{
    margin-bottom: 0px;
}

#homePortlets dl.portlet-static-porseleinplaats-unieke-kans, #homePortlets div.portlet-static-topstuk-van-de-dag
{
    width: 472px;
}

#homePortlets dl.portlet-static-porseleinplaats-unieke-kans dd.portletItem
{
    padding:0;
}

#homePortlets dl.portlet-static-bekijk-ook, #homePortlets dl.portlet-static-laatst-toegevoegde-items
{
    width: 307px;
    margin-left: 10px;
    padding: 0px;
}

#homePortlets dd
{
    margin: 0;
    padding: 10px;
}

#content #homePortlets a:hover, dl.portlet a:hover {
    border-bottom: none;
    color:#205C90 !important;
    text-decoration: underline !important;
}

.portlet-static-porselein .portletHeader
{
    display: none;
}

#homePortlets dl.portletRecentComments
{
    width: 790px;
    height: auto;
}

.dsq-powrby
{
    text-align: right !important;
    display: block;
}

#homePortlets dl.portletCollection
{
    width: 790px;
    height: auto;
}

#homePortlets dl.portletCollection .portletItemDetails {
    display: block;
    float: right;
    font-size: 100%;
    font-weight: bold;
    line-height: 1.5em;
    color: #f15a24;
    padding: 0;
    margin: 0;
}

#homePortlets dl.portletCollection .portletItemDescription
{
    display: block;
    color:#205C90;
}

#homePortlets dl.portletCollection .portletMoreLink
{
    float: right;
    clear: both;
    margin-bottom: 10px;
    display: none;
}

#homePortlets dl.portletCollection .portletItemTitle
{
    color: #999 !important;
    font-weight: bold;
    font-size: 120%;
}

#homePortlets dl.portletThumbnail
{
    width: 307px;
    margin-left: 10px;
    padding: 0px; 
}

#homePortlets dl.portletThumbnail .portletItem
{
    display: block;
    float: left;
    padding: 6px 6px 6px 13px;
}

#homePortlets dl.portletThumbnail .portletItem .cropBox
{
    display: block;
    width: 80px;
    height: 60px;
    border:1px solid #ccc;
    overflow: hidden;
    text-align: center;
}

#homePortlets dl.portletThumbnail .portletItem .cropBox img
{
    max-height: 100px;
    max-width: 120px;
    min-width: 90px;
    min-height: 70px;
    margin-left: -5px;
    margin-top: -5px;
}

#homePortlets dl.portletTopList
{
     width: 472px;
     padding: 0px;
     position: relative;
}

#homePortlets dl.portletTopList .smallLogo
{
vertical-align: top;
}


#homePortlets dl.portletTopList .topstuk
{
vertical-align: top;
margin-top: -10px;
margin-left: -10px;
}

#homePortlets dl.portletTopList .portletItem
{
    display: block;
    float: left;
    padding: 6px 6px 6px 13px;

}

#homePortlets dl.portletTopList .portletItem .cropBox
{
    display: block;
    width: 90px;
    height: 90px;
    border:1px solid #ccc;
    overflow: hidden;
    text-align: center;
    background-color: white;
}

#homePortlets dl.portletTopList .portletItem .cropBox img
{
    max-height: 90px;
    max-width: 90px;
    min-width: 0px;
    min-height: 0px;
    margin-left: 0px;
    margin-top: 0px;
}

#homePortlets dl.portletTopList .portletItem .cropBox.pos-1
{
    height: 208px;
    width: 246px;
}

#homePortlets dl.portletTopList .portletItem .cropBox.pos-1 img
{
    max-height: 208px;
    max-width: 246px;
    min-width: 0px;
    min-height: 0px;
    margin-left: 0px;
    margin-top: 0px;
}

#homePortlets dl.portletTopList .portletItem .cropBox.pos-2
{
    position: absolute;
    bottom: 10px;
    right: 110px;
}

#homePortlets dl.portletTopList .portletItem .cropBox.pos-3
{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#homePortlets dl.portletTopList .portletItem .TopItemTitle
{
    font-size: 17px;
    font-weight: bold;
    left: 271px;
    position: absolute;
    top: 35px;
    width: 190px;
}

#homePortlets dl.portletTopList .portletItem .TopPortletMeer
{
    color: #999;
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    top:125px;
    left: 270px;
}


#homePortlets dl.portlet.portletStaticText.portlet-static-opening-2018eenmaal-andermaal
{
    width: 790px;
    height: auto;
}


#homePortlets dl.portlet.portletStaticText.portlet-static-opening-2018eenmaal-andermaal img
{
    margin: 10px;
}

dl.portlet.portlet-author
{
    background-color: #fbf198;
    moz-border-radius: 3px;
    webkit-border-radius:3px;
    border-radius:3px;
    margin-top: 10px;
}

dl.portlet.portlet-selling, dl.portlet.portlet-sharing
{
    background-color: #f1f3f8;
    moz-border-radius: 3px;
    webkit-border-radius:3px;
    border-radius:3px;
    margin-top: 10px;
}

dl.portlet.portlet-selling .sellingInfo
{
    text-align: left;
    font-size: 20px;
    font-weight: normal;
}

dl.portlet.portlet-selling .sellingInfo.no
{
    text-align: center;
}

dl.portlet.portlet-selling .sellingInfo .forSale
{
    font-size: 13px;
    vertical-align: super;
}

dl.portlet.portlet-selling .emailButton {
    background-image: url("++resource++plonetheme.porseleinplaats.images/emailButton.png");
    display: block;
    font-size: 0;
    text-indent: 9999px;
    overflow: hidden;
    color: transparent;
    height: 35px;
    margin-top: 10px;
    margin-left: -6px;
    width: 211px;
}

dl.portlet.portletRelatedItems
{
    background-color: #fbf198;
    moz-border-radius: 3px;
    webkit-border-radius:3px;
    border-radius:3px;
    margin-top: 10px;
}

dl.portlet.portletRelatedItems dd.portletItem .relatedTitle
{
    float: right;
    width: 120px;
}

dl.portlet.portletRelatedItems dd.portletItem
{
}

dl.portlet.portletRelatedItems dd.portletItem.even
{
    background-color: #fcfbd7;
}

dl.portlet.portletRelatedItems dd.portletItem .relatedDate
{
    display: none;
}


dl.portlet.portletRelatedItems dd.portletItem .relatedImage
{
    float: left;
    margin-right: 10px;
}

dl.portlet.portlet-static-meer-informatie dd.portletItem, dl.portlet.portlet-static-meer-informatie dd.portletFooter, dl.portletError.portlet-static-meer-informatie dd
{
    padding-top: 0px !important;
}


table.invisible td, table.invisible th, table.plain td, table.plain th, table.listing td, table.listing th {
    padding: 0.5em 0.5em 0.5em 0;
    vertical-align: top;
}


#viewlet-above-content dl.portlet dd.portletItem, #viewlet-above-content  dl.portlet dd.portletFooter, #viewlet-above-content  dl.portletError dd {
    padding: 0 1em;
}

#viewlet-above-content dl.portlet.portletUserActionsPortlet dd.portletItem
{
    padding: 1em;
}


.portlet-static-partnerpaginas table tr td img
{
    margin-top: -4px;
}

/* ======  Removing instelingen and eigendom  ======== */

#fieldsetlegend-ownership, #fieldsetlegend-settings
{
    display: none !important;
}


/* ======  Removing Voorkeuren and Registreren ======== */

#personaltoolspage-preferences
{
    display: none !important;
}
 
#personaltoolspage-join
{
    display: none !important;
}

/*  ========== Folder View  ===================*/


body.template-folder_view #content, body.template-folder_slideshow_view #tiles, body.template-search #content
{
    background-color: #fbf198;
    padding-bottom: 10px;
}

body.template-folder_view .tileItem, body.template-folder_slideshow_view .tileItem, body.template-search .tileItem
{
    background-color: #fcfbd7;
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
    width: 165px;
    height: 205px;
    float: left;
    overflow: hidden;
    position: relative;
}

body.template-folder_view .tileItem .tileImageBox, body.template-folder_slideshow_view .tileItem .tileImageBox, body.template-search .tileItem .tileImageBox
{
    width: 165px;
    height: 150px;
    background-color: white;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

body.template-folder_view #content img.tileImage, body.template-folder_view #content div.newsImageContainer, body.template-search #content img.tileImage, body.template-search #content div.newsImageContainer
{
    float: none;
    clear: both;
    text-align: center;
    margin: 0;
}

body.template-folder_slideshow_view #content img.tileImage
{
    max-width: 163px;
    float: none;
    clear: both;
    text-align: center;
    margin: 0;
}

body.template-folder_view #content .tileHeadline, body.template-folder_slideshow_view #content .tileHeadline, body.template-search #content .tileHeadline
{
    font-size: 12px;
    font-weight: normal;
    margin-top: 5px;
}

body.template-folder_view #content a:hover, body.template-folder_slideshow_view #content a:hover, body.template-search #content a:hover
{
    border-bottom: medium none;
}

.tileItem .editButton, div.tileItem a.editButton:hover
{
    position: absolute;
    display: block;
    background-color: #c1da91;
    top: 202px;
    right: 62px;
    moz-border-radius: 3px;
    webkit-border-radius:3px;
    border-radius:3px;
    padding: 4px;
    font-size: 9px;
}

.tileItem .deleteButton, div.tileItem a.deleteButton:hover
{
    position: absolute;
    display: block;
    background-color: #efa196;
    top: 202px;
    right: 4px;
    moz-border-radius: 3px;
    webkit-border-radius:3px;
    border-radius:3px;
    padding: 4px;
    font-size: 9px;
}

.hidden
{
    display: none !important;
}

div#content form.searchPage
{
    padding: 20px;
}

div.listingBar {
    font-size: 80%;
    margin: 1em 0;
    padding: 10px;
}

/* ================ Members View ============ */

body.template-members_view .MembersUsername
{
    margin-left: 10px;
}

body.template-members_view .MembersUsername.state-private a
{
    color: #ff4040 !important;
}

body.template-members_view .tileItem
{
    display: block;
    float: none;
    background-color: #fbf198;
    margin: 10px 0;
}

body.template-members_view .tileItem .tileItem
{
    background-color: #fcfbd7;
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
    width: 165px;
    height: 205px;
    float: left;
    overflow: hidden;
    position: relative;
}

body.template-members_view .tileItem .tileItem .tileImageBox
{
    width: 165px;
    height: 150px;
    background-color: white;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

body.template-members_view #content .tileHeadline
{
    font-size: 12px;
    font-weight: normal;
    margin-top: 5px;
}

body.template-members_view #content img.tileImage, body.template-member_view #content div.newsImageContainer
{
    float: none;
    clear: both;
    text-align: center;
    margin: 0;
}

/*  =========== Revision Stamp  ==========*/

.revisionStamp
{
    
    font-size: 0px;
    color: transparent;
    text-indent: 9999px;
    overflow:hidden;
    background-image: url("++resource++plonetheme.porseleinplaats.images/stamp.png");
    width:189px;
    height: 150px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.exhibitionStamp
{
    display: block;
    font-size: 0px;
    color: transparent;
    text-indent: 9999px;
    overflow:hidden;
    background-image: url("++resource++plonetheme.porseleinplaats.images/exhibitionStamp.png");
    width:100px;
    height: 100px;
    position: absolute;
    top: 17px;
    right: 10px;
}

.slideshowAndStampContainer
{
    position: relative;
}

/* ======== Slideshow Back Hack =============*/


.slideshowBack {
    margin-top: -32px;
    position: absolute;
    right: 44px;
    text-align: right;
    z-index: 99999;
}

.fullscreen .slideshowBack
{
    display:none;
}

.slideshowBack a
{
    color: #354298 !important;
    cursor: pointer;
}

.slideshowBack a:hover
{
    color: #354298 !important;
    border: none !important;
}


/* ====  edit form ==== */

#content .MembersEditForm ul.formTabs
{
    display: none;
}

#content .MembersEditForm .suppressVisualEditor
{
    margin-top: 0 !important;
}


#content .MembersEditForm input[type=file]
{
    display: block;
    margin-bottom: 10px;
}

/* =====  Login Form ====== */

#login-form
{
    background-color: #f1f3f8;
    moz-border-radius: 5px;
    webkit-border-radius:5px;
    border-radius:5px;
    padding: 10px;
    width:301px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

#fieldset-openid-login label, #login-form label
{
    text-align: left;
    margin: 0;
    padding: 0;
    display: block;
}

#login-form .formControls
{
    margin: 0px 0px 10px 0px;
    padding: 0;
}

#login-form .formControls input
{
    margin: 0px;
}

#login-new-user
{
    background-color: #f1f3f8;
    moz-border-radius: 5px;
    webkit-border-radius:5px;
    border-radius:5px;
    padding: 10px;
    width:301px;
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
}

.boxTitle
{
    display: block;
    text-align: left;
    margin-bottom: 20px;
    font-size: 15px;
}

div.mediaShowDescription
{
    display: none !important;
}

.embededMediaShow.javascripted .mediaShowSlide
{
    height: 93%;
}

#content .listingBar a:link{
     border-bottom: 0.1em solid #CCCCCC; 
}

.tileBody .description
{
    display: none !important;
}

@media handheld, screen and (max-device-width: 480px)
{
    .LSBox input#nolivesearchGadget
    {
        width:150px;
    }
    
    /* 270 px of space on the right only on iphone ??????? */
}

.discusion
{
    background-color: #f1f3f8;
    moz-border-radius: 5px;
    webkit-border-radius:5px;
    border-radius:5px;
    padding: 0 10px 10px 10px;
    font-size: 80%;
}

li a.dsq-widget-user, #content #homePortlets li a.dsq-widget-user:hover, li a.dsq-widget-user:active, li a.dsq-widget-user:link, li a.dsq-widget-user:visited
{
    color: #999 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}

#homePortlets dl.portlet p.dsq-widget-meta
{
    font-size: 100% !important;
    margin-bottom: 20px;
}

#content ul.dsq-widget-list
{
    margin-left: 0px;
}

#thread-votes
{
    display: none;
}