/* ===== Fixes for IE =====*/

#searchGadget, #nolivesearchGadget
{
    padding: 7px 0 0 5px;
    height: 23px;
}

#FooterPortletManager input#form-widgets-email
{
    *margin-top:-1px;
}

#portal-globalnav li a {
    padding-right:66px;
    overflow:hidden;
}

#portal-globalnav li.last-item a
{
   padding-right: 0;
   text-align: right;
}

#FooterPortletManager .portlet
{
    width: auto;
    max-width: 210px;
    margin:0 30px
}

input.searchPage[type="submit"] {
    color:transparent;
    font-size:0px !important;
    display:block;
    text-indent:-999px;
    overflow:hidden;
    line-height:0;
}

.LSBox input.searchButton, .searchPage .searchButton, #default-channel-html-buttons-subscribe, #FooterPortletManager #form-buttons-preceed {
    color:transparent;
    font-size:0px !important;
    display:block;
    text-indent:-999px;
    overflow:hidden;
    line-height:0;
}

searchButton
{
    color:transparent;
    font-size:0px !important;
    display:block;
    text-indent:-999px;
    overflow:hidden;
}

#FooterPortletManager {
    float: left;
    width: 820px;
    overflow:visible;
}