/* Stylesheet for the 'Gov Theme' Plone theme */

/*======= General ======*/

body
{
    background-image:url(++resource++plonetheme.gov.images/backgroundTextureGray.jpg);
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    color:#333;
}

#head-wrapper {
    background-image:url(++resource++plonetheme.gov.images/backgroundTexture.jpg);
    height: 170px;
    border-bottom: solid 6px white;
}

#INTKFooter-wrapper {
    background-image:url(++resource++plonetheme.gov.images/backgroundTexture.jpg);
    border-top: solid 6px white;
}

#head-width
{
    margin:0px auto;
    width:960px;
}

#portal-columns
{
    width:960px;
    min-height:400px;
}

#edit-bar, #content ul.formTabs
{
    max-width: 955px;
}

/* ======== Complicated stuff ======== */

div.width-1\3a 4 {
    width: 30.75%;
}

div.position-3\3a 4 {
    margin-left: -31.2%;
}

div.width-3\3a 4 {
    width: 66%;
}

div.width-1\3a 2 {
    width: 39.75%;
}

div.width-full.position-0#portal-column-content
{
    width: 104%;
    margin-left: -100%;
}

div.width-full.position-0 #INTKFooter-wrapper
{
    width:104%;
}

div.width-full.position-0 .pageWrapper
{
    width: 920px;
}

/* ========= Making 4 columns when there is no portlets  =========*/

div.width-full .columnBreak{
    display:none;
}

div.width-full .tileItem.tileOdd
{
    margin-right:30px;
    margin-left:0;
}

div.width-full .tileItem.tileEven
{
    margin-right:30px;
    margin-left:0;
}

/*====== typography =======*/

#content {
    font-size: 15px;
    line-height: 20px;
}

a, #content a, #content a:active, #content a:link, #content a:visited
{
    color: #5ea8ce;
    font-weight: bold;
    border:none;
    border-bottom:none;
    text-decoration:none;
}

a:hover
{
    color: #5ea8ce;
    font-weight: bold;
    border:none;
    text-decoration:none;
}

#content a:hover
{
    color: #5ea8ce !important;
}

#content a.summary, #content a.summary:hover, #content .tileHeadline a, #content .tileHeadline a:hover
{
    font-size:18px;
    font-weight:normal;
    color:#333 !important;
    line-height: normal;
}

#content a:link, dl.portlet a:link {
    border-bottom: none;
}

#content li, dl.portlet li
{
    line-height:20px;
}

.template-document_view #content ul
{
    margin-top: -1em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial,Helvetica,FreeSans,sans-serif;
    letter-spacing: normal;
    color:#333;
}

.documentFirstHeading
{
    font-size:30px;
    font-family: Arial,Helvetica,FreeSans,sans-serif;
    font-weight:normal;
    color:#333;
}

.documentFirstHeading
{
    font-size:30px;
    font-family: Arial,Helvetica,FreeSans,sans-serif;
    font-weight:normal;
    color:#333;
}



/*======= tiles =======*/

.tileItem
{
    background-color:white;
    width:260px;
    height:260px;
    float: left;
    margin: 15px;
    padding: 20px;
    font-size:13px;
}

.tileItem.tileEven
{
    margin-left:0;
}

.tileItem.tileOdd
{
    margin-right:0;
}

.newsImageContainer img
{
    border:1px solid #ccc;
}

.tileImage
{
    border: 1px solid #ccc !important;
}

#content img.tileImage, #content div.newsImageContainer {
    float: right;
    margin: 0 0 0 6px;
}

body #content div.newsImageContainer {
    margin: 10px 0 10px 10px;
}

#content .documentDescription, #content #description {
    color: #333;
    font: normal 15px Arial, Helvetica, FreeSans,sans-serif;
    margin-left: 0;
    line-height:20px;
}


/*=======  Document view =======*/
.pageWrapper
{
    background-color: #fff;
    padding:20px;
    margin-top: 12px;
}

#content div.newsImageContainer p.discreet {
    background-color: transparent;
    color: #999;
    font-weight: normal;
    margin: 0;
    padding: 0;
    position: static;
    top: 0;
    width: auto;
}


#content h1.documentFirstHeading {
    margin-bottom: 15px;
}

.news-date
{
    color:#999;
    margin-bottom: 5px;
}

.pageWrapper .news-date
{
    color:#999;
    margin-bottom: 20px;
}

#content .pullquote {
    background-color:#f6f6f6; 
    clear: none;
    color: #333;
    float: none;
    font-size: 15px;
    font-style:italic;
    font-weight: normal;
    letter-spacing: normal !important;
    line-height: 20px;
    margin: 20px;
    padding:20px;
    width: auto;
}

/*===== Header elements =====*/

#portal-searchbox {
    margin-top: 87px;
}

#portal-logo {
    margin: 29px 0;
}

/*===== search box =====*/

#portal-searchbox
{
    z-index:1001;
}

.LSBox .searchSection {
    display: none;
}

#portal-searchbox {
    margin: 87px 0 0;
    position: relative;
}

#LSResult {
    background: none repeat scroll 0 0 White;
    margin: 0;
    position: absolute;
    right: 0;
}

#livesearchLegend {
    background-color: white;
    border: 1px solid #CCCCCC;
    padding: 0.3em;
}

input.searchField {
    -moz-appearance: none;
}

#searchGadget, .LSBox input.searchButton, #FooterPortletManager #default-channel-html-widgets-composer-email, #FooterPortletManager #form-widgets-email
{
    border: 1px solid darkGray;
}

#searchGadget, #nolivesearchGadget, input.searchPage[type=text], #FooterPortletManager #default-channel-html-widgets-composer-email, #FooterPortletManager #form-widgets-email
{
    border: 1px solid #cccccc;
    border-right: none;
    height: 30px;
    padding: 0 0 0 5px;
    width: 164px;
    position: absolute;
    right: 30px;
    top: 0;
    color:#333;
    font-size:13px;
}

input.easynewsletter_text
{
    -moz-appearance: none;
    border: 1px solid #cccccc;
    height: 30px;
    padding: 0 0 0 5px;
    font-size:13px;
    color:#333;
    margin-top:10px;
}

input.easynewsletter_button {
    background-image: url("mailButton.png");
    background-position: 4px 2px;
    background-repeat: no-repeat;
    background-color:#F0F0F0;
    border: 1px solid #CCCCCC;
    cursor: pointer;
    float: right;
    height: 31px;
    margin: 10px auto;
    padding: 8px 2px 8px 30px;
    text-align: center;
    width: auto;
}

input.easynewsletter_button:hover
{
    background-color:#ccc;
    background-image: url("mailButtonHover.png");
}

.field #searchGadget
{
    position:static;
    
}

input.searchPage[type=text]
{
     left: 180px;
     right:auto;
     width:423px;
}

input.searchPage[type=submit]
{
    left: 614px;
    position: absolute;
}

form.searchPage {
     margin: 20px 0 10px 52px;
    position: relative;
}

.LSBox input.searchButton, .searchPage .searchButton, #default-channel-html-buttons-subscribe, #FooterPortletManager #form-buttons-preceed {
    background-color: #fff;
    color: transparent;
    background-image: url("++resource++plonetheme.gov.images/searchbutton.jpg");
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #cccccc;
    border-left: none;
    font-size: 0;
    font-weight: normal;
    height: 32px;
    width: 32px;
    margin: 0 0 0 -5px;
    padding:0;
    cursor:pointer;
}

body.template-search #content #content-core
{
    padding-top:21px;
}

form.searchPage p.discreet
{
    display:none;
}

/* ======== Portlets ========*/

#portal-column-two .portlet
{
    background-color:white;
    padding:5px 20px 20px 20px;
    margin-top: 15px;
}

#portal-column-two .portlet .portletHeader, .cn-category-title
{
    background-color:transparent;
    margin:0 0 15px 0;
    padding:0;
    font-size:24px;
    font-weight:normal;
    line-height:27px;
}

#portal-column-two #category-selector.portlet .portletHeader
{
    display:none;
}

#portal-column-two .portlet.managedPortlet .portletHeader
{
    font-size:13px;
}

.cn-category-title
{
    margin:15px 0 15px 0;
}

.cn-description
{
    margin:0 0 15px 0;   
}

.nc-category a
{
    color:#999 !important;
    font-weight:normal;
    border: none !important;
}


#portal-column-two .portlet a
{
    color:#333 !important;
    border:none !important;
}

#portal-column-two .portlet .nc-category a
{
    color:#999 !important;
}


#portal-column-two .portlet .nc-category.nc-category_selected a
{
    color:#333 !important;
    font-weight:bold !important;
}

#portal-column-two .portlet .portletItem
{
    border-bottom:2px solid #eee;
    margin:15px 0;
    padding: 10px 0 30px;
}

div#portal-column-two .portlet dt.portletHeader
{
    margin-top:15px;
}

#portal-column-two .portlet .nc-category a:hover
{
    color:#999 !important;
    font-weight:normal;
}

.nc-category_selected.nc-category a
{
    color:#000 !important;
}

ul.subcategory .cn-category-title
{
    font-size:12px;
    color:#999;
    margin:0;
    cursor:pointer;
}

.collapse_0 ul.subcategory .cn-category-title
{
    font-size:12px;
    color:#999;
    margin:0;
    cursor:default;
    display:block;
}

.collapse_2 ul.subcategory ul
{
    display:none;
}

ul.subcategory li ul
{
    margin-left: 20px;
}

ul.subcategory li
{
    margin:0;
}

/* ==========Related Items =========*/

.relatedTitle, #portal-column-two .portlet a.tile
{
    font-size:15px;
    font-weight:normal;
    border: none !important;
}

.relatedImage
{
    float:left;
    margin-right:15px;
    border:1px solid #ccc !important;
    max-width: 64px;
    max-height: 64px;
    width: auto;
    height: auto;
}

.relatedDiscription
{
    display:none;
}

/* ==========  paging =========== */

#content div.listingBar
{
    margin:0px 0px 20px 0px;
    width: 100%;
}

.template-search #content div.listingBar
{
    margin: 15px 0 0 8px;
    width: 102.6%;
}

#content div.listingBar span.next {
    background-color:#FFFFFF;
    padding:0;
}

#content div.listingBar span.previous{
    background-color:#FFFFFF;
    padding:0;
    float:left;
    margin-right:3px;
}

#content div.listingBar span:hover 
{
 
    text-decoration:none;
}

#content div.listingBar span a
{
    color:#999;
    background-color:#FFFFFF;
    border:none;
    padding:5px 9px;
    font-weight:normal;
}

#content div.listingBar span a:hover
{
    color:#ffffff !important;
    background-color:#5aa4ca;
    text-decoration:none;
}

#content div.listingBar a
{
    color:#999;
    background-color:#ffffff;
    border:none;
    padding:5px 9px;
    font-weight:normal;
}

.relatedDate.pastDate
{
    text-decoration:line-through;
}

#content div.listingBar a:hover
{
    color:#ffffff !important;
    background-color:#5aa4ca;
    border-color:transparent;
    text-decoration:none;
}

#content div.listingBar span.current
{
    background-color:#5aa4ca;
    border:none;
    color:#FFFFFF;
    display:inline-block;
    margin-top:-1px;
    padding:5px 9px;
}

#content div.listingBar span {
    padding:3px 5px;
}

/* ==========  AddThis ============ */

#content .tileItem
{
    position:relative;
}

.addthisButton
{
    background-image:url(++resource++plonetheme.gov.images/share.png);
    width:25px;
    height:25px;
    padding:0 !important;
    overflow:hidden;
}

.addthisButton span
{
    display:none;
}

.addthis_button_linkedin
{
    background-position: top left;
}

.addthis_button_linkedin:hover
{
    background-position: top right;
}

.addthis_button_email
{
    background-position: 0px 75px;
}

.addthis_button_email:hover
{
    background-position: 25px 75px;
}

.addthis_button_facebook
{
    background-position: 0px 50px;
}

.addthis_button_facebook:hover
{
    background-position: 25px 50px;
}

.addthis_button_twitter
{
    background-position: 0px 25px;
}

.addthis_button_twitter:hover
{
    background-position: 25px 25px;
}

.addthis_toolbox
{
    position:absolute;
    bottom:20px;
    right:20px;
}

#content table.invisible td
{
    padding:0px 20px 50px 0px !important;
}

/*Global Social Links*/

#global_social_links
{
    margin:-20px auto;
    width:960px;
    position:relative;
}

#global_social_links a
{
    position:absolute;
    left:0;
    top:-78px;
}

#global_social_links a.rssfeed
{
    left: 42px;
}

#global_social_links a.twitter
{
    left: 84px;
    display:none;
}

#content .tileHeadline a.state-private, #content .tileHeadline a.state-private:hover
{
    color:#ff0000 !important;
}



