/* =======  footer CSS on Gov Theme =======*/

#FooterPortletManager .portlet .portletHeader
{
    padding:0;
    background-color:transparent;
    color: white;
    font-size:24px;
    font-weight:normal;
}

#FooterPortletManager  .portlet-dancing .field label, #FooterPortletManager  .portlet-dancing .field span
{
    display: none;
}

#FooterPortletManager  .portlet-dancing
{
    position:relative;
}

#FooterPortletManager #default-channel-html-widgets-composer-email, #FooterPortletManager #form-widgets-email
{
    position:static;
}


#FooterPortletManager .portlet-dancing .action
{
    display:inline;
    margin:0;
    padding:0;
    margin-top: 20px;
    left: 173px;
    position:absolute;
}

#FooterPortletManager .portlet-dancing .form .row, #FooterPortletManager .portlet-dancing form .row
{
    margin-top:20px;
}

#FooterPortletManager .portlet
{
    line-height:20px;
}

#FooterPortletManager .portlet:last-child
{
    width:73px;
}

#FooterPortletManager .portlet .portletItem
{
    color: white;
    padding:0;
    margin:10px 0;
}

#FooterPortletManager .portlet .portletItem h1, #FooterPortletManager .portlet .portletItem h2, #FooterPortletManager .portlet .portletItem h3
{
    color:white;
}

#FooterPortletManager .portlet .portletItem h2
{
    font-size:24px;
    font-weight:normal;
}

#portal-personaltools a {
    color: white;
}

#INTKFooter ul li a, #INTKFooter ul li a:hover {
    color: white;
    font-size: 13px;
    text-decoration: none;
    font-weight:normal;
}

dt#anon-personalbar
{
    display:none;
}

a#user-name
{
    font-size:24px;
    font-weight:normal;
}

#INTKFooter ul
{
    margin:0;
    padding:0;
}

#INTKFooter ul li
{
    color:white;
    margin:0;
    padding:0;
}
 
#INTKFooter ul li a
{
    color:white;
    text-decoration:none;
    border:none;
}

#INTKFooter ul li a:hover
{
    color:white !important;
    text-decoration:underline;
}

#portal-personaltools-wrapper
{
    margin-top: 4px;
    width: 140px;
}