body, html {
    margin: 0; /* TODO: is it required? */
    padding: 0;
    background: #110F13;
}

#zen-container {
    color: #fff;
}

#zen-mode form {
    margin: 0;
}

#zen-mode textarea {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: transparent;
    color: #fff;
    font-size: 1.2em;
    line-height: 1.5em;
    border: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    resize: none;
    font-family: monospace;
}

#zen-preview {
    color: #ECE5CE;
    background: #1e1e1e;
    box-shadow: 0 0 10px #0e0e0e;
}

#zen-preview h1.title {
    font-size: 32px;
    line-height: 40px;
}

#zen-preview .button-group {
    background-color: #1a1a1a;
}

#zen-preview .button-group .zen-button {
    padding: 0 10px;
    color: #999;
    font-weight: bold;
    line-height: 30px;
    text-decoration: none;
}

#zen-preview .button-group .zen-button:hover {
    color: #ddd;
}

#zen-preview .button-group .zen-button:active {
    color: #fff;
}

#zen-preview-content {
    padding: 0 15px;
    overflow: auto;
    font-size: 16px;
}

.alert {
    position: fixed;
    top: 0;
    padding: 5px 10px;
    background-color: red;
    color: #fff;
    text-shadow: 0 0 1px #999;
}