span.state{
    font-size : 56%;
}

/******************************************************************************/
/* tickets's icons (priority and type)                                        */
/******************************************************************************/

/* Symbola is the only font capable on rendering all unicode char by the time
 * this css is writen */
@font-face {
    font-family: "symbola";
    src: url(/data/Symbola.ttf) format("truetype");
}

td.label {
    padding-right: 10px;
}

.minor:before {
    background-color: green;
}
.normal:before {
    background-color: blue;
}
.important:before {
    background-color: red;
}

/* 1F4A3 is Unicode Character 'BOMB' */
.ticket_bug:before
{
    content:"\1F4A3";
    font-size: 75%;
    font-weight: bolder;
    padding: 2px;
    border-radius: 100%;
    color: white;
} 

/* 1F4A1 is Unicode Character 'ELECTRIC LIGHT BULB' */
.ticket_enhancement:before
{
    content:"\1F4A1";
    font-size: 75%;
    font-weight: bolder;
    padding: 2px;
    border-radius: 100%;
    color: white;
} 

/* 1F528 is Unicode Character 'HAMMER' */
.ticket_task:before
{
    content:"\1F528";
    font-size: 75%;
    font-weight: bolder;
    padding: 2px;
    border-radius: 100%;
    color: white;
}
