[buildout]
extensions=mr.developer
versions=versions
package-name = minitage.core
package-extras=
eggs =
    ${buildout:package-name} ${buildout:package-extras}
    zest.releaser
parts = script
develop=.
sources-dir=${buildout:directory}/src.others
[script]
recipe=minitage.recipe.scripts
eggs=${buildout:eggs}
interpreter=scripts
env-file=${buildout:directory}/test.env
[versions]
