[buildout]
extensions =
    buildout.bootstrap
    buildout.dumppickedversions

develop = .

parts =
    test
    htpasswd-md5
    htpasswd-crypt
    htpasswd-sha1

versions = versions

[test]
recipe = zc.recipe.testrunner
eggs = collective.recipe.htpasswd [tests]

[htpasswd-md5]
recipe = collective.recipe.htpasswd [md5]
output = ${buildout:directory}/etc/htdocs/htpasswd-md5
algorithm = md5
credentials =
    nueces:secret
    nutz:crackme

[htpasswd-crypt]
recipe = collective.recipe.htpasswd
output = ${buildout:directory}/etc/htdocs/htpasswd-crypt
credentials =
    nueces:secret
    nutz:crackme

[htpasswd-sha1]
recipe = collective.recipe.htpasswd
output = ${buildout:directory}/etc/htdocs/htpasswd-sha1
algorithm = sha1
credentials =
    nueces:secret
    nutz:crackme
    myName:myPassword

[versions]
distribute = 0.6.34
python-aprmd5 >= 0.2.1
z3c.recipe.scripts = 1.0.1
zc.buildout = 1.7.0
zc.recipe.egg = 1.3.2
zc.recipe.testrunner = 1.4.0
zope.exceptions = 4.0.5
zope.interface = 4.0.3
zope.testing = 4.1.1
zope.testrunner = 4.0.4
