/* colors */

html, body {
    background-color: #f19512;
    /*background: #0c1419 url(../images/css.jpg) no-repeat;
    background-position: center -170px;*/
    color: #f15812;
    /*color: #fce1ba;*/
    height:100%;
}

body.crawler-background a {
    color: #da1047;
}

body.crawler-background a:hover {
    color: #bc0b3b;
}

div.url-field, a:hover span.tooltip {
    background-color: #fce1ba;
    color: #cf7e0d;
    border-color: #fcc270;
}

div.result {
    background-color: #ffffff;
    filter:alpha(opacity=90);
    opacity:0.9;
    color: #000000;
    /*border-color: #cf490d;*/
    border-color: #FCC270;
}

.color-cell.background-color,
.color-cell.color
{
    border-color: #000000;
}

ul.selectors li.selector.even {
    background-color: #000000;
    color: #ffffff;
}

div.url-field input.search-field {
    background-color: #fce1ba;
    color: #cf7e0d;
    border-color: #fcc270;
}

div.url-field input.submit {
    background-color: #da1047;
    color: #fce1ba;
}

div.url-field div.app-name span.dark{
    color: #da1047;
}

div.footer {
   /*background-color: #cf490d;
   color: #FCE1BA;*/
}

div.footer span a {
   color: #fcc270;
}

div.footer span a:hover {
   color: #d98e24;
}

div.result h1, div.result h2 {
    color: #bc0b3b;
}

div.error-message  {
    background-color: #f8b7c8;
    color: #da1047;
    border-color: #f86e93;
}

/* Layout */
body.crawler-background {
}

div.url-field {
    width:550px;
    height: 90px;
    line-height: 40px;
    padding: 10px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    margin: auto;
    margin-bottom: 10px;
    border-width: 2px;
    border-style: solid;
    position: relative;
}

div.url-field input.search-field {
    width: 460px;
    height: 30px;
    font-size: 16px;
    border-style: solid;
    margin-left: 2px;
}

div.url-field input.submit {
    display: inline-block;
    height: 34px;
    width: 30px;
    margin-left: 5px;
    border: none;
}

div.url-field div.app-name {
    font-size: 30px;
    text-align: center;
}

div.url-field div.app-name span.dark{
    margin-right: 20px;
}

div.form, div.result {
    margin: auto;
    width: 900px;
    padding: 5px;

}

div.result {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border-width: 2px;
    border-style: solid;
}

div.result h1, div.result h2 {
    padding-left: 20px;
}

div.result h1, div.result h1 a {
    font-size: 25px;
}

div.result h1 a.delete, div.result h1 a.refresh {
    background-repeat: no-repeat;
    display: inline-block;
    height: 20px;
    width: 20px;
}

div.result h1 a.delete span, div.result h1 a.refresh span {
    display: none;
}

div.result h1 a.delete {
    background-image: url(../images/trash.png);
}

div.result h1 a.refresh {
    background-image: url(../images/browser-globe-download.png);
}

div.result h2 {
    font-size: 20px;
}

div.result a{
    font-size: 13px;
    text-decoration: none;
    padding-right: 5px;
    line-height: 13px;
}

div.result a.toggle{
    padding-right: 5px;
}

.palette
{
    width:1000px;
}

.palette-item
{
    float:left;
    margin:5px;
}

.color-cell
{
    height:90px;
    width:90px;
    line-height:78px;
    text-align:center;
}

.color-cell.border-color {
    border-width: 5px;
    border-style: solid;
    width: 80px;
    height: 80px;
}

.color-cell.background-color,
.color-cell.color
{
    border-width: 1px;
    border-style: solid;
    width:88px;
    height: 88px;
}

.color-legend
{
    line-height:15px;
    font-size:11px;
    width:90px;
}

br
{
    clear:both;
}

ul.selectors, ul.url-list
{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

ul.selectors li.selector
{
    font-size: 10px;
    width: 85px;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    overflow:auto;
    padding-bottom: 5px;
}

ul.selectors li.selector.even {
}


ul.hidden {
    display: none;
}

div.result.expand ul.hidden {
    display:block;
}

ul.url-list {
    margin: auto;
    width: 900px;
}

ul.url-list li {
    display: inline;
    padding-left: 5px;
}

ul.url-list li a {
    text-decoration: none;
    position: relative;
    color: #fce1ba;
}

ul.url-list li a:hover {
    color: #CF7E0D;
}

a span.tooltip {
    display: none;
}

a:hover span.tooltip {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 200px;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    padding: 5px;
    margin: 10px;
    z-index: 100;
    font-size: 16px;
    text-align: center;
    border-width: 1px;
    border-style: dashed;
    text-align: left;
}

div.main-content {
    height: auto !important;
    margin: 0 auto -31px;
    min-height: 100%;
}

div.footer {
    /*bottom:0;*/
    height:30px;
    line-height: 30px;
    /*position:absolute;*/
    position: relative;
    width:900px;
    margin: auto;
    /*text-align: center;*/
    text-align: right;
    /*border-top: 1px solid;*/
}

div.footer span {
    padding: 0 10px;
}

div.footer span a span {
    padding: 0;
    display: none;
}

div.footer span a.logo, div.footer span a.powered_by {
    background-repeat: no-repeat;
    display: inline-block;
    height: 15px;
    margin-bottom: -3px;
    margin-left: 3px;
}

div.footer span a.logo {
    background-image: url(../images/logo_nng.png);
    width: 40px;
}

div.footer span a.powered_by {
    background-image: url(../images/logo_nagare.png);
    width: 70px;
}

div.sep {
    height:33px;
}

a.back-link {
    text-decoration: none;
    display: block;
    width: 900px;
    margin: auto;
    height: 20px;
    line-height: 20px;
    background-image: url(../images/arrow-left.png);
    background-repeat: no-repeat;
}

a.back-link span {
    display: none;
}

ul.url-list a.tag1 {
    font-size: 0.9em;
    font-weight: 100;
}

ul.url-list a.tag2 {
    font-size: 1.0em;
    font-weight: 200;
}

ul.url-list a.tag3 {
    font-size: 1.1em;
    font-weight: 300;
}

ul.url-list a.tag4 {
    font-size: 1.2em;
    font-weight: 400;
}

ul.url-list a.tag5 {
    font-size: 1.4em;
    font-weight: 500;
}

ul.url-list a.tag6 {
    font-size: 1.6em;
    font-weight: 600;
}

ul.url-list a.tag7 {
    font-size: 1.8em;
    font-weight: 700;
}

ul.url-list a.tag8 {
    font-size: 2.0em;
    font-weight: 800;
}

ul.url-list a.tag9 {
    font-size: 2.3em;
    font-weight: 900;
}

ul.url-list a.tag10 {
    font-size: 2.5em;
    font-weight: 900;
}

ul.url-list a span.tooltip {
    font-size: 13px;
    font-weight: normal;
}



div.error-message {
    border-style:dashed;
    border-width:1px;
    height:15px;
    left:38px;
    line-height:15px;
    padding:2px;
    padding-left: 5px;
    position:absolute;
    top:88px;
    width:470px;
}
