@import "utils";

/*** GLOBALNAV **************************************************************************************/

a#portal-logo {
   margin: 10px;
   padding:0;
   float:left;
}
#portal-header .hiddenStructure {
    clear: none;
    display:none;
}

ul#portal-globalnav {
    background: none;
    clear: none;
    font-size:80%;
    text-align:center;
    line-height: 32px;
    padding: 20px 0; /* (52 (height logo) + 2x10 (margin) - 32) / 2 */ 
    margin-right: 120px; /* width logo */
    
    .anonymous {
        float: right;
        margin-right: 20px;
    }
    
    li a, li a:hover, li a:active,
    li.selected a, li.selected a:hover, li.selected a:active {
        text-transform: uppercase;
        text-decoration:none;
        font-weight:bold;
        margin:0px;
        padding:0 10px;
        min-width:0;
    
        color: @darkColor !important;
        .gradient(@lightGreyColor, @mediumGreyColor);
        
        border-color: @lightGreyColor;
        border-style: solid;
        border-width: 0 1px 0 0;
    	text-shadow:none;
        .opacity(66);
    }
    li:first-child a, li:first-child a:hover {    
        padding-left: 14px; /* 10 + 4 */
        //border-left-width: 1px;
        .radius-top-left(21px); /* line-height / 2 */
        .radius-bottom-left(21px); /* line-height / 2 */
    }
    li:last-child a, li:last-child a:hover {
        padding-right: 14px; /* 10 + 4 */
        //border-right-width: 1px;
        .radius-top-right(21px); /* line-height / 2 */
        .radius-bottom-right(21px); /* line-height / 2 */
    }
}

ul#portal-globalnav, #portal-languageselector {
    li a:hover, li.selected a, li.selected a:hover,
    li.currentLanguage a {
       /* background-color:@selectedColor;
        border-color: @white33;
        .gradient(@black50, @black25);*/
        .opacity(100);
    }
}


/*** LANGUAGE SELECTOR *******************************************************************/

#portal-languageselector {
    top:0;
    right: 5px;
    margin:0;
    padding:0;
    background-color: transparent;
    
    padding: 25px 0;
    
    li {
        float: left;
        display: block;
        a {
            padding: 0.25em;
            margin-right: 1px;
            display: block;
            border: 1px solid transparent;
            .radius(3px);
            
            img {
                width: auto;
                height: auto;
                border: 0 !important;
            }
        }
    }
    li.currentLanguage a, li a:hover {
        .box-shadow(0, 0, 2px, @black75);
    }
}

/*** BREADCRUMB **************************************************************************/

#portal-breadcrumbs {    
    background-color: @lightColor;
    color: @darkColor ! important;
    height:3em;
    overflow: hidden;
    font-size: 110%;
    font-weight: bold;
    margin: -10px -20px 1em -20px;
    text-shadow:0 1px 1px @white100, 0 1px 1px @white100;
    .box-shadow(0, 0, 5px, @black25);

    span {
        float:left;
        line-height:3em;
        padding-left:.75em;
    
        span {
            padding-left:0;
        }
        a {
            background:url("@{theme}/crumbs.png") no-repeat right center;
            display:block;
            padding:0 15px 0 0;
            
            &:link, &:visited {
                text-decoration:none;
                color:@category2Color ! important;
            }
        }							

    }
}

body.section-front-page #portal-breadcrumbs,
.breadcrumbSeparator {
    display:none;
}


/*** BOOKMARK *************************************************************************/

@bookmarkSize : 32px;

span.bookmark {
	background-color: @mainColor;
    position: absolute;
    top:-2px;
    right: 10px;
    z-index: 50;
    border-top: 1px @white33;
    .gradient(@white25, @white0);
    
    &.small {
        top: -7px;
        right: 5px;
        border: 0;
        background-image: none;
    }
}
span.bookmark, span.bookmark_icon {
    display: block;
    width: @bookmarkSize;
    height: 3em;
    min-height: @bookmarkSize;
    
    &.small {
        width: @bookmarkSize/2 - 1;
        height: @bookmarkSize/4;
        min-height: 0;
    }
}
span.bookmark_icon {
    position: relative;
    background-position: center 0.66em;
    background-repeat: no-repeat;
    border-top: 1px dotted @white25;
    margin-top: 1px;
    
    &.small {
        background-image: none !important;
        border: 0;
        margin: 0;
    }
}
span.bookmark_mask {
    border-color: @mainColor;
    margin-bottom: 2-@bookmarkSize;
    border-width: @bookmarkSize/2;
    border-style: solid;
    border-bottom-color: transparent !important;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 0;
    
    &.small {
        margin-bottom: -@bookmarkSize/2;
        border-width: (@bookmarkSize/2)/2;
        border-right-width: (@bookmarkSize/2)/2 - 1;
    }
}

#content.connexion span.bookmark {
    display: none;
}


/*** DIVERS **************************************************************************************/

dl.portalMessage {
  display:none !important;
}
