@import "utils";

/*** POPOVER *************************************************************************/

@popoverTriangle: 10px;
@popColor: lighten(@darkColor, 20%);

body .popover {
    border: 1px solid @darkColor;
    padding:5px;
    background-color: @popColor;
    .box-shadow2(0, 0, 10px, @black50, ~'', 0, 1px, 0, @white25, inset);
    .transition-none();
    .radius(4px);
    
    .triangle {
        border-width: @popoverTriangle !important;
        &.top {
            bottom: -(@popoverTriangle * 2);
            border-top-color: @popColor;
        }
        &.bottom {
            top: -(@popoverTriangle * 2);
            border-bottom-color: @popColor;
        }
        &.left {
            right: -(@popoverTriangle * 2);
            border-left-color: @popColor;
        }
        &.right {
            left: -(@popoverTriangle * 2);
            border-right-color: @popColor;
        }
    }
    
    .header {
        background-color: transparent;
        background-image: none;
        padding: 0;
        height: auto;
    }
    
    .content {
        min-width: 5em;
        padding:8px;
        color: @darkGreyColor;
        background-color: @lightColor;
        border: 1px solid @darkColor;
        .radius(2px);
        .box-shadow(0, 1px, 0, @white25);
        /*-moz-transition-property: width, height;
        -webkit-transition-property: width, height;
        -o-transition-property: width, height;
        transition-property: width, height;*/
        
        
        * {
            text-shadow:0 0 transparent;
        }
        p {
            margin: 0 !important;
            padding: 0 !important;
        }
        ul {
            margin-left: 1em !important;
            li {
                margin: 0 !important;
                ul {
                    list-style-type: circle !important;
                    
                    ul {
                        list-style-type: square !important;
                    }
                }
            }
        }
        .indicateur {
            font-size: 90%;
            font-weight: normal;
        }
        .formControls {
            margin: 0 !important;
            margin-top: 0.5em !important;
        }
        hr {
            margin: 0.5em 0;
            border: 0;
            border-top: 1px solid @black100;
            border-top-color: @black25;
        }
        label {
            font-weight: normal;
        }
        textarea {
            width: auto !important;
        }
        fieldset {
            margin: 0;
            margin-bottom: 0.5em;
            border-color: @black100 !important;
            border-color: @black10 !important;
        }
        legend {
            padding-top: 0 !important;
        }
        .formHelp {
            color: @mediumGreyColor;
        }
    }
    
    div.loading {
        background-image: url('@{theme}/ajax-loader2.gif');
    }
}

.savoirplus_contenu {
    display: none;
}
#content a.bouton.savoirplus_lien {
    background-color: @darkGreyColor !important;
    color: @lightColor !important;
    text-shadow: 0 -1px 1px @black100, 0 -1px 1px @black100;
    
    &.popover-on {
        background-color: @darkColor !important;
    }
}

