@import "utils";

/*** LAYOUT **************************************************************************************/
div.arrondi a:link {
  color:@linkColorNormal  ! important;
}

div.width-full {
  width: 100%;
}
div.width-1\3a 3 {
    width: 33.33%;
}
div.position-1\3a 3 {
    margin-left: -66.66%;
}
div.position-2\3a 3 {
    margin-left: -33.33%;
}
div.position-1\3a 3 > .arrondi,
div.position-2\3a 3 > .arrondi {
    margin-left: 0.25em;
}

div.width-3\3a 4 {
	width: 69%;
}
div.position-1\3a 4 {
	margin-left: -69%;
}
div.width-1\3a 4 {
	width: 30%;
}
div.position-3\3a 4 {
	margin-left: -30%;
}

div.position-0 {
  margin-left: -100%;
}

#visual-portal-wrapper {
    min-width: 53em;
}

.documentContent {
    background-color:transparent;
    padding-top:2em !important;
}
.documentActions {
    border:0;
}
#portal-colophon {
    display:none;
}

#portal-personaltools {
    padding:0;
    line-height:2em;
}

#portal-column-content, #region-content {
    border:0 !important;
    padding:0 !important;
}


#portal-footer,
#portal-siteactions {
    background-color:transparent;
    border:0;
    margin:0;
    padding:0;
    text-shadow: 0 0 0 @black100;
    clear:both;
}
#portal-footer {
    p {
        color: @lightColor;
        text-align: center;
        text-shadow:@black0 0px 0px 0px;
        background-color: @black25;
        .radius(0);
        padding: 0.5em 0;
        margin: 0;
        .box-shadow(0, 3px, 3px, @darkColor);
        background-image: url('@{theme}/uvsq-logo.png');
        background-repeat:no-repeat;
        background-position:right center;
        height:30px;
    }
    span.cache {
        display:none;
    }
    a {
        color: @lightColor !important;
        text-decoration:none !important;
    }
    
        a:hover {
        text-decoration:underline !important;
    }
}


div#content, #portal-column-one {
	background-image: none;
	background-repeat: repeat-x;
	background-position: left bottom;
    background-color: @lightGreyColor;
    .box-shadow(0, 0, 0, @darkColor);
}
div#content {
    margin: 0;
    padding: 10px 20px 4em 20px;
}
#portal-column-one {
    color: @darkColor;
}


/*** TROMBINOSCOPE *****************************************************************/

#listingTrombi {

    ul {
        text-align: center;
        
        li {
            background-color: @lightColor;
            color: @darkColor;
            display: inline-block;
            width: 21.5%;
            padding: 1%;
            margin:0.5%;
            margin-bottom: 5px;
        	font-family: "Comic Sans MS";
            .box-shadow(0, 3px, 6px, @black50);
            .rotation(1deg);
            
            &:nth-child(3n) {
                .rotation(-2deg);   
            }
            img {
                width: 100%;
                margin-bottom: 5px;
            }
            span {
                display: block;
                text-align: center;
                font-weight: bold;
                .ellipsis();
            }
            br {
                display: none;
            }
        }
    }
}

/*** CONNEXION *******************************************************/

body.template-firstpage_view.role-anonymous, body.template-login_form.role-anonymous {
    background-image: none;  
    
    div#portal-top {
    .gradient(@black50, @black0, ~'!important');
    }
    a#portal-logo, ul#portal-globalnav {
        display: none;
    }
    ul#portal-languageselector {
        padding: 1em 0;
    }
    .titreImage
      {
        display: none;
    }
    div#portal-columns {
    background-color: @lightGreyColor;
    }
        
    
    
    
    div#content {
        background-color: @lightGreyColor !important;
        border: 0;
        .box-shadow-none();
        padding: 0;
        padding-top: 2em;
        margin: 0;
        text-align: center;
        background-image: url('@{theme}/portal-header.png');
        background-position: center 2em;
        background-repeat: no-repeat;
        background-size: 40em auto;
        min-height: 455px;
        
        h1 {
          content:url("@{theme}/logo_ecampus2.png");
        }
        
    
        div.bloc_connexion {
            background-color: @lightColor !important;
            width: 40em !important;
            border: 1px solid @mediumGreyColor !important;
            margin: 1em auto;
            margin-top: @connexionTitleTop;
            padding-bottom: 2em;
            padding-top: 3em;
       		.box-shadow-none();

            a.bouton {
                &.connexion {
                    font-size: 133%;
                    background-color: @buttonColor !important;
                }
                &.blanc {
                    margin-top: 1.5em;
                }
            }
        }
        
        span.bookmark {
            display: none;
        }
    }
    
    #portal-footer p {
        color: @lightColor;
        text-align: center;
        text-shadow:@black0 0px 0px 0px;
        background-color: @black25;
        .radius(0);
        padding: 0.5em 0;
        margin: 0;
        .box-shadow(0, 3px, 3px, @darkColor);
        background-image: url('@{theme}/uvsq-logo.png');
        background-repeat:no-repeat;
        background-position:right center;
        height:30px;
    }
}



/*** DIVERS *****************************************************************/


#edit-bar * {
    text-shadow: 0 0 0 @black100;
}
#edit-bar {
    display: none !important;
}

.centrer{
	text-align:center;
}
.position_gauche {
    float: left;
    margin-right: 0.5em;
    clear: none;
}
.position_droite {
    float: right;
    margin-left: 0.5em;
    clear: none;
}

.visualClear {
    display:block;
}

.discreet, #content .discreet,
.element_vide {
    color: @darkGreyColor;
    font-size: 85%;
    font-weight: normal;
}
.element_vide {
    font-size: 100%;
    margin-left: 2em;
}


.lecteur_exportable iframe {
    width: 100%;
}

iframe.insert_wims {
	width:100%;
	height:100%;
	min-height:600px;
	border:none;
}

div.pb-ajax ul.formTabs {
    display : none;
}

.vignette_primo img {
    width:60px;
}

/*** MARGES SUR TITRES TAGS ****/

#content h2.texte_icone.icone_tags {
    margin-top: 2em;
}

body.template-jalonfolder_view.section-cours {
    #content {
        h2.texte_icone.icone_cours {
            float: left;
            margin-right: 0.5em;
        }
        div.tags {
            margin-top: 2.25em !important;
        }
    }
}
