@import "utils";

/*** BLEU ************************************/

a, a:active, a:focus, :-moz-any-link:focus, #content a {
    color: @linkColorNormal !important;
}
a:hover, #content a:hover {
    color: @linkColorActive !important;
}

body, ul#portal-globalnav li a:hover, ul#portal-globalnav li.selected a, ul#portal-globalnav li.selected a:hover,
div#connexion_logo_jalon,

span.bookmark,

#support_ajout ul#rubrique_espace {
	background-color: @mainColor;
}

#content .onglets .categorie.selected {
	background-color: @mainColor !important;
}

a.bouton, #content a.bouton,
a.bouton:focus, #content a.bouton:focus,
input.bouton, input.searchButton, input.destructive,
.standalone,
.context, input.context, input[type="submit"].context, .formControls .actionButtons .button, .documentEditable * .context,
.qq-upload-button, .uploadifybutton,
#content a.creer_tag, #content #tag li a, #tag li a,
button.ui-button,

.couleur1,
.arrondi.selected,

div.date-picker .date-picker-hover,
div.date-picker .month-out.date-picker-hover,
div.date-picker .date-picker-selected-date,
.ui-timepicker .ui-timepicker-table .ui-state-hover {
  background-color:@buttonColor !important;
  color: @lightColor !important;
}


ul#portal-globalnav li a:hover,
ul#portal-globalnav li.selected a,
ul#portal-globalnav li.selected a:hover,
#portal-languageselector li.currentLanguage a,
#portal-languageselector li a:hover {
  background-color:@selectedColor !important;
  color: @lightColor !important;
}

#support_ajout ul#rubrique_espace li.selected a,
#support_ajout ul#rubrique_espace li.unselected a:hover {
  color: @mainColor !important;
  background-color:@lightColor !important;
}

span.bookmark_mask {
    border-color: @mainColor;
}

#content li.categorie_fichiers {
    background-color: @category1Color !important;
}

/*** BLANC ************************************/

.couleur4,

table.listing tbody tr.even,
div#content.connexion #aideContextuelle ul,
#portal-column-one,
div#content,
input, textarea, select,
input:hover, textarea:hover, select:hover,
input:focus, textarea:focus, select:focus, input[type="text"]:focus, input[type="password"]:focus,

a.bouton.blanc, #content a.bouton.blanc, .context.blanc,
input[name="form.button.cancel"],
#uploadify-clear-queue,

#portal-breadcrumbs,

.pb-ajax, .pb-image, .ui-dialog, div.overlay-inline,

img.commentImage,

.commentBody p,

table.listing tbody tr.odd td,

#tableauAjout,

#listingTrombi ul li {
  background-color: @lightColor !important;
  color: @darkColor !important;
}

#portal-footer p, #portal-footer a,

#content .categorie a,

ul#portal-globalnav li a,
ul#portal-globalnav li a:hover,
ul#portal-globalnav li a:active,
ul#portal-globalnav li.selected a,
ul#portal-globalnav li.selected a:hover,
ul#portal-globalnav li.selected a:active,

div.qq-upload-drop-area-active,

#support_ajout ul#rubrique_espace li a,

.couleur6 .formHelp, .couleur7 .formHelp,

div.date-picker .today-but:hover {
    color: @lightColor !important;
}

#support_ajout ul#rubrique_espace li a {
    border: 1px solid @white33 !important;
}

div.date-picker td,
.ui-timepicker .ui-timepicker-table table td a {
    background-color: @white25 !important;
    color: @lightColor;
}

/*** GRIS ************************************/

.arrondi,
.qq-upload-drop-area, ul.qq-upload-list li,
.tags, table.listing, div.listing_vide,
div.boardComment,
.indicateur,
#message .success, #message .failure, #message .warning,
#message.success, #message.failure, #message.warning,
.arrondi.off, .arrondi.invisible, .arrondi.invisible_date,

#aideContextuelle ul,

table.listing tbody tr.even td {
    background-color: @lightGreyColor;
}

div#content.connexion,

div.qq-upload-drop-area  {
    background-color: @lightGreyColor !important;
}

#content .categorie,

#content #tag li a, #tag li a {
    background-color: @mediumGreyColor !important;
}
input, textarea, select,
ul.token-input-list {
	border-color: @mediumGreyColor;
}

div.date-picker .out-of-range, div.date-picker .not-selectable,
div.date-picker .month-out.date-picker-highlight {
    color:@mediumGreyColor;
}

.discreet, #content .discreet, .element_vide,

div.qq-upload-drop-area,

table.listing thead th,
table.listing tfoot td,
div.listing_vide,
div.listing_vide p {
    color: @darkGreyColor !important;
}



/*** NOIR ************************************/

#exposeMask, .ui-widget-overlay,
div.date-picker table,
.ui-timepicker .ui-timepicker-table {
    background-color: @darkColor !important;
    background-image: none;
}
div.field.error {
	color:@darkColor;
}
div.date-picker .out-of-range, div.date-picker .not-selectable {
    background-color: @darkColor !important;
    border-color: @darkColor;
}

/*** ORANGE ************************************/

.couleur5,
#message .warning, #message.warning {
  background-color:@warningColor !important;
  color: @lightColor !important;
}

a.bouton.warning, #content a.bouton.warning,
input.context.warning {
  background-color:@warningButtonColor !important;
  color: @lightColor !important;
}

#aideContextuelle ul {
	border-top-color:@warningColor;
}

#content .categorie_ressourcesexternes,
#content .categorie_plan_annonce {
    background-color: @category4Color !important;
}

/*** VERT ************************************/

.couleur6,
.qq-upload-drop-area,
#message .success, #message.success {
  background-color:@informationColor !important;
  color: @lightColor !important;
}

#content .categorie_sonorisation,
#content .categorie_webconference,
#content .categorie_plan_texte,

#tag li.selected a, #content #tag li.selected a,
#content #tag li.selected a:hover, #tag li.selected a:hover {
    background-color: @category2Color !important;
}

.typeElement {
    &.type_Classement {
        border-right-color: @category2Color;
    }
    &.type_Mon_Espace {
        border-right-color: @category3Color;
    }
    &.type_Activite {
        border-right-color: @category5Color;
    }
}

div.date-picker .date-picker-today {
  background-color:@category2Color !important;
  color: @lightColor !important;
  border-color: @category2Color;
}

/*** JAUNE ************************************/

#content .categorie.categorie_wims,
#content .categorie_plan_monespace,

div.qq-upload-drop-area-active {
    background-color: @category3Color !important;
}

/*** ROUGE ************************************/

.couleur7,
#message .failure, #message.failure,

a.bouton.important, #content a.bouton.important, .context.important,
input.bouton.important, input.searchButton.important, input.destructive.important,
.context.important {
	background-color:@importantColor !important;
	color: @lightColor !important;
}

.fieldErrorBox {
	color:@importantColor;
}

#content .categorie_glossaire,
#content .categorie_plan_activite {
    background-color:@category5Color !important;
}


