@import "utils";

/*** FORUMS *************************************************************************/

.comment {
    font-size: 100%;
    margin-top: 0;
    margin-bottom: 1em;
    position: relative;
}


img.commentImage {
    background-color: @lightColor;
    color: @darkColor;
    float: right;
    width: 100px;
    height: auto;
    
    padding: 0.5em;
    margin-top: -4em;
    margin-left: 2em;
    margin-bottom: 1em;
    text-align: center;
    cursor: pointer;
    
    .rotation(10deg);
    .transition(0.25s, ease-in-out);
    .box-shadow(0, 2, 4, @black50);
    
    &:hover {
        margin-right: 1em;
        margin-top: 1em;
        .rotation(0deg);
        .scale(1.25);
    }
}
.commentBody {
    clear: none;
    margin-bottom: 0.5em;
    p {
        background-color: @lightColor;
        color: @darkColor;
        float: none;
    }
    button {
        clear: both;
    }
}

.comment {
    h1, h2, h3, h4, h5, h6 {
        font-weight: inherit;
        display: inline;
    }
}

.commentActions {
    clear: both;
    float: none;
    text-align: left;
}

.row #commenting, .row #commenting legend, .row .discussion legend {
    font-size: 100%;
}
.row #commenting fieldset, .row .discussion fieldset {
    border: 0 !important;
}
