@import "utils";

/*** PLAN INTERACTIF ****************************************************************/

/*#content .plan ol {
    background-image: url("@{theme}/parcours/parcours_fond1.png");
    background-position: right top;
    background-repeat: repeat-y;
    
    span.parcours {
        display: block;
        position: relative;
        padding-right: 43px; // 38+5
        
        a.position {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 38px;
            border: 0;
            text-indent: -10000px;
            background-image: url("@{theme}/parcours/parcours_fond2.png");
            background-position: right center;
            background-repeat: no-repeat;
        }
        &.enseignant a.position {
            background-image: url("@{theme}/parcours/parcours_enseignant.png");
        }
        &.etudiant a.position {
            background-image: url("@{theme}/parcours/parcours_etudiant.png");
        }
        a.position:hover {
            background-image: url("@{theme}/parcours/parcours_etudiant_selected.png");
        }
        .sortableElement+a.position:hover {
            background-image: url("@{theme}/parcours/parcours_enseignant_selected.png");
        }
    }
    
}*/

ol#plan, ul#annonces, ul#actualites {
    clear: both;
	li span.arrondi {
	    display: block;
	    margin-top: 0.25em;
	    overflow-x: hidden;
    }
}
.sortableElement:hover {
    cursor: move;
}

.typeElement {
    border-right-width: 4px;
    .radius-top-right(0);
    .radius-bottom-right(0);
    
    &.type_Classement {
        border-left-color: @category2Color;
        border-width:0 0 0 3px;
    }
    &.type_Mon_Espace {
        border-left-color: @category3Color;
        border-width:0 0 0 3px;
    }
    &.type_Activite {
        border-left-color: @category5Color;
        border-width:0 0 0 3px;
    }

    &.type_Titre,
    &.type_TexteLibre
     {
        border-color:@category6Color;
  		border-width:0 0 0 5px;
    }

    &.type_Titre .typeElementTitre {
        font-size: 105%;
        font-weight: 700;
    }
    &.type_TexteLibre .typeElementTitre {
        font-size: 90%;
    }
}



ul#annonces, ul#actualites {
	.typeElement {
		border: none;
		
		.typeElementTitre {
			float: none;
		}
	}
}
ul#annonces .discreet {
    .ellipsis();
	   
    &:hover {
       white-space: normal;
    }
    
    br {
        display: none;
    }
}

#glossaire, #bibliographie {
    &.listing_vide {
        margin-top: 0.25em !important;
        padding: 0.5em;
    }
    .typeElement {
        border: 0;
        
        a {
            border-bottom: 0;
            color: @linkColorNormal;
        }
    }
}

.placeholder {
    background-color: @informationColor;
    color: @lightGreyColor;
    font-size: 150%;
    height: 2em !important;
    .radius(5px);
    
    &:before {
        line-height: 2em;
    }
}

.plan > ol > .chapitre {
    margin-bottom: 1em !important;
}

.plan > ol > .chapitre a {
    color: @linkColorNormal  !important;
}

#content .plan a.link-overlay {
    border-bottom:0 !important;
    color: @linkColorNormal  !important;
}
