@import "utils";

/*** CATEGORIES *************************************************************************/

ul.categories {
    text-align:center;
}

.categorie {
    display: inline-block !important;
    font-weight: bold;
    margin-bottom: 5px !important;
    padding: 0;
    text-align: center;
    min-width: 10em;
    background-color: @lightColor;
    .gradient-2stops(@white0, @white0, 49.9%, @white0, 50%, @white0);

    a {
        &, &:active, &:focus {
            color: @darkGreyColor !important;
            text-shadow:none;
            display: block;
            text-decoration: none;
            background-position: center -5px;
            background-repeat: no-repeat;
            display: block;
            padding: 0.5em;
            border: 0 !important;
            
            width: 12.5em;
            .ellipsis();
        }
    }
    &.categorie_plan a {
        width: 17em;
    }
}

#content .categorie {
    background-color: @lightColor !important;
    a {
        &, &:active, &:focus {
            color: @darkGreyColor !important;
            border: 0 !important;
        }
    }
}

/*** COULEURS *************************************************************************/

#content {

    .categorie_plan_texte {
  	border:1px solid @category6Color;
    }
    .categorie_plan_monespace {
     border:1px solid @category2Color;
    }

    .categorie_plan_activite {
  	border:1px solid @category5Color;        
    }
    
    .categorie_plan_gestion {
  	border:1px solid @mediumGreyColor;        
    }
}

/*** ONGLETS *************************************************************************/

.onglets {
	text-align:left !important;

	.categorie {
	    float: left;
        margin-bottom: 0 !important;
        margin-right: 0.25em !important;
        padding: 0.25em !important;
        min-width: 0;
        .radius-bottom-left(0);
        .radius-bottom-right(0);
        border-bottom: 0;
        .gradient(@black10, @black0);
        
        &.selected {
	       background-color: @lightGreyColor !important;
	       .gradient(@black0, @black10);
        }
        
        a {
            width: auto;
            background-position: left center;
            line-height: 40px;
        }
    }
}

.onglets_contenu {
    clear: both;
    position: relative;
    padding: 1em;
    border: 1px dashed @mediumGreyColor;
    background-color: @lightColor;
    
    .radius(3px);
    .radius-top-left(0);
}
