[buildout]
extends = http://download.zope.org/zopetoolkit/index/1.1.2/ztk-versions.cfg
versions = versions
develop = .
parts = release
        test checker coverage-test coverage-report


[release]
recipe = z3c.recipe.dev:script
eggs = p01.releaser
method = main
module = p01.releaser.package


[test]
recipe = zc.recipe.testrunner
eggs = p01.releaser


[checker]
recipe = lovely.recipe:importchecker
path = src/p01/releaser


[coverage-test]
recipe = zc.recipe.testrunner
eggs = p01.releaser
defaults = ['--all', '--coverage', '../../coverage']


[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')
