/* Only show the data content and hide all navigation elements */
#header {
	display: None;
}

#header_menu {
	display: None;
}

.menu {
	display: None;
}

#footer{
	display: None;
}

#middle #left_menu {
	display: None;
}

#middle #content{
	width: 99%;
}

.tabs {
	border: None !important;
}

.formnavigation, .ui-tabs-nav {
	display: None;
}

.actions {
	display: None;
}
