########################################################################
#
# If you need special settings, rename this file as mpd_sima.cfg within
# your $XDG_CONFIG_HOME (default is $HOME/.config/mpd_sima/)
# You can also call it with --config option.
#
#######################################################################
#
# Nota Bene:
# Due to the track point of view of database build upon tracks tags an
# album lookup for a specific artist will return albums as soon as this
# artist appears in a single track of the album.
# For instance looking for album from "The Velvet Underground" will
# fetch "Last Days" and "Juno" OSTs because the band appears on the
# soundtrack of these two movies.
# A solution is for you to set AlbumArtists tag to something different
# than the actual artist of the track. For compilations, OSTs etc. a
# strong convention is to use "Various Artists" for this tag.
#
# MPD_sima is currently looking for AlbumArtists tags and avoid album
# where this tag is set with "Various Artists". If a single track within
# an album is found with AlbumArtists:"Various Artists" the complete
# album is skipped and won't be queued.
#
# It is planned to allow users to set the values of AlbumArtists tag
# triggering this behaviour.
# cf. feature request #2085 on the tracker:
#                   <http://codingteam.net/project/sima/bugs/show/2085>
#######################################################################

######################## SIMA CORE ####################################
#
[sima]
# These settings deal with MPD_sima core behaviour.

## Queue Mode
queue_mode = album

## CONSUME # type: integer
#
# How many played tracks to keep in the playlist.
# Allow to maintain a fixed length playlist.
# set to 0 to keep all played tracks.
#
consume = 30
##

## ALBUM_TO_ADD # type: integer
album_to_add = 2
##

#
####################### END OF CONFIGURATION ##########################

# vim: syntax=cfg fileencoding=utf-8
