/*  CSS for the search result page on gov theme */

.template-search #portal-column-content
{
    width:97.5% !important;
    margin-left: -101% !important;
}

.template-search #content h1.documentFirstHeading
{
    margin-left: 5px;
    width: 103.5%;
}

.template-search #content p,.template-search #content table,.template-search #content dl,.template-search dl.portlet p,.template-search dl.portlet {
    margin-bottom: 1em;
    width: 106%;
}

.template-search #content dd
{
    margin:0px 0px 0px 10px;
}

.result-leadimage a
{
    border:none !important;
}

.documentContent dl
{
	border: none;
	background-color: white;
	margin:6px;
	padding:6px;
}

dl.searchResults
{
	background: transparent;
	border: none;
	margin:-6px
}

div.search_result_box
{
        border: none;
        background-color: white;
        margin:15px;
        padding:10px;
	float: left;
	width: 44.9%;
	height: 150px;
        max-height: 200px;
}

div.resultTypes {
	margin-top: 25px;
        margin-bottom:30px;
}

#content form.searchPage div.resultTypes ul
{
	list-style:none;
        list-style-type:none;
        margin:0;
}

#content form.searchPage div.resultTypes ul li
{
	display:inline;
	margin-right:20px;
        margin-left: 0;
}

#content form.searchPage {
    margin: 20px 0 65px 84px;
}

div.resultTypes ul li a, div.resultTypes ul li a:visited, div.resultTypes ul li a:active
{
}

div.result-leadimage
{
	position: relative;
}

div.result-leadimage img
{
	position:absolute;
	margin-top:-13px;
	margin-left:-13px;
	top: 50%;
	left: 50%;
	opacity:0.5;	
}

div.result-leadimage:hover img
{
	opacity: 1;
}

div.result-leadimage img.leadimage
{
    	margin-left:10px;
	position:static;
	margin-top:0;
	opacity:1;
        border:1px solid #ccc;
}

div.result-leadimage
{
	float:left;
        margin-right:10px;
}

#content .search_result_box dt a.resultHeading
{
    color:#333;
    font-size: 18px;
    border:none;
    margin-bottom:20px;
    margin-left:10px;
    margin-top:10px;
    float:none;
    display:block;
    font-weight:normal;
}

#content div.resultTypes a:visited, #content div.resultTypes a{
    border-bottom:none;
    color: #3c3c3c;
    padding:5px 9px;
}

#content div.resultTypes a:hover
{
    color:white !important;
    background-color:#3c3c3c;
    padding:5px 9px;
    text-decoration:none;
}

#content div.resultTypes strong
{
    color:white;
    background-color:#3c3c3c;
    padding:5px 9px;
}

#content .search_result_box dt a.resultHeading:hover
{
    color:#3c3c3c !important;
}

input.searchPage {
    font-size: 100% !important;
}

body.template-search h1.documentFirstHeading
{
    display:none;
}

body.template-search #content div.result-publish-date
{
    color:#999;
    font-size:13px;
}

/*  Hiding stuff for now */

#content .resultTypes
{
    display:none;
}

/* == hardcoded search filters == */

#content .harcodedResultTypes
{
    margin-top: 25px;
    margin-bottom:30px;
    text-align: center;
}

#content .harcodedResultTypes ul
{
    list-style:none;
    list-style-type:none;
    margin:0;
}

#content .harcodedResultTypes ul li
{
    display:inline;
    margin-right:20px;
    margin-left: 0;
}

#content .harcodedResultTypes ul li a
{
    color:#999 !important;
    font-weight:normal;
    cursor:pointer;
}

#content .harcodedResultTypes ul li a:hover
{
    color:#000 !important;
}

#content .harcodedResultTypes ul li a.selected
{
    color:#000 !important;
}