.portletNotification .portletHeader {
  overflow:hidden;
}

.portletNotification .notifications-count {
  display:block;
  float:right;
}

ul.notifications {
  margin:0;
}

ul.notifications li {
  display:block;
  overflow:hidden;
  margin:0;
}

ul.notifications li a.delete {
  display:block;
  float:right;
  width:1em;
  height:1em;
  margin:0 0 0 0.5em;
}

ul.notifications li {
  padding:0.3em 0;
}

ul.notifications li.new:after {
  content: " \2736";
  color:#ca0;
  margin:0 0.5em 0 0;
  text-shadow:3px 0 0 rbga(204, 170, 0, 0.2);
}

ul.notifications li.loading,
ul.notifications.loading {
  background:url("spinner.gif") transparent no-repeat center center;
}

ul.notifications li.loading .delete {
  visibility:hidden;
}