[buildout]
develop = .
index = http://pypi.sterch.net/private    
extensions = lovely.buildouthttp
find-links =
    http://pypi.python.org/pypi/lovely.buildouthttp/
    http://download.zope.org/distribution/

parts = test
	product
        pydev

newest = false
unzip = true

[product]
recipe = zc.recipe.egg
eggs = sterch.conveyor
interpreter = python

[test]
recipe = zc.recipe.testrunner
eggs = sterch.conveyor [test]

[pydev]
recipe = pb.recipes.pydev
eggs = ${product:eggs}