#portal-accessibilityactions{
    font-size: 85%;
    background:none;
    float:right;
    padding: 4px;

    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    -moz-border-bottom-right-radius: 0.5em;
    -moz-border-bottom-left-radius: 0.5em;
    -webkit-border-bottom-right-radius: 0.5em;
    -webkit-border-bottom-left-radius: 0.5em;

    margin-left: 4px;
    text-align:center;
    background-color:black;
    color:white
}

#portal-accessibilityactions a{
    color: white;
}
#portal-accessibilityactions a:before{
    content: "☐ ";
}
#portal-accessibilityactions a:hover{
  color: white;
}

.ploomcake-high-contrast #accessibilityaction-highcontrast a:before{
    content: "☑ ";
}


.ploomcake-big-fonts #accessibilityaction-bigfonts a:before{
    content: "☑ ";
}

@media screen and (max-width: 650px) {


    #portal-accessibilityactions{
        float:none;
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        margin-left:0;
    }
}
