.polls-ul{
    list-style-type: none;
}
.polls-ul li{
    float: left;
    width: 100%;
}
.poll-name{
    float:left;
    max-width:30%;
}
.poll-desc{
    margin-left: 10px;
    max-width: 69%;
    float:left;
}

h1{
    font-size: medium;
}

.error{
    width: 100%;
    border: 1px solid red;
}

.question-set{
    width: 100%;
    float: left;
}
.question-text{
    float: left;
}
.question-answers{
    float: left;
}