body {
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-position: 50% 150px;
    background-attachment: fixed;
    width: 730px;
    position: absolute;
    padding-left: 10%;
    font-size: 12px;
    font-family: helvetica;
    }

* {
    position: relative;
    padding: 0;
    margin: 0;
    font-size: inherit;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    list-style-type: none;
    vertical-align: top;
    text-align: inherit;
    border-collapse: collapse;
    border: 0 none transparent;
    color: inherit;
    background-color: transparent;
}

h1 {
    font-weight: bold;
    padding-bottom: 1em;
}

h2 {
    font-weight: bold;
    padding: 1em 0em 1em 0em;
}

#current {
    padding: 0em;
}

#logged_in {
    color: green;
}

#logged_in a {
    color: green;
}

#not_logged_in a {
    color: red;
}

button {
    background-color: white;
    border: 1px;
    border-style: solid;
    border-color: black;
    background-color: lightblue;
    padding: 10px;
    margin-bottom: 10px;
}

td {
    padding-top: 10px;
}

.text a {
    margin-bottom: 5px;
    padding: 2px;
    border: solid;
    display: block;
    font-weight: bold;
}

#charnav {
    position: fixed;
    top: 50px;
    right: 20px;
}

#music {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 49%;
    height: 20%;
    background-color: silver;
    border: solid;
    border-color: black;
    display: inline-block;
}

#playlist {
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 50%;
    height: 20%;
    background-color: silver;
    border: solid;
    border-color: black;
    display: inline-block;
}

.navigation {
    padding-top: 55px;
    text-align: center;
}

